#loginmodal.modal.fade{"aria-hidden" => "true", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"}  
        %h2 Welcome to TaxBestimates
      .modal-body
        = form_for(resource, class: 'form col-md-12 center-block' , as: resource_name, url: session_path(resource_name)) do |f|
          .form-group
            = f.email_field :email, class: 'form-control input-lg', autofocus: true, placeholder: 'Email'
          .form-group
            = f.password_field :password, class: 'form-control input-lg', autocomplete: "off", placeholder: 'Password'
          .form-group.addtop
            = f.submit "Login to my Account", class: 'btn btn-primary btn-lg btn-block caps btnreg'
      .modal-footer
        %p.text-center
          = link_to "Forgot Password?", forgot_password_path
          |
          = link_to "Create an Account", register_path
