= content_for :title, "About Us - TaxBestimates"
.innercont.gene
  .container
    .row
      .col-md-8.col-md-offset-2
        %h2 Our Mission
        %p TaxBestimates Inc. is a Silicion Valley based company that is passionate about providing individual taxpayers with information they can use to simply manage their personal tax position. Our simple, yet sophisticated, tax platform will not only provide real-time tax information that can be used to manage your personal taxes, but it will provide tax recommendations that will optimize our users’ current period paycheck tax withholdings and year end task liability or refund.
    .row
      .col-md-8.col-md-offset-2
        %h2 How TaxBestimates Works
        %p TaxBestimates is a company that strives to make using our software as simple as possible as we understand that Year-End tax filings and managing payroll withholdings can be intimidating. With TaxBestimates, we have programmed our software to ask only the necessary questions based on your unique situation to improve your experience and provide our users with results, quicker.
