= content_for :title, "Contact - TaxBestimates"
.innercont.gene
  .container
    .row
      .col-md-8.col-md-offset-2
        %h2 Contact Us
        %p We’re currently seeking partnerships with payroll, accounting, and insurance providers. If you feel like TaxBestimates may be a good partnership, we would love to hear from you.
        %p
          All partnership inquires should be sent to
          %a{href: 'mailto:info@taxbestimates.com?Subject=TaxBestimates%20Inquiry'}
            info@taxbestimates.com
          \.
