!!!
/[if lt IE 7] <html class="no-js lt-ie9 lt-ie8 lt-ie7">
/[if IE 7] <html class="no-js lt-ie9 lt-ie8">
/[if IE 8] <html class="no-js lt-ie9">
/ [if gt IE 8]><!
%html.no-js
  / <![endif]
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %title TaxBestimates
    %meta{:content => "Increase your take home pay with each paycheck.", :name => "description"}/
    %meta{:content => "Join TaxBestimates!", :property => "og:title"}/
    %meta{:content => "http://www.taxbestimates.com/img/fb-og-img.png", :property => "og:image"}/
    %meta{:content => "TaxBestimates", :property => "og:site_name"}/
    %meta{:content => "Increase your take home pay with each paycheck.", :property => "og:description"}/
    %meta{:content => "http://www.taxbestimates.com", :property => "og:url"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %meta{:content => "index, follow", :name => "robots"}/
    = stylesheet_link_tag :funnel
    = favicon_link_tag 'favicon.ico', type: 'image/icon'
    = csrf_meta_tag
  %body.home.cs
    #fb-root
    :javascript
      (function(d, s, id) {
              var js, fjs = d.getElementsByTagName(s)[0];
              if (d.getElementById(id)) return;
              js = d.createElement(s); js.id = id;
              js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=519024581485885&version=v2.0";
              fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
    /[if lt IE 7]
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    .container
      .row.cshead
        .col-md-6.csheadl
          =image_tag "static_pages/tz-logo-home.png"
        .col-md-6.csheadr
          .fb-like{"data-action" => "like", "data-href" => "http://www.taxbestimates.com", "data-layout" => "button_count", "data-share" => "true", "data-show-faces" => "false"}
          .tw
            %a.twitter-share-button{"data-hashtags" => "taxbestimates", "data-url" => "http://www.taxbestimates.com", :href => "https://twitter.com/share"} Tweet
            :javascript
              !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
      .row.cscontm
        .col-md-8.col-md-offset-2
          %h1 The simplest way to understand your personal tax position
        .row.steps
          .col-md-12.mailerx
            %h3 Join the waiting list and be part of the beta team to optimize your paycheck and manage your year-end taxes.
            .form-group
              %input.form-control.input-lg.emailcs#join-list-email{:placeholder => "Enter your email for early access", :type => "text"}/
              .alert-container.alert{role: 'alert'}
              %a.btn.btn-primary.btn-lg.btn-block.caps.csbtn#join-list-btn{:href => "#", :role => "button"} Join the List
          .col-md-12
            %h2 How TaxBestimates Works
          .col-md-3
            =image_tag "funnel/step1.png"
            Provide us with some basic background information about yourself.
          .col-md-3
            =image_tag "funnel/step3.png"
            Tell us about your income and deduction details for the current year to date.
          .col-md-3
            =image_tag "funnel/step4.png"
            View your estimated tax liability or refund.
          .col-md-3
            =image_tag "funnel/step5.png"
            We provide recommendations so you can better manage your estimated tax refund or liability.
    = javascript_include_tag :funnel
    :javascript
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-59197795-1', 'auto');
      ga('send', 'pageview');