.home
  = render partial: "layouts/static/static_header"
  .jumbotron
    .container
      %h1 Increase your take home pay with each paycheck
      %p
        %a.playvid{"data-remote" => "http://player.vimeo.com/video/80629469", "data-toggle" => "lightbox", :href => "http://vimeo.com/80629469"}
          =image_tag "static_pages/playvid.png"
      %p
        %a.btn.btn-primary.btn-lg{:href => "register", :role => "button"} Get Started
  .container
    .row.homecont
      .col-md-4
        =image_tag "static_pages/employee.png"
        %h2 Employees
        %p Manage your taxes as a regular employee
      .col-md-4
        =image_tag "static_pages/contractor.png"
        %h2 Contractors
        %p Manage your taxes as an independent contractor
      .col-md-4
        =image_tag "static_pages/bizowner.png"
        %h2 Business Owners
        %p Manage your taxes as the owner of an LLC, Sole Prop, or Partnership
