= content_for :title, "Privacy Policy"
%section#privacy.document
  .container
    %h2.section-title TaxBestimates Privacy Policy

    %p Your privacy is very important to us. This Privacy Policy is designed to help you understand how we handle your personal information, and we encourage you to read it carefully so that you can make informed decisions about what information you share with us.

    %p Unless defined in this Privacy Policy, the capitalized words and phrases below are defined in our Terms of Service, which we encourage you to read with this Privacy Policy. When you use the Service, you agree to this Privacy Policy and our Terms of Service.

    %h2.section-header WHAT INFORMATION DO WE COLLECT?

    %h4.ss-title We collect some of your personal information

    %p The Service collects and stores some of your personal information, which includes information that may be used to identify you. Your name, email address, physical address, telephone number, and social security number are personal information, as is information about your finances, such as your bank account details, tax returns, and any information we receive from your payroll provider. These are only a few examples of the personal information that you may share with us when you use the Service.

    %p You may share personal information with TaxBestimates in several ways, including by visiting our website, registering an account, using features of the Service, or contacting us for support. We may not be able to offer you access to the Service unless you provide us with your personal information.

    %h4.ss-title We use cookies to recognize your computer.

    %p TaxBestimates uses “cookies,” tiny text files that reside on your computer, to enable you to access the Service. Cookies help us recognize your computer when you visit our website and use the Service, but they do not contain any personal information about you. We, along with our affiliates and some other third parties, may use cookies to learn about how you use the Service and interact with advertisements.

    %p You can configure your browser to notify you when a website asks to store a cookie on your computer, or you can choose to block cookies entirely. However, some parts of the Service may rely on cookies in order to function properly. If you refuse to accept cookies, you may have difficulty using the Service.

    %h4.ss-title We do not store your payment information.

    %p If you pay for the Service using a credit card, TaxBestimates staff will not have access to your credit card details. Your payment information will be encrypted and securely stored by our credit card processor.

    %h2.section-header HOW DO WE USE YOUR INFORMATION?

    %h4.ss-title We limit the ways we use your personal information.

    %p TaxBestimates collects your personal information so that you can use the Service and its various features. We use the information we collect for a variety of related purposes. For example, we may use your personal information to verify your identity, keep in touch with you, give you access to features, keep you informed about changes to the Service, introduce you to new products from us and from third parties, help you resolve technical issues, and comply with laws and regulations.

    %p When you use the Service, you agree that we may collect your personal information, store it, and use it in these ways and in any others that you authorize or request.

    %h4.ss-title You may ask us to share information with third parties.

    %p
      %u Electronic Filing.
      You may ask us to electronically file your tax return, in which case we will be required to disclose identifying information about you to the Internal Revenue Service (“IRS”) as part of the electronic filing process. In addition to any information you have provided for the purpose of populating your tax return, we may need to share additional data including the Internet Protocol address of the computer from which you submitted the return and the email address associated with your account. When you use the electronic filing feature, you agree that we may disclose to the IRS any information they request, and you permit us to store and maintain all information necessary to comply with applicable laws.

    %p
      %u Third Party Login.
      The Service may enable you to grant another user, such as a tax advisor, permission to access your account and view your personal information using a Third Party Login. When you use this feature, you authorize us to share your personal information with that third party. It is important that you only grant a Third Party Login to people you know and trust, because we cannot control or take responsibility for the ways in which they use the personal information stored in your account.

    %p
      %u Third Party Products.
      You may ask us to share your personal information with a Third Party Product. By making such a request, you give us permission to transfer information from your account to a service controlled by a third party, and you agree that you and your information will be subject to that Third Party Product’s terms and conditions and privacy policy. Please be sure that you trust any third parties with whom you direct us to share your information, because we have no control over how they will use it.

    %h4.ss-title You may ask for access to your personal information.

    %p You are responsible for keeping the personal information stored by the Service accurate and up-to-date. You can request access to information associated with your account, or ask us to modify any information we have stored, by emailing your request to [info@TaxBestimates.com] . We will process your request as soon as we reasonably can, unless we are legally prevented from doing so. If we cannot honor your request, we will notify you.

    %p We will store your personal information only for as long as is necessary to give you access to the Service. Under some circumstances, including those noted above, we may be required by law to refrain from deleting your personal information until a certain amount of time has passed. When you share your personal information with us, you give us permission to store it for any length of time that may be legally required, or longer if we have a reasonable business need to do so.

    %h4.ss-title We aggregate some non-personally identifiable information.

    %p When you use the Service, you authorize us to collect, aggregate and use certain information associated with your account. The information we gather will never identify you or any other user of the Service, but we may use it to help us understand how you and other users interact with the Service, introduce users to new ways of using the Service, and improve the Service.

    %h4.ss-title We may disclose your personal information under other limited circumstances.

    %p On occasion, TaxBestimates may need to disclose your personal information to third parties in order to comply with court orders, subpoenas, or legal investigations, including those conducted by tax authorities. We will try to notify you if we are legally required to share your information with a third party without your consent, provided that it is possible and legal for us to do so.

    %h2.section-header HOW DO WE STORE YOUR INFORMATION?

    %h4.ss-title We are committed to protecting your personal information.

    %p We are committed to keeping your personal information secure. We take all reasonable precautions to prevent unauthorized access, modification, or disclosure. We store your personal information on secure serves and use SSL encryption to secure all data transferred between you and the Service.

    %p You can help us protect your personal information by keeping your account password safe. Change your password and let us know immediately if you think that someone has stolen or misused it. When you share information with us, you do so at your own risk and you should take care to only access and transmit information to the Service from a trusted device in a secure environment.

    %p Despite our efforts, we cannot guarantee that your information will be secure at all times. If we discover that a security breach has compromised your personal information in some way, such as by loss, theft, or unauthorized use, we will alert you at the first reasonable opportunity.

    %h2.section-header HOW DO WE COMMUNICATE WITH YOU?

    %h4.ss-title You may contact us with questions or concerns about privacy.

    %p If you have a question or concern about the way we have handled your personal information, please get in touch with us by email at [info@TaxBestimates.com] . Include as much detail as possible in your message and provide any additional documentation that may be relevant.

    %h4.ss-title You can decline to receive most email communications.

    %p TaxBestimates sends a variety of information to the email address you share with us when you register an account, including information about our products and your subscription to the Service. Every email that you receive from us will contain straightforward instructions for removing yourself from our mailing lists. We will promptly honor any removal requests you make, although we will continue to send emails containing critical information related to your use of the Service.

    %h4.ss-title We may update this policy.

    %p TaxBestimates reserves the right to modify this Privacy Policy at any time. Any amendments we make will be reflected on this website, and will become effective at the time they are posted. We will try to make you aware of any significant changes by reaching out through email or displaying a notification within the Service. By continuing to use the Service, you agree to be bound by any changes we make to this Policy.