= content_for :title, "Terms and Conditions"
%section#terms.document
  .container
    %h2.section-title TaxBestimates Terms and Conditions

    %p Welcome, and thank you for your interest in TaxBestimates Inc. (“TaxBestimates,” “we,” or “us”) and our website at www.TaxBestimates.com, along with our related websites, applications, and other services provided by us (collectively, our “Service”). These Terms of Service are a legally binding contract between you and TaxBestimates regarding your use of the Service.

    %p PLEASE READ THE FOLLOWING TERMS CAREFULLY. BY CLICKING “I ACCEPT” OR OTHERWISE INDICATING YOUR ACCEPTANCE, OR BY USING THE SERVICE, YOU ACKNOWLEDGE THAT YOU HAVE READ, UNDERSTOOD, AND AGREE TO BE BOUND BY THE FOLLOWING TERMS AND CONDITIONS, INCLUDING THE TAXBESTIMATES PRIVACY POLICY (TOGETHER, THE “TERMS”). If you are not eligible, or do not agree to the Terms, then you do not have our permission to use the Service. 

    %p These Terms provide that all disputes between you and TaxBestimates will be resolved by BINDING ARBITRATION. YOU AGREE TO GIVE UP YOUR RIGHT TO GO TO COURT to assert or defend your rights under these terms, except for matters that may be taken to small claims court. Your rights will be determined by a NEUTRAL ARBITRATOR and NOT a judge or jury, and your claims CANNOT be brought as a class action. Please review Section 18 (“Dispute Resolution and Arbitration”) for the details regarding your agreement to arbitrate any disputes with TaxBestimates.

    %ol
      %li
        %strong TaxBestimates Service and Features.
        TaxBestimates is an online service that allows you to create an account, import information from your payroll provider, and forecast your expected tax refund or liability. You may also be provided with the ability to file tax returns electronically through TaxBestimates and get connected to third party products and services that match your particular financial circumstances. TAXBESTIMATES DOES NOT PROVIDE TAX ADVICE AND SHOULD NOT BE RELIED UPON FOR TAX ADVICE.

        %ol
          %li
            %strong Payroll Import.
            The Service enables you to import information from an online payroll processor into your account. We do not guarantee that we will offer integration with any particular payroll provider at any given time. Your payroll information will be used in accordance with our Privacy Policy.

          %li
            %strong Electronic Filing.
            You may be provided with the ability to file U.S. Federal tax returns electronically using the Service. The Internal Revenue Service requires us to disclose identifying information about you as part of the electronic filing process, which is further described in our Privacy Policy.

          %li
            %strong Third Party Login.
            You may be provided with the ability to authorize another user, such as a tax advisor, to view the information stored in your account using a separate set of login credentials. You agree that we can provide such third party with access to your account and information. The service will provide you with the ability to control certain information disclosed to the third party. If other users grant you access to their accounts using this feature, you agree that you will use any information you obtain as a result of access to their accounts exclusively for the benefit of the user who granted you access.

          %li
            %strong Third Party Products.
            From time to time you may be invited to use products or services provided by a third party (“Third Party Products”). We may use information associated with your account to identify, contact you about or offer you Third Party Products. In addition, in some cases you may ask us to share information stored in your account with those Third Party Products, and we will transmit the information on your behalf to the third party. Such information will be subject to the third party’s privacy policy and terms of service. Please review both.

      %li
        %strong Eligibility.
        You must be at least 18 years of age to use the Service. By agreeing to these Terms, you represent and warrant to us that: (a) you are at least 18 years of age; (b) you have not previously been suspended or removed from the Service; and (c) your registration and your use of the Service is in compliance with all applicable laws and regulations. If you are using the Service on behalf of an entity, organization, or company, you represent and warrant that you have the authority to bind that organization to these Terms and you agree to be bound by these Terms on behalf of that organization. 

      %li
        %strong Accounts and Registration.
        To access the Service, you must register for an account and share some information about yourself with us. You agree that the information you provide to us is accurate and that you will keep it accurate and up-to-date at all times. You authorize us to make any inquiries necessary to verify your identity using any of the information that you provide to us. You are solely responsible for maintaining the confidentiality of your account and password, and you accept responsibility for all activities that occur under your account. If you have reason to believe that your account is no longer secure, then you must immediately notify us at info@TaxBestimates.com.

      %li
        %strong Payment.
        Access to the Service requires you to pay a recurring fee. Certain features of the service may require additional one-time or recurring fees. Before you sign up for the Service or any feature, you will have an opportunity to review and accept the fees that you will be charged. All fees are in U.S. dollars and are non-refundable. If TaxBestimates changes the fees for the Service or any feature, including by adding additional fees or charges, TaxBestimates will provide you advance notice of those changes. If you do not accept the changes, TaxBestimates may discontinue providing the Service or feature to you. If you continue to use the Service after a notice of a price increase, you acknowledge that you will have accepted the increased fees. You authorize TaxBestimates to charge all sums to which you agree, for the Service or feature you select, to the payment method you specify at the time of purchase. If you pay any fees with a credit card, TaxBestimates may seek pre-authorization of your credit card account prior to your purchase to verify that the credit card is valid and has the necessary funds or credit available to cover your purchase. All Service fees will be charged on a monthly accruing basis unless otherwise stated. You authorize TaxBestimates to periodically charge, on a going-forward basis and until cancellation of either the recurring payments or your account, all accrued sums on or before the payment due date for the accrued sums. You also authorize TaxBestimates to charge any one-time fees to which you agree.

      %li
        %strong User Content.
        You are responsible for all materials (“Content”) uploaded, posted or stored through your use of the Service. TaxBestimates is not responsible for the Content or data you submit through the Service. Without limiting other rights you grant us, you grant TaxBestimates a worldwide, royalty-free, non-exclusive license to host and use any Content provided through your use of the Services in order to provide you with the Service. 

      %li
        %strong Feedback.
        If you choose to provide input and suggestions or propose modifications or improvements to the Service (“Feedback”), then you hereby grant TaxBestimates an unrestricted, perpetual, irrevocable, non-exclusive, fully-paid, royalty-free right to exploit the Feedback in any manner and for any purpose, including to improve the Service and create other products and services.

      %li
        %strong Ownership; Proprietary Rights.
        The Service is owned and operated by TaxBestimates. All visual interfaces, graphics, algorithms, technology, and other elements of the Service (“Materials”) provided by TaxBestimates are protected by intellectual property and other laws. All Materials included in the Service are the property of TaxBestimates or our third-party licensors. Except as expressly authorized by TaxBestimates, you may not make use of the Materials. TaxBestimates reserves all rights to the Materials not granted expressly in these Terms. No ownership rights in any materials are assigned to you.

      %li
        %strong Prohibited Conduct.
        BY USING THE SERVICE YOU AGREE NOT TO:

        %ol
          %li use the Service for any illegal purpose or in violation of any local, state, national, or international law;

          %li violate, or encourage others to violate, any right of a third party, including by infringing or misappropriating any third party intellectual property right;

          %li interfere with security-related features of the Service, including by reverse engineering or otherwise attempting to discover the source code of any portion of the Service except to the extent that the activity is expressly permitted by applicable law; 

          %li interfere with the operation of the Service or any user’s enjoyment of the Service, including by: (a) uploading or otherwise disseminating any virus, adware, spyware, worm, or other malicious code; (b) attempting to collect personal information about another user or third party without consent; or (c) interfering with or disrupting any network, equipment, or server connected to or used to provide the Service, or violating any regulation, policy, or procedure of any such network, equipment, or server;

          %li perform any fraudulent activity including impersonating any person or entity, claiming a false affiliation, accessing any other Service account without permission, or falsifying your age or date of birth; 

          %li attempt to do any of the acts described in this Section 8, or assist or permit any person to engage in any of the acts described in this Section 8.

      %li
        %strong Termination of Use; Discontinuation and Modification of the Service.
        You may terminate your account at any time. If you terminate your account, you remain obligated to pay all outstanding fees, if any, incurred prior to termination relating to your use of the Service. You will not receive any refunds in connection with such termination by you. If you violate any provision of these Terms, your permission from us to use the Service will terminate automatically. In addition, TaxBestimates may in its sole discretion terminate your user account on the Service or suspend or terminate your access to the Service at any time for any reason or no reason, with or without notice. We also reserve the right to modify or discontinue the Service at any time (including by limiting or discontinuing certain features of the Service), temporarily or permanently, without notice to you. We will have no liability whatsoever on account of any change to the Service or any suspension or termination of your access to or use of the Service.

      %li
        %strong Privacy Policy; Additional Terms
        %ol
          %li
            %strong Privacy Policy.
            Please read the TaxBestimates Privacy Policy carefully for information relating to our collection, use, storage and disclosure of your personal information. The TaxBestimates Privacy Policy is incorporated by this reference into, and made a part of, these Terms.

          %li
            %strong Additional Terms.
            Your use of the Service is subject to all additional terms, policies, rules, or guidelines applicable to the Service or certain features of the Service that we may post on or link to from the Service (the “Additional Terms”), such as end-user license agreements for any downloadable software applications, or rules that are applicable to a particular feature or content on the Service, subject to Section 11. All Additional Terms are incorporated by this reference into, and made a part of, these Terms.

      %li
        %strong Modification of these Terms.
        We reserve the right, at our discretion, to change these Terms on a going-forward basis at any time. Please check these Terms periodically for changes. If a change to these Terms materially modifies your rights or obligations, you will be required to accept the modified Terms in order to continue to use the Service.  Material modifications are effective upon your acceptance of the modified Terms. Immaterial modifications are effective upon publication. Disputes arising under these Terms will be resolved in accordance with the version of these Terms that was in effect at the time the dispute arose. 

      %li
        %strong Indemnity.
        You are responsible for your use of the Service, and you will defend, indemnify, and hold harmless TaxBestimates and its officers, directors, employees, consultants, affiliates, subsidiaries and agents (together, the “TaxBestimates Entities”) from and against every claim, liability, damage, loss, and expense, including reasonable attorneys' fees and costs, arising out of or in any way connected with: (a) your access to, use of, or alleged use of, the Service; (b) your violation of any portion of these Terms, any representation, warranty, or agreement referenced in these Terms, or any applicable law or regulation; (c) your violation of any third-party right, including any intellectual property right or publicity, confidentiality, other property, or privacy right; or (d) any dispute or issue between you and any third party. We reserve the right, at our own expense, to assume the exclusive defense and control of any matter otherwise subject to indemnification by you (without limiting your indemnification obligations with respect to that matter), and in that case, you agree to cooperate with our defense of that claim.

      %li
        %strong Disclaimers; No Warranties
        %p THE SERVICE AND ALL MATERIALS AND CONTENT AVAILABLE THROUGH THE SERVICE ARE PROVIDED “AS IS” AND ON AN “AS AVAILABLE” BASIS, WITHOUT WARRANTY OR CONDITION OF ANY KIND, EITHER EXPRESS OR IMPLIED. TAXBESTIMATES, ITS OFFICERS, DIRECTORS, AFFILIATES, AND LICENSORS (COLLECTIVELY, “TAXBESTIMATES ENTITIES”) DISCLAIM ALL WARRANTIES OF ANY KIND, WHETHER EXPRESS OR IMPLIED, RELATING TO THE SERVICE AND ALL MATERIALS AVAILABLE THROUGH THE SERVICE, INCLUDING: (A) ANY IMPLIED WARRANTY OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, TITLE, QUIET ENJOYMENT, OR NON-INFRINGEMENT; AND (B) ANY WARRANTY ARISING OUT OF COURSE OF DEALING, USAGE, OR TRADE. THE TAXBESTIMATES ENTITIES DO NOT WARRANT THAT THE SERVICE OR ANY PORTION OF THE SERVICE, OR ANY MATERIALS OR CONTENT OFFERED THROUGH THE SERVICE, WILL BE UNINTERRUPTED, SECURE, OR FREE OF ERRORS, VIRUSES, OR OTHER HARMFUL COMPONENTS, AND DO NOT WARRANT THAT ANY OF THOSE ISSUES WILL BE CORRECTED.

        %p IT IS YOUR RESPONSIBILITY TO ENSURE THAT ANY INFORMATION IN YOUR ACCOUNT, WHETHER PROVIDED BY YOU, IMPORTED, OR AUTOMATICALLY POPULATED BY THE SERVICE, IS ACCURATE AND UP-TO-DATE. YOU ACKNOWLEDGE AND AGREE THAT OUR ABILITY TO PROVIDE THIS SERVICE DEPENDS ON THE ACCURACY OF INFORMATION IN YOUR ACCOUNT. YOU AGREE TO VERIFY SUCH INFORMATION AND ACKNOWLEDGE THAT WE HAVE NO RESPONSIBILITY TO VERIFY OR AUDIT SUCH INFORMATION. IF YOU ELECT TO FILE YOUR TAX RETURNS ELECTRONICALLY, IT IS YOUR RESPONSIBILITY TO CHECK YOUR SUBMISSIONS FOR ERRORS AND VERIFY THAT YOUR RETURNS HAVE BEEN RECEIVED AND PROCESSED BY THE APPROPRIATE TAXING AUTHORITIES.

        %p WE TAKE NO RESPONSIBILITY AND ASSUME NO LIABILITY FOR THE CONDUCT OF ANY THIRD PARTIES AUTHORIZED TO ACCESS YOUR INFORMATION USING A THIRD PARTY LOGIN PROVIDED THROUGH THE SERVICE.

        %p TAXBESTIMATES IS NOT RESPONSIBLE FOR THE CONTENT OF THIRD PARTY PRODUCTS, AND DOES NOT ENDORSE, WARRANT, OR GUARANTEE ANY THIRD PARTY PRODUCTS, INCLUDING THOSE ADVERTISED ON OR LINKED FROM THE SERVICE. TAXBESTIMATES DOES NOT GUARANTEE THAT THE TERMS ADVERTISED BY A THIRD PARTY PRODUCT WILL BE AVAILABLE TO YOU IF YOU PURSUE AN OFFER MADE THROUGH THE SERVICE. TAXBESTIMATES TAKES NO RESPONSIBILITY FOR THE BILLING PRACTICES OF THIRD PARTY PRODUCTS ADVERTISED ON OR LINKED FROM THE SERVICE.

        %p SOME JURISDICTIONS MAY PROHIBIT A DISCLAIMER OF WARRANTIES AND YOU MAY HAVE OTHER RIGHTS THAT VARY FROM JURISDICTION TO JURISDICTION.

      %li
        %strong Limitation of Liability
        %p IN NO EVENT WILL THE TAXBESTIMATES ENTITIES BE LIABLE TO YOU FOR ANY INDIRECT, INCIDENTAL, SPECIAL, CONSEQUENTIAL OR PUNITIVE DAMAGES OR ANY COSTS OF COVER, OR ANY TAX LIABILITY, PENALTY OR INTEREST OF YOURS, OR YOUR INABILITY TO FILE A TAX RETURN, ARISING OUT OF OR RELATING TO YOUR ACCESS TO OR USE OF, OR YOUR INABILITY TO ACCESS OR USE, THE SERVICE OR ANY MATERIALS OR CONTENT ON THE SERVICE, WHETHER BASED ON WARRANTY, CONTRACT, TORT (INCLUDING NEGLIGENCE), STATUTE, OR ANY OTHER LEGAL THEORY, AND WHETHER OR NOT ANY TAXBESTIMATES ENTITY HAS BEEN INFORMED OF THE POSSIBILITY OF DAMAGE. 

        %p EXCEPT AS PROVIDED BELOW, THE AGGREGATE LIABILITY OF THE TAXBESTIMATES ENTITIES TO YOU FOR ALL CLAIMS ARISING OUT OF OR RELATING TO THE USE OF OR ANY INABILITY TO USE ANY PORTION OF THE SERVICE OR OTHERWISE UNDER THESE TERMS, WHETHER IN CONTRACT, TORT, OR OTHERWISE, IS LIMITED TO THE GREATER OF: (A) THE AMOUNT YOU HAVE PAID TO TAXBESTIMATES FOR ACCESS TO AND USE OF THE SERVICE IN THE 12 MONTHS PRIOR TO THE EVENT(S) OR CIRCUMSTANCES GIVING RISE TO CLAIM; OR (B) $100. 

        %p SOME JURISDICTIONS DO NOT ALLOW THE EXCLUSION OR LIMITATION OF LIABILITY FOR CONSEQUENTIAL OR INCIDENTAL DAMAGES. ACCORDINGLY, THE ABOVE LIMITATION MAY NOT APPLY TO YOU. 

        %p EACH PROVISION OF THESE TERMS THAT PROVIDES FOR A LIMITATION OF LIABILITY, DISCLAIMER OF WARRANTIES, OR EXCLUSION OF DAMAGES IS INTENDED TO AND DOES ALLOCATE THE RISKS BETWEEN THE PARTIES UNDER THESE TERMS. THIS ALLOCATION IS AN ESSENTIAL ELEMENT OF THE BASIS OF THE BARGAIN BETWEEN THE PARTIES. EACH OF THESE PROVISIONS IS SEVERABLE AND INDEPENDENT OF ALL OTHER PROVISIONS OF THESE TERMS. THE LIMITATIONS IN THIS SECTION 14 WILL APPLY EVEN IF ANY LIMITED REMEDY FAILS OF ITS ESSENTIAL PURPOSE.

      %li
        %strong Governing Law.
        These Terms are governed by the laws of the State of California without regard to conflict of law principles. If a lawsuit or court proceeding is permitted under these Terms, you and TaxBestimates agree to submit to the personal and exclusive jurisdiction of the state courts and federal courts located within Santa Clara County, California for the purpose of litigating any dispute. 

      %li
        %strong Force Majeure.
        TaxBestimates shall not be liable for any default or delay in the performance of its obligations under this agreement to the extent its performance is delayed or prevented due to causes beyond its reasonable control, such as acts of God, natural disasters, terrorist acts, war or other hostilities, labor disputes, civil disturbances, the actions or omissions of third parties, electrical or communication system failures, or governmental action.

      %li
        %strong General.
        These Terms, together with the Privacy Policy and any other agreements expressly incorporated by reference into these Terms, are the entire and exclusive understanding and agreement between you and TaxBestimates regarding your use of the Service. Except as expressly permitted above, these Terms may be amended only by a written agreement signed by authorized representatives of all parties to these Terms. You may not assign or transfer these Terms or your rights under these Terms, in whole or in part, by operation of law or otherwise, without our prior written consent. We may assign these Terms at any time without notice or consent. The failure to require performance of any provision will not affect our right to require performance at any other time after that, nor will a waiver by us of any breach or default of these Terms, or any provision of these Terms, be a waiver of any subsequent breach or default or a waiver of the provision itself. Use of section headers in these Terms is for convenience only and will not have any impact on the interpretation of any provision. If any part of these Terms is held to be invalid or unenforceable, the unenforceable part will be given effect to the greatest extent possible, and the remaining parts will remain in full force and effect. Upon termination of these Terms, Sections 2, 4, and 6 through 18, along with the Privacy Policy and any other accompanying agreements, will survive.

      %li
        %strong Dispute Resolution and Arbitration
        %ol
          %li
            %strong Generally.
            In the interest of resolving disputes between you and TaxBestimates in the most expedient and cost effective manner, you and TaxBestimates agree that every dispute arising in connection with these Terms will be resolved by binding arbitration. Arbitration is less formal than a lawsuit in court. Arbitration uses a neutral arbitrator instead of a judge or jury, may allow for more limited discovery than in court, and can be subject to very limited review by courts. Arbitrators can award the same damages and relief that a court can award. This agreement to arbitrate disputes includes all claims arising out of or relating to any aspect of these Terms, whether based in contract, tort, statute, fraud, misrepresentation, or any other legal theory, and regardless of whether a claim arises during or after the termination of these Terms. YOU UNDERSTAND AND AGREE THAT, BY ENTERING INTO THESE TERMS, YOU AND TAXBESTIMATES ARE EACH WAIVING THE RIGHT TO A TRIAL BY JURY OR TO PARTICIPATE IN A CLASS ACTION.

          %li
            %strong Exceptions.
            Despite the provisions of Section 19.1, nothing in these Terms will be deemed to waive, preclude, or otherwise limit the right of either party to: (a) bring an individual action in small claims court; (b) pursue an enforcement action through the applicable federal, state, or local agency if that action is available; (c) seek injunctive relief in a court of law; or (d) to file suit in a court of law to address an intellectual property infringement claim. 

          %li
            %strong Arbitrator.
            Any arbitration between you and TaxBestimates will be settled under the Federal Arbitration Act, and governed by the Commercial Dispute Resolution Procedures and the Supplementary Procedures for Consumer Related Disputes (collectively, “AAA Rules”) of the American Arbitration Association (“AAA”), as modified by these Terms, and will be administered by the AAA. The AAA Rules and filing forms are available online at www.adr.org, by calling the AAA at 1-800-778-7879, or by contacting TaxBestimates.

          %li
            %strong Notice; Process.
            A party who intends to seek arbitration must first send a written notice of the dispute to the other party by certified U.S. Mail or by Federal Express (signature required) or, only if such other party has not provided a current physical address, then by electronic mail (“Notice”). TaxBestimates's address for Notice is: TaxBestimates Inc., 2232 Erie Court, Tracy CA 95304. The Notice must: (a) describe the nature and basis of the claim or dispute; and (b) set forth the specific relief sought (“Demand”). The parties will make good faith efforts to resolve the claim directly, but if the parties do not reach an agreement to do so within 30 days after the Notice is received, you or TaxBestimates may commence an arbitration proceeding. During the arbitration, the amount of any settlement offer made by you or TaxBestimates must not be disclosed to the arbitrator until after the arbitrator makes a final decision and award, if any. If the dispute is finally resolved through arbitration in your favor, TaxBestimates will pay you the highest of the following: (i) the amount awarded by the arbitrator, if any; (ii) the last written settlement amount offered by TaxBestimates in settlement of the dispute prior to the arbitrator’s award; or (iii) $1,000.

          %li
            %strong Fees.
            If you commence arbitration in accordance with these Terms, TaxBestimates will reimburse you for your payment of the filing fee, unless your claim is for more than $10,000, in which case the payment of any fees will be decided by the AAA Rules. Any arbitration hearing will take place at a location to be agreed upon in Santa Clara County, California, but if the claim is for $10,000 or less, you may choose whether the arbitration will be conducted: (a) solely on the basis of documents submitted to the arbitrator; (b) through a non-appearance based telephone hearing; or (c) by an in-person hearing as established by the AAA Rules in the county (or parish) of your billing address. If the arbitrator finds that either the substance of your claim or the relief sought in the Demand is frivolous or brought for an improper purpose (as measured by the standards set forth in Federal Rule of Civil Procedure 11(b)), then the payment of all fees will be governed by the AAA Rules. In that case, you agree to reimburse TaxBestimates for all monies previously disbursed by it that are otherwise your obligation to pay under the AAA Rules. Regardless of the manner in which the arbitration is conducted, the arbitrator must issue a reasoned written decision sufficient to explain the essential findings and conclusions on which the decision and award, if any, are based. The arbitrator may make rulings and resolve disputes as to the payment and reimbursement of fees or expenses at any time during the proceeding and upon request from either party made within 14 days of the arbitrator’s ruling on the merits.

          %li
            %strong No Class Actions.
            YOU AND TAXBESTIMATES AGREE THAT EACH MAY BRING CLAIMS AGAINST THE OTHER ONLY IN YOUR OR ITS INDIVIDUAL CAPACITY AND NOT AS A PLAINTIFF OR CLASS MEMBER IN ANY PURPORTED CLASS OR REPRESENTATIVE PROCEEDING. Further, unless both you and TaxBestimates agree otherwise, the arbitrator may not consolidate more than one person’s claims, and may not otherwise preside over any form of a representative or class proceeding.

          %li
            %strong Modifications to this Arbitration Provision.
            If TaxBestimates makes any future change to this arbitration provision, other than a change to TaxBestimates's address for Notice, you may reject the change by sending us written notice within 30 days of the change to TaxBestimates's address for Notice, in which case your account with TaxBestimates will be immediately terminated and this arbitration provision, as in effect immediately prior to the changes you rejected will survive.

          %li
            %strong Enforceability.
            If Section 19.14 is found to be unenforceable or if the entirety of this Section 19 is found to be unenforceable, then the entirety of this Section 19 will be null and void and, in that case, the parties agree that the exclusive jurisdiction and venue described in Section 16 will govern any action arising out of or related to these Terms.

      %li
        %strong IRS Circular 230 Notice.
        Nothing in our communications with you or otherwise provided via the services (including, but not limited to, any emails, web site content, attachments, enclosures or other accompanying materials) relating to any federal tax transaction or matter is considered to be "covered opinions" as described in Circular 230.

      %li
        %strong Consent to Electronic Communications.
        By using the Service, you consent to receiving certain electronic communications from us as further described in our Privacy Policy. Please read our Privacy Policy to learn more about our electronic communications practices. You agree that any notices, agreements, disclosures, or other communications that we send to you electronically will satisfy any legal communication requirements, including that those communications be in writing.

      %li
        %strong Contact Information.
        The Service is offered by TaxBestimates Inc., located at 2232 Erie Court, Tracy CA 95304. You may contact us by sending correspondence to that address or by emailing us at support@TaxBestimates.com.



