= content_for :title, "Register - TaxBestimates"
.innercont.regi
  .container
    .row
      .col-xs-8.col-xs-offset-2
        .col-xs-8.col-xs-offset-2.reg-form.reg-form
          %h3.secttit Resend confirmation instructions
          = form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f|
            = devise_error_messages!
            .form-group
              = f.email_field :email, class: 'form-control input-lg', autofocus: true, placeholder: 'Email'
            .form-group.addtop
              = f.submit "Resend confirmation instructions", class: 'btn btn-primary btn-lg btn-block caps btnreg'
