#edit-account-form.modal.fade{"aria-hidden" => "true", :role => "dialog", :tabindex => "-1"}
  .modal-dialog.modal-lg
    = form_for(@user, as: resource_name, url: registration_path(resource_name), remote: true, html: { :method => 'put', multipart: true, class: 'form-horizontal dropzone' }) do |f|
      .modal-content
        .modal-header
          %button.close{"aria-label" => "close", "data-dismiss" => "modal", :type => "button"}
            =image_tag "common/modal-close.png", alt: "&times;", aria: { hidden: "true" }
          .modal-title
            Edit Account
        .modal-body
          .alert.alert-danger.hide{"role" => "alert"}
            .notice
          .container-fluid
            .row
              .col-xs-9
                .form-group
                  %label.control-label.col-xs-3.text-right{"for" => "account-first-name"} Name
                  .col-xs-9
                    .row.fuse-inputs
                      .col-xs-6
                        = f.text_field :first_name, id: "account-first-name", class: 'form-control', autofocus: true, tabindex: 1
                        %small First Name
                      .col-xs-6
                        = f.text_field :last_name, id: "account-last-name", class: 'form-control', tabindex: 2
                        %small Last Name
                  .clearfix
                .form-group
                  %label.control-label.col-xs-3.text-right{"for" => "account-email", "style" => "padding-left: 0"} Email Address
                  .col-xs-9
                    =f.email_field :email, id: "account-email", class: 'form-control', tabindex: 3
                  .clearfix
                .form-group
                  %label.control-label.col-xs-3.text-right{"for" => "account-password"}
                    Password
                  .col-xs-9
                    %div{"style" => "margin-bottom: 8px"}
                      %strong Change Password
                    =f.password_field :password, id: "account-password", class: 'form-control', placeholder: 'New Password', tabindex: 4, autocomplete: "off"
                    =f.password_field :password_confirmation, id: "account-confirm-password", class: 'form-control', placeholder: 'Confirm Password', tabindex: 5, autocomplete: "off"
                  .clearfix
                .form-group
                  .col-xs-9.col-xs-offset-3
                    =f.password_field :current_password, id: "account-current-password", class: 'form-control', placeholder: 'Current Password', tabindex: 6, autocomplete: "off"
                  .clearfix
              .col-xs-3
                - if @user.avatar.exists?
                  =image_tag @user.avatar.url(:medium), id: "user-photo-preview", class: "user-photo-full", alt: "User Photo"
                - else
                  =image_tag "user/no-photo.png", id: "user-photo-preview", class: 'user-photo-full', alt: "User Photo"
                %button.btn.btn-sm.btn-info.btn-block.btn-upload-pic{:type => "button", "id" => "user-photo-upload"} Upload Image
                .progress.invisible#user-photo-progress
                  .progress-bar.progress-bar-info.progress-bar-striped.active{:role => "progressbar", "aria-valuenow" => 0, "aria-valuemin" => 0, "aria-valuemax" => 100, "style" => "width: 0%"}
                %small Click photo to change and browse for images on your computer
        .modal-footer
          .pull-left
            %button.btn.btn-danger{:type => "button", "data-toggle" => "modal", "data-target" => "#deactivate-account-form"} Deactivate
          .pull-right
            %button.btn.btn-default{:type => "button", "data-dismiss" => "modal"} Close
            %button.btn.btn-primary{:type => "submit"} Update Account

#deactivate-account-form.modal.fade{"aria-hidden" => "true", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    = form_for(@user, as: resource_name, url: registration_path(resource_name), remote: true, html: { :id => 'deactivate_user', :method => 'delete' }) do |f|
      .modal-content
        .modal-header
          %button.close{"aria-label" => "close", "data-dismiss" => "modal", :type => "button"}
            =image_tag "common/modal-close.png", alt: "&times;", aria: { hidden: "true" }
          .modal-title
            Deactivate Account
        .modal-body
          .form-intro
            %p
              We’re constantly looking to improve the platform. Any feedback on your choice to deactivate your account would be much appreciated.
            %p
              Once deactivated, you will no longer be able to log in to your TaxBestimates account.
          .alert.alert-danger.hide{"role" => "alert"}
            .notice
          .container-fluid
            .form-group
              %label{"for" => "deactivate-reason"} Reason for deactivating your account
              = f.text_area :deactivation_reason, id: "deactivate-reason", class: 'form-control no-fill', rows: 2, autofocus: true, tabindex: 1, autocomplete: "off"
            .form-group
              %label{"for" => "deactivate-password"} For security, please confirm your password
              =f.password_field :current_password, id: "deactivate-current-password", class: 'form-control', placeholder: 'Confirm Password', tabindex: 2, autocomplete: "off"
        .modal-footer            
          %button.btn.btn-default{:type => "button", "data-dismiss" => "modal"} Cancel
          %button.btn.btn-danger{:type => "submit"} Deactivate