= content_for :title, "Create Account"
.container
  .row
    .col-md-6.col-md-offset-3
      .row
        .col-md-8.col-md-offset-2
          .form-panel
            .panel
              .panel-heading
                .panel-title
                  Create Account
              .panel-body
                = form_for(resource, class: 'form center-block' , as: resource_name, url: registration_path(resource_name)) do |f|
                  .alert.alert-danger.notice-box.hide{"role" => "alert"}
                    %div.notice
                  .form-group
                    %label{:for => "first_name"} Name
                    = f.text_field :first_name, class: 'form-control', id: 'first_name', placeholder: 'First Name', tabindex: 1, autofocus: true
                    = f.text_field :last_name, class: 'form-control', id: 'last_name', placeholder: 'Last Name', tabindex: 2
                  .form-group
                    %label{:for => "email"} Email Address
                    = f.email_field :email, class: 'form-control', id: 'email', tabindex: 3
                  .form-group
                    %label{:for => "password"} Password
                    = f.password_field :password, class: 'form-control', id: 'password', placeholder: 'Password', tabindex: 4, autocomplete: "off"
                    = f.password_field :password_confirmation, class: 'form-control', id: 'password_confirmation', placeholder: 'Confirm Password', tabindex: 5, autocomplete: "off"
                  .form-group
                    .checkbox.alert.alert-warning
                      %label
                        = check_box_tag 'terms', 'accepted', false, :tabindex => 5
                        By checking this box, I agree to the #{link_to 'Terms and Conditions', 'terms-and-conditions', :target => '_blank'} and #{link_to 'Privacy Policy', 'privacy-policy', :target => '_blank'}.
                  .form-group
                    = f.submit "Create your Account", class: 'btn btn-primary btn-lg btn-block', tabindex: 6
            %p.text-center
              Already a TaxBestimates user?
              %a{:href => "/login"} Sign In
= javascript_include_tag :signup
