.dashboard-content
	.container.dashboard-text-container
		.row
			.col-xs-12.dashboard-text.text
				TaxBestimates statistics as of 
				= Time.now.strftime("%B %d, %Y %l:%M %p")
	.container.dashboard-data
		.row
			%table.table.table-bordered
				%tbody
					%tr
						%td.col-xs-3.result-box
							.sub-text User Count
							.value.blue
								= @total_users
						%td.col-xs-3.result-box
							.sub-text Active Users
							.value.blue
								= @active_users
						%td.col-xs-3.result-box
							.sub-text User Growth (Day)
							.value{:class => "#{@user_growth > 0 ? 'green' : 'red'}"}
								= number_to_percentage(@user_growth, :precision => 2, :strip_insignificant_zeros => true)
						%td.col-xs-3.result-box
							.sub-text User Churn
							.value.red
								= @inactive_users
		.row
			.graph-box
				.graph-filters#filters
					.filter
						%label Select a metric
						%select.filter-input{:name => 'metric'}
							%option{:value => 'total-users', :selected => true} Total Users
							%option{:value => 'user-growth'} User Growth
					.filter
						%label Period
						%select.filter-input{:name => 'period'}
							%option{:value => '12-mos', :selected => true} Last 12 Months
							%option{:value => '7-days'} Last 7 Days
				.graph-container#graph-container
					%canvas#graph
:javascript
	var labels = #{@labels};
	var data = #{@data};
	var refresh_path = "#{admin_refresh_graph_path}";
