// NEW VARS
// --------------------

// Background colors
$bg-body:           #f9f9f9;
$bg-footer:         #343f4f;
$bg-panel:          #fff;
$bg-checkbox:       #fff;
$bg-dropdown:       #fff;
$bg-dropdown-hover: #d6dde7;
$bg-drop-shadow:    #ededed;
$bg-form-addon:     #fff;
$bg-form-disabled:  #eee;
$bg-tab:            #eee;
$bg-tab-active:     #d9e0ea;
$bg-rec-tab:        #c6ced9;
$bg-rec-tab-active: #748eb7;
$bg-pill:           #fff;
$bg-pill-active:    #e9edf2;
$bg-gusto:          #fff5f7;
$bg-ol-numbers:     #8ba0c0;
$bg-panel:          #f6fdf6;
$bg-banner-warning: #cb2032;
$bg-banner-notice:  #cba81b;
$bg-btn-disabled:   #585858;
$bg-alert:          #e40;
$bg-popover:        #f9fbff;
$bg-job:            #fefeff;
$bg-job-heading:    #9faaba;

// Gradient background colors
$bg1-navbar:        #2e3847;
$bg2-navbar:        #3a4658;
$bg1-btn-default:   #e2e2e2;
$bg2-btn-default:   #e7e7e7;
$bg1-btn-primary:   #85aa22;
$bg2-btn-primary:   #8eb427;
$bg1-btn-info:      #3f63a1;
$bg2-btn-info:      #4a73b5;
$bg1-btn-danger:    #dc4040;
$bg2-btn-danger:    #ed4949;
$bg1-footer:        #2e3847;
$bg2-footer:        #394557;

// Text colors
$fg-body:           #555;
$fg-title:          #5a5a5a;
$fg-link:           #39568a;
$fg-footer:         #a2abb9;
$fg-footer-link:    #d8dde3;
$fg-btn-default:    #888;
$fg-btn-primary:    #fff;
$fg-btn-info:       #fff;
$fg-icon:           #687485;
$fg-icon-hover:     #fff;
$fg-dash-link:      #4267a6;
$fg-dropdown-link:  #fff;
$fg-small:          #878787;
$fg-side-link:      #395f98;
$fg-form-ph:        #bbb;
$fg-tab:            #999;
$fg-tab-active:     #305f98;
$fg-rec-tab:        #fff;
$fg-pill:           #929aac;
$fg-focus:          #66afe9;
$fg-gusto-link:     #e3153d;
$fg-gusto-link-ul:  #f1a0aa;
$fg-gusto-title:    #8aaf24;
$fg-ol-numbers:     #fff;
$fg-banner:         #fff;
$fg-alert:          #fff;
$fg-form-intro:     #888;
$fg-job:            #888;
$fg-job-head:       #fff;
$fg-job-sub-head:   #2f363f;

// Border colors
$border-panel:      #d6dae0;
$border-focus:      #92a4c0;
$border-checkbox:   #ccc;
$border-dropdown:   #d6d9e0;
$border-dropdown-a: #f2f2f2;
$border-focus:      #66afe9;
$border-gusto:      #f9e2e6;
$border-panel:      #daf1da;
$border-alert:      #e40;
$border-underline:  #c9d0dd;
$border-job-outer:  #e7e7e7;
$border-job-inner:  #9faaba;
$border-job-input:  #aaa;
$border-job-line:   #eaeaea;

// Font sizes
$fs-body:           16px;
$fs-panel:          15px;
$fs-panel-note:     13px;
$fs-title:          24px;
$fs-btn:            15px;
$fs-icon:           22px;
$fs-footer:         13px;
$fs-action-link:    14px;
$fs-small:          13px;


// OLD VARS
// --------------------

// COLORS
$green: #97c321;
$red: #d93748;
$blue: #33598f;
$dark-blue: #313c4c;
$super-dark-blue: #354051;
$header-grey: #b7bec7;
$white-grey: #fefefe;

// TABLES
$thead-bg: #dde3ec;
$thead-text: #39568a;
$table-border-color: #e0e5eb;
$odd-color: #fbfbfb;

// BUTTONS
$green-btn: #89af24;
$blue-btn: #3d639e;

// LINKS
$link: #4267a6;

// TEXT COLORS
$white-text: #dfe3ea;
$blue-text: #395f99;
$disabled-text: #b2bccf;
$dark-black: #3a3a3a;
$super-dark-black: #2a2a2a;
$light-black: #5a5a5a;

// BORDERS
$grey-border: #f2f2f2;

// OTHERS
$grey-bg: #f9f9f9;


// for profile pics
@mixin circle($width, $bordercolor: 'transparent', $borderwidth: 0, $bordercolor2: 'transparent', $bg: 'transparent') {
  width: $width;
  height: $width;
  -webkit-border-radius: $width/2;
     -moz-border-radius: $width/2;
          border-radius: $width/2;

  @if $bordercolor != 'transparent' and $borderwidth != 0 {
    border: $borderwidth solid $bordercolor;
  }

  @if $bg != 'transparent' {
    background-color: $bg;
  }

  @if $bordercolor2 != 'transparent' {
    &:hover {
      border-color: $bordercolor2;
    }
  }
}

@mixin border-radius($radius) {
  -moz-border-radius: #{$radius};
  -webkit-border-radius: #{$radius};
  border-radius: #{$radius};
}

@mixin loading-animation {
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: image-url("common/loading-animation.gif") no-repeat scroll center center white;
  opacity: 0.5;
  z-index: 1010;
}

@mixin text {
  text-align: center;
  font-size: 16px;
  color: $light-black;

  strong {
    color: $super-dark-black;
  }
}

.btn {
  &:hover, &:focus { color: white; }
}

.btn-block {
  font-size: 15px;
  width: 100%;
  border-radius: 25px;
  height: 45px;
  text-transform: uppercase;
}
