.tax-infos-container {

  #tax-infos-index-container {
    #tax-infos-table {
      background-color: white;
      color: black;
    }
  }

  .pre-tax-contribution-row {
    .contribution, .contribution-label {
      margin-top: 0;
      padding-top: 0;
    }
  }
}