#tax-main-container.main-container

:javascript
  $(function() {
    // NEW DASHBOARD CODE
    tz.latestTax = new App.Models.Computation(#{@latest.to_json});
    tz.draftTax = new App.Models.DraftComputation(#{@draft.to_json});

    tz.user = new App.Models.User(#{@user.to_json});
    App.router = new App.Routers.Tax();
  });

= javascript_include_tag :backbone
= javascript_include_tag :tax
