#tax-main-container.main-container
  .tax-main-view-container
    = render partial: "layouts/user/sub_nav"
    .content-container
      .dashboard-content
        .container.dashboard-text-container
          .row
            .col-xs-12.dashboard-text.text
              %h4 TaxBestimates Resource Center