.banner
  .container
%nav.navbar.main-navbar.navbar-inverse{:role => "navigation"}
  .container
    .navbar-header
      %button.navbar-toggle.collapsed{"aria-controls" => "navbar", "aria-expanded" => "false", "data-target" => "#navbar", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{:href => "/"}
        =image_tag "common/logo-user.png"
    #navbar.navbar-collapse.collapse
      %ul.nav.navbar-nav.navbar-right
        %li
          %a{:href => resources_path, :class => request.env['PATH_INFO'] == resources_path ? "active" : ''} Resource Center
        %li.dropdown
          %a.dropdown-toggle{:href => "#", "data-toggle" => "dropdown", "aria-haspopup" => "true", "aria-expanded" => "false", :id => "user-menu"}
            - if @user.avatar.exists?
              =image_tag @user.avatar.url(:thumb), class: 'user-photo'
            - else
              =image_tag "user/no-photo.png", class: 'user-photo'
            %span.name#header-full-name #{current_user.full_name}
            =image_tag "user/arrow-down.png"
          %ul.dropdown-menu.top{"aria-labelledby" => "user-menu"}
            %li
              %a{:href => "#", "data-toggle" => "modal", "data-target" => "#edit-account-form"} Edit Account
            %li
              %a{:href => "mailto:info@taxbestimates.com"} Contact Us
            %li
              %a{:href => "/logout"} Logout
.sub-nav-container
  .sub-nav
    %nav.navbar.sub-navbar{:role => "navigation"}
      .container
        .navbar-header
          %button.navbar-toggle.collapsed{"aria-controls" => "navbar", "aria-expanded" => "false", "data-target" => "#sub-navbar", "data-toggle" => "collapse", :type => "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
        #sub-navbar.navbar-collapse.collapse
          %ul.nav.navbar-nav
            %li#sub-dashboard{:class => request.env['PATH_INFO'] == admin_root_path ? "active" : ''}
              = link_to admin_root_path do
                %span.icon.icon-dashboard
                Dashboard
            %li#sub-users{:class => request.env['PATH_INFO'] == admin_users_path ? "active" : ''}
              = link_to admin_users_path do
                %span.icon.icon-users
                TaxBestimates Users
            %li#sub-videos{:class => request.env['PATH_INFO'] == admin_video_index_path ? "active" : ''}
              = link_to admin_video_index_path do
                Resource Videos
          %ul.nav.navbar-nav.navbar-right
            %li#sub-platform.pull-right
              = link_to root_path do
                %span.icon.icon-platform
                Switch to Platform
= render partial: "devise/registrations/edit"
