= content_for :title, "Reset your Password - TaxBestimates"
.container
  .row
    .col-md-6.col-md-offset-3
      .row
        .col-md-8.col-md-offset-2
          .form-panel
            .panel
              .panel-heading
                .panel-title
                  Reset your password
              .panel-body
                = form_for(resource, class: 'form center-block' , as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
                  = devise_error_messages!
                  .form-group
                    %p Please provide the email address that you used when you signed up below and we will send you an email that will allow you to reset your password.
                  .form-group
                    %label{:for => "email"} Email Address
                    = f.email_field :email, class: 'form-control', id: 'email', tabindex: 1, autofocus: true
                  .form-group
                    = f.submit "Send Reset Password Email", class: 'btn btn-primary btn-lg btn-block', tabindex: 2
