%footer.footer
  .container
    .row
      .col-md-8
        %span
          \© #{ Time.now.year } TaxBestimates. All rights reserved.
          = succeed "|" do
            %a{:href => "terms-and-conditions"} Terms and Conditions
          %a{:href => "privacy-policy"} Privacy Policy
      .col-md-4.social-btns
        .fb-like{"data-action" => "like", "data-href" => "http://www.taxbestimates.com", "data-layout" => "button_count", "data-share" => "true", "data-show-faces" => "false"}
        .tw
          %a.twitter-share-button{"data-hashtags" => "taxbestimates", "data-url" => "http://www.taxbestimates.com", :href => "https://twitter.com/share"} Tweet
          :javascript
            !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
        %a.fb-ico{href: "google.com", target: "_blank"}
        %a.tw-ico{href: "google.com", target: "_blank"}

:javascript
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-69529108-1', 'auto');
  ga('send', 'pageview');
