<div class='aca-step step-container'>
  <div class='title-container'>
    <span class='ttle'>Affordable Care Act</span>
  </div>
  <hr class='divider'/>
  <div class='sub-title tab-common-sub-title'>
  	The <strong>Affordable Care Act</strong> can have an impact on your tax position if you did not hold Health Insurance for the whole year and do not qualify for a <strong>Shared Responsibility Fee</strong> exemption. If you did not have Health Insurance our platform will run your numbers and see if you qualify for one of the more common exemptions.
  </div>
  <div class="result-box aca">
  	<div class="title">Affordable Care Act Summary</div>
		<table class="table table-striped">
			<tr>
				<% if(aca.self != 0) { %>
				<td class="check-icon">
					<span class="check-icon-photo"></span>
				</td>
				<% } else { %>
				<td class="cross-icon">
					<span class="cross-icon-photo"></span>
				</td>
				<% } %>
				<td class="scenario">
          <%= scenarios[aca.self].format(model.fullName()) %>
				</td>
			</tr>
			<% if(model.isFilingJoint() == true) { %>
			<tr>
				<% if(aca.spouse != 0) { %>
				<td class="check-icon">
					<span class="check-icon-photo"></span>
				</td>
				<% } else { %>
				<td class="cross-icon">
					<span class="cross-icon-photo"></span>
				</td>
				<% } %>
				<td class="scenario">
          <%= scenarios[aca.spouse].format(model.spouse.fullName()) %>
				</td>
			</tr>
			<% } %>
		</table>
	</div>
	<div class='content-row clearfix'>
      <div class='form-buttons-container'>
        <input type='button' class='btn btn-default cancel-button' value='Cancel'/>
        <input type='button' class='btn btn-primary save-button' value='Continue to Results'/>
      </div>
    </div>
  </div>
</div>
