<div class='dependents-step step-container'>
  <div class='title-container'>
    <span class='ttle'>Spouse Information</span>
  </div>
  <hr class='divider'/>

  <div id="form-errors" class="alert alert-danger hide" role="alert">
    <button type="button" class="hide-alert" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <span class="glyphicon glyphicon-exclamation-sign"></span>The following <span class="error-count"></span> your attention:
    <ul></ul>
  </div>

  <div class='spouse-container hidden'>
    <!-- spouse info -->
    <div class='subsection-title'>
      <!-- <div class='content-row'>
        <div class='sub-header'>Spouse Information</div>
      </div> -->
      <div class='form-container'>

      </div>
    </div>
  </div>

  <div class='child-dependents-container hidden'>
    <div class='subsection-title'>
      <div class='content-row'>
        <div class='sub-header'>Qualified Child Dependent</div>
      </div>

      <div class='form-container'>

      </div>
    </div>
  </div>

  <div class='relative-dependents-container hidden'>
    <div class='subsection-title'>
      <div class='content-row'>
        <div class='sub-header'>Qualified Relative Dependent</div>
      </div>

      <div class='form-container'>

      </div>
    </div>
  </div>

  <form class='dependents-form'>
  </form>

  <div class='content-row clearfix'>
    <div class='form-buttons-container'>
      <input type='hidden' id='step' value='3'/>
      <input type='button' class='btn btn-default cancel-button' value='Cancel'/>
      <input type='button' class='btn btn-primary save-button' value='Save and Continue'/>
    </div>
  </div>

</div>
