<form class='dependent-form'>
  <input type='hidden' name='dependent_type' value='<%= model.dependentType() %>'/>
  <div class='content-row'>
    <div class='left-content'>Name</div>
    <div class='right-content'>
      <input class='form-control input-field' name='first_name' placeholder='First Name' value='<%= model.firstName() %>' required></input>
      <input class='form-control input-field' name='last_name' placeholder='Last Name' value='<%= model.lastName() %>' required></input>
      <input class='form-control input-field' name='mi' placeholder='MI' value='<%= model.mi() %>' required></input>
    </div>
  </div>
  <div class='content-row'>
    <div class='left-content'>Date of Birth</div>
    <div class='right-content'>
      <input class='birth_month' name='birth_month' placeholder='Month' value='<%= model.birthMonth() %>' required></input>
      <input class='birth_day' name='birth_day' placeholder='Day' value='<%= model.birthDay() %>' required></input>
      <input class='birth_year' name='birth_year' placeholder='Year' value='<%= model.birthYear() %>' required></input>
    </div>
  </div>

  <div class='content-row'>
    <div class='left-content'>Social Security Number</div>
    <div class='right-content'>
      <input class='form-control input-field' name='social_security_number' placeholder='Social Security Number' value='<%= model.sss() %>' required></input>
    </div>
  </div>
</form>