<% childrenDependents = model.childrenDependents() || '0'; %>
<% relativesDependents = model.relativesDependents() || '0'; %>
<% totalDependents = parseInt(childrenDependents) + parseInt(relativesDependents); %>

<div class='exemptions-step step-container'>
  <div class='title-container'>
    <span class='step'>Step 3</span>
    <span class='ttle'>Number of Exemptions</span>
  </div>
  <hr class='divider'/>

  <div id="form-errors" class="alert alert-danger hide" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <span class="glyphicon glyphicon-exclamation-sign"></span>The following <span class="error-count"></span> your attention:
    <ul></ul>
  </div>

  <form>
    <div class='content-row'>
      <div class='info-box'>
        <div class='info-title'>Qualified Children</div>
        <div class='info-subtitle'>The IRS allows taxpayers to claim their kids as a Qualified Children if they meet all the following requirements.</div>
        <ul class='indented'>
          <li class='bullet'><span class='strong'>Relationship Test: </span><span>Related to you by blood, married, or legal adoption</span></li>
          <li class='bullet'><span class='strong'>Age Test: </span><span>Your Child was 19 as of the end of the year or was 24 years of age and was a full time student</span></li>
          <li class='bullet'><span class='strong'>Support Test: </span><span>You provided more than half of their support for the year</span></li>
          <li class='bullet'><span class='strong'>Resident Test: </span><span>Your child is a resident of the United States, Mexico, or Canada</span></li>
        </ul>
      </div>
    </div>

    <div class='content-row'>
      <span>How many Qualified Children will you be claiming this year?</span>
      <input class='children_dependents dependents' name='children_dependents' placeholder='0' value='<%= childrenDependents %>' required></input>
    </div>

    <div class='content-row'>
      <div class='info-box'>
        <div class='info-title'>Qualified Relatives</div>
        <div class='info-subtitle'>The IRS allows taxpayers to claim dependents who do not live with you but meet all of the following requirements.</div>
        <ul class='indented'>
          <li class='bullet'><span class='strong'>Relationship Test: </span><span>Related to you by blood, married, or legal adoption</span></li>
          <li class='bullet'><span class='strong'>Gross Income Test: </span><span>They can not make more than $4,000 in the current year</span></li>
          <li class='bullet'><span class='strong'>Support Test: </span><span>You provided more than half of their support for the year</span></li>
          <li class='bullet'><span class='strong'>Joint Return Test: </span><span>They cannot file jointly with their spouse unless it's strictly to claim a refund</span></li>
          <li class='bullet'><span class='strong'>Resident Test: </span><span>Your relative is a resident of the United States, Mexico, or Canada</span></li>
        </ul>
      </div>
    </div>

    <div class='content-row'>
      <span>How many Qualified Relatives will you be claiming this year?</span>
      <input class='relatives_dependents dependents' name='relatives_dependents' placeholder='0' value='<%= relativesDependents %>' required></input>
    </div>

    <div class='content-row clearfix'>
      <div class='total-dependents-container'>
        <span>Total Dependents Claimed </span> <span class='total-dependents-count'><%= totalDependents %></span>
      </div>
      <div class='form-buttons-container'>
        <input type='button' class='btn btn-default cancel-button' value='Cancel'/>
        <input type='button' class='btn btn-primary save-button' value='Save and Continue'/>
      </div>
    </div>
  </form>
</div>
