<div class='filing-status-step step-container'>
  <div class='title-container'>
    <span class='ttle'>Filing Status</span>
  </div>
  <hr class='divider'/>

  <div id="form-errors" class="alert alert-danger hide" role="alert">
    <button type="button" class="hide-alert" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <span class="glyphicon glyphicon-exclamation-sign"></span>The following <span class="error-count"></span> your attention:
    <ul></ul>
  </div>

  <form>
    <div class='content-row'>
      <div class='left-content filing-status-left'>What is your filing status in <%= tz.YEAR %>?</div>
      <div class='right-content filing-status-right'>
        <input class='filing_status' name='filing_status' value='<%= model.filingStatus() %>' placeholder='Filing Status'></input>
        <div class='info-box'>
          <div class='info-icon'></div>
          <div class='info-content'>Please select your filing status</div>
        </div>
      </div>
    </div>
    <div class='content-row clearfix'>
      <div class='form-buttons-container'>
        <input type='hidden' id='step' value='2'/>
        <input type='button' class='btn btn-default cancel-button' value='Cancel'/>
        <input type='button' class='btn btn-primary save-button' value='Save and Continue'/>
      </div>
    </div>
  </form>
</div>
