<div class='income-info-step step-container'>
  <div class='title-container'>
    <span class='ttle'>Income Information</span>
  </div>
  <hr class='divider'/>

  <div id="form-errors" class="alert alert-danger hide" role="alert">
    <button type="button" class="hide-alert" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <span class="glyphicon glyphicon-exclamation-sign"></span>The following <span class="error-count"></span> your attention:
    <ul></ul>
  </div>

  <div class='sub-title'>
    Our software projects your tax position based on your last check of the previous month. Provide us with this information and we’ll project your tax position and use the results to provide tax-saving options for you.
  </div>

  <div class="income-info-box income-info-blocks">
    <div class="person-name"><%= model.fullName() %></div>

    <div id='income-info-blocks'>
      
    </div>
    <a href="#" class="action-link add-job" data-for-spouse="0" id="user-add-job">+ <u>Add another job</u></a>
  </div>

  <div class='spouse-income-info-box income-info-blocks hidden'>
    <div class="person-name"></div>

    <div id='spouse-income-info-blocks'>
      
    </div>
    <a href="#" class="action-link add-job" data-for-spouse="1" id="spouse-add-job">+ <u>Add another job</u></a>
  </div>

  <div class="hide" id="job-template"></div>

  <div class='content-row clearfix'>
    <div class='form-buttons-container'>
      <input type='hidden' id='step' value='4'/>
      <input type='button' class='btn btn-default cancel-button' value='Cancel'/>
      <input type='button' class='btn btn-primary save-button' value='Save and Continue'/>
    </div>
  </div>

  <div aria-hidden='true' class='modal' id='confirm-delete-job' role='dialog' tabindex='-1'>
    <div class="modal-dialog modal-prompt">
      <div class="modal-content">
        <div class="modal-body">
          <button aria-label='close' class='close' data-dismiss='modal' type='button'>
            <img alt="&amp;times;" aria="{:hidden=&gt;&quot;true&quot;}" src="<%= closeBtn %>" />
          </button>
          Delete this job?
        </div>
        <div class="modal-footer">
          <button id='btn-delete-job-confirm' class='btn btn-primary' data-dismiss='modal' type='button'>Yes</button>
          <button class='btn btn-default' data-dismiss='modal' type='button'>No</button>
        </div>
      </div>
    </div>
  </div>

  <div aria-hidden='true' class='modal' id='confirm-add-job' role='dialog' tabindex='-1'>
    <div class="modal-dialog modal-prompt">
      <div class="modal-content">
        <div class="modal-body">
          <button aria-label='close' class='close' data-dismiss='modal' type='button'>
            <img alt="&amp;times;" aria="{:hidden=&gt;&quot;true&quot;}" src="<%= closeBtn %>" />
          </button>
          Is this a current job?
        </div>
        <div class="modal-footer">
          <button class='btn btn-primary btn-add-job-confirm' data-is-new='1' data-dismiss='modal' type='button'>Yes</button>
          <button class='btn btn-default btn-add-job-confirm' data-is-new='0' data-dismiss='modal' type='button'>No</button>
        </div>
      </div>
    </div>
  </div>

  <div aria-hidden='true' class='modal' id='message-box' role='dialog' tabindex='-1'>
    <div class="modal-dialog modal-prompt">
      <div class="modal-content">
        <div class="modal-body">
          <button aria-label='close' class='close' data-dismiss='modal' type='button'>
            <img alt="&amp;times;" aria="{:hidden=&gt;&quot;true&quot;}" src="<%= closeBtn %>" />
          </button>
          <span class="message"></span>
        </div>
        <div class="modal-footer">
          <button class='btn btn-primary' data-dismiss='modal' type='button'>OK</button>
        </div>
      </div>
    </div>
  </div>
</div>
