<% job = typeof job !== 'undefined' ? job : null; %>

<div class='panel panel-income-info open'>
  <div class='panel-heading'>
    <a class='btn-toggle-job'></a>
    <span class="job-title"></span>
    <a class='btn-delete-job'></a>
  </div>
  <div class='panel-body'>
    <form class='job-form'>
      <div class="row">
        <div class='col-xs-7'>
          <label class='inline-label'>Company Name</label>
          <input class='company_name' type='text' name='company_name' value='<%= job ? job.companyName() : '' %>' required>
        </div>
        <div class='col-xs-5 text-right for-current-job'>
          <label class='inline-label'>Last Paycheck Of</label>
          <input class='date_of_pay_stub' name='date_of_pay_stub' placeholder='Select Date' value='<%= job ? job.dateOfPaystub() : '' %>' required></input>
        </div>
      </div>
      <div class='row'>
        <div class='col-xs-7'>
          <label class='inline-label'>Currently working at this company?</label>
          <input class='is_currently_employed' name='is_currently_employed' value='<%= job ? job.isCurrentlyEmployed() == true ? 1 : 0 : '' %>' required></input>
        </div>
        <div class='col-xs-5 text-right for-current-job'>
          <label class='inline-label'>Paycheck Frequency</label>
          <input class='paycheck_frequency' name='paycheck_frequency' placeholder='Select One' value='<%= job ? job.paycheckFrequency() : '' %>' required></input>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-4 currency-fields">
          <h5><span>Taxable Earnings</span></h5>
          <div class="row">
            <div class="col-xs-4 col-xs-offset-4 text-center">
              <small>Current</small>
            </div>
            <div class="col-xs-4 text-center">
              <small>Year to Date</small>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-4">
              Salary
            </div>
            <div class="col-xs-4">
              <div class="input-group">
                <span class="input-group-addon">$</span>
                <input type='number' step='0.01' name='salary_current' value='<%= job ? job.salaryCurrent() : '' %>' required>
              </div>
            </div>
            <div class="col-xs-4">
              <div class="input-group">
                <span class="input-group-addon">$</span>
                <input type='number' step='0.01' name='salary' value='<%= job ? job.salary() : '' %>' required>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-4">
              Bonus
            </div>
            <div class="col-xs-4 col-xs-offset-4">
              <div class="input-group">
                <span class="input-group-addon">$</span>
                <input type='number' step='0.01' name='bonus' value='<%= job ? job.bonus() : '' %>' required>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-4 currency-fields">
          <h5><span>Taxes Withheld</span></h5>
          <div class="row">
            <div class="col-xs-4 col-xs-offset-4 text-center">
              <small>Current</small>
            </div>
            <div class="col-xs-4 text-center">
              <small>Year to Date</small>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-4">
              Federal
            </div>
            <div class="col-xs-4">
              <div class="input-group">
                <span class="input-group-addon">$</span>
                <input type='number' step='0.01' name='federal_taxes_withheld_current' value='<%= job ? job.federalTaxesWithheldCurrent() : '' %>' required>
              </div>
            </div>
            <div class="col-xs-4">
              <div class="input-group">
                <span class="input-group-addon">$</span>
                <input type='number' step='0.01' name='federal_taxes_withheld' value='<%= job ? job.federalTaxesWithheld() : '' %>' required>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-4">
              CA State
            </div>
            <div class="col-xs-4">
              <div class="input-group">
                <span class="input-group-addon">$</span>
                <input type='number' step='0.01' name='state_taxes_withheld_current' value='<%= job ? job.stateTaxesWithheldCurrent() : '' %>' required>
              </div>
            </div>
            <div class="col-xs-4">
              <div class="input-group">
                <span class="input-group-addon">$</span>
                <input type='number' step='0.01' name='state_taxes_withheld' value='<%= job ? job.stateTaxesWithheld() : '' %>' required>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-4 currency-fields">
          <h5><span>Other Deductions</span></h5>
          <div class="row">
            <div class="col-xs-4 col-xs-offset-4 text-center">
              <small>Current</small>
            </div>
            <div class="col-xs-4 text-center">
              <small>Year to Date</small>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-4">
              Mass Trans.
            </div>
            <div class="col-xs-4">
              <div class="input-group">
                <span class="input-group-addon">$</span>
                <input type='number' step='0.01' name='mass_transportation_current' value='<%= job ? job.massTransportationCurrent() : '' %>' required>
              </div>
            </div>
            <div class="col-xs-4">
              <div class="input-group">
                <span class="input-group-addon">$</span>
                <input type='number' step='0.01' name='mass_transportation' value='<%= job ? job.massTransportation() : '' %>' required>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-4">
              Parking
            </div>
            <div class="col-xs-4">
              <div class="input-group">
                <span class="input-group-addon">$</span>
                <input type='number' step='0.01' name='mass_parking_investment_current' value='<%= job ? job.massParkingInvestmentCurrent() : '' %>'>
              </div>
            </div>
            <div class="col-xs-4">
              <div class="input-group">
                <span class="input-group-addon">$</span>
                <input type='number' step='0.01' name='mass_parking_investment' value='<%= job ? job.massParkingInvestment() : '' %>' required>
              </div>
            </div>
          </div>
        </div>
        </div>
      </div>
    </form>
  </div>
</div>