<div class='income-info-step step-container'>
  <div class='title-container'>
    <span class='ttle'>Other Income</span>
  </div>
  <hr class='divider'/>

  <div id="form-errors" class="alert alert-danger hide" role="alert">
    <button type="button" class="hide-alert" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <span class="glyphicon glyphicon-exclamation-sign"></span>The following <span class="error-count"></span> your attention:
    <ul></ul>
  </div>

  <form class='form-horizontal user-other-income-form'>
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a href="#interest-income" aria-controls="interest-income" role="tab" data-toggle="tab">Interest Income</a></li>
      <li role="presentation"><a href="#unemployment-income" aria-controls="unemployment-income" role="tab" data-toggle="tab">Unemployment Income</a></li>
    </ul>
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane fade in active" id="interest-income">
        <div class='sub-title tab-common-sub-title'>
          Interest Income is earned from savings accounts, mutual funds, and investments made throughout the year. Taxpayers who earn interest will receive a 1099-T.
        </div>
        <div class="row income-forms-container">
          <div class="form-group radio-group">
            <label class="col-xs-4 control-label">Who earned any interest income in the current year?</label>
            <div class="col-xs-8">
              <div class="radio">
                <label><input type="radio" name="has_interest_income" value="self" <%= model.hasInterestIncome() == true && spouse.hasInterestIncome() != true ? 'checked ' : '' %>required><%= model.fullName() %></label>
              </div>
              <div class="radio">
                <label><input type="radio" name="has_interest_income" value="spouse" <%= model.hasInterestIncome() != true && spouse.hasInterestIncome() == true ? 'checked ' : '' %>required><%= spouse.fullName() %></label>
              </div>
              <div class="radio">
                <label><input type="radio" name="has_interest_income" value="both" <%= model.hasInterestIncome() == true && spouse.hasInterestIncome() == true ? 'checked ' : '' %>required>Both</label>
              </div>
              <div class="radio">
                <label><input type="radio" name="has_interest_income" value="none" <%= model.hasInterestIncome() != true && spouse.hasInterestIncome() != true ? 'checked ' : '' %>required>Neither</label>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-xs-4 control-label">How much interest income did <%= model.fullName() %> earn?</label>
            <div class="col-xs-3">
              <div class="input-group disabled" id="self-interest-income">
                <span class="input-group-addon" id="self-interest-income-currency">$</span>
                <input type="number" step="0.01" name="self_interest_income" value="<%= model.interestIncome() %>" class="form-control" aria-describedby="self-interest-income-currency" disabled>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-xs-4 control-label">How much interest income did <%= spouse.fullName() %> earn?</label>
            <div class="col-xs-3">
              <div class="input-group disabled" id="spouse-interest-income">
                <span class="input-group-addon" id="spouse-interest-income-currency">$</span>
                <input type="number" step="0.01" name="spouse_interest_income" value="<%= spouse.interestIncome() %>" class="form-control" aria-describedby="spouse-interest-income-currency" disabled>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div role="tabpanel" class="tab-pane fade" id="unemployment-income">
        <div class='sub-title tab-common-sub-title'>
          Unemployment is an insurance benefit for those who are unable to find gainful employment. If you received unemployment in the current year, provide us with the information below.
        </div>
        <div class="row income-forms-container">
          <div class="form-group radio-group">
            <label class="col-xs-4 control-label">Did you or <%= spouse.fullName() %> receive unemployment income in <%= tz.YEAR %>?</label>
            <div class="col-xs-8">
              <div class="radio">
                <label><input type="radio" name="has_unemployment_income" value="self" <%= model.hasUnemploymentIncome() == true && spouse.hasUnemploymentIncome() != true ? 'checked ' : '' %>required><%= model.fullName() %></label>
              </div>
              <div class="radio">
                <label><input type="radio" name="has_unemployment_income" value="spouse" <%= model.hasUnemploymentIncome() != true && spouse.hasUnemploymentIncome() == true ? 'checked ' : '' %>required><%= spouse.fullName() %></label>
              </div>
              <div class="radio">
                <label><input type="radio" name="has_unemployment_income" value="both" <%= model.hasUnemploymentIncome() == true && spouse.hasUnemploymentIncome() == true ? 'checked ' : '' %>required>Both</label>
              </div>
              <div class="radio">
                <label><input type="radio" name="has_unemployment_income" value="none" <%= model.hasUnemploymentIncome() != true && spouse.hasUnemploymentIncome() != true ? 'checked ' : '' %>required>Neither</label>
              </div>
            </div>
          </div>
          <fieldset id="self-unemployment-income-box" disabled>
            <div class="form-group radio-group">
              <label class="col-xs-4 control-label">Are you currently receiving unemployment income?</label>
              <div class="col-xs-8">
                <div class="radio">
                  <label><input type="radio" name="self_is_receiving_unemployment_income" value="1" <%= model.isReceivingUnemploymentIncome() == true ? 'checked ' : '' %>required>Yes</label>
                  <label><input type="radio" name="self_is_receiving_unemployment_income" value="0" <%= model.isReceivingUnemploymentIncome() != true ? 'checked ' : '' %>required>No</label>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="col-xs-4 control-label">Date you last received payment</label>
              <div class="col-xs-3">
                <input type="text" name="self_unemployment_income_received_date" value="<%= model.unemploymentIncomeReceivedDateFormatted() %>" class="form-control dp">
              </div>
            </div>
            <div class="form-group">
              <label class="col-xs-4 control-label">How much unemployment income have you received to date?</label>
              <div class="col-xs-3">
                <div class="input-group disabled">
                  <span class="input-group-addon" id="self-unemployment-income-currency">$</span>
                  <input type="number" step="0.01" name="self_unemployment_income" value="<%= model.unemploymentIncome() %>" class="form-control" aria-describedby="self-unemployment-income-currency">
                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="col-xs-4 control-label">How much unemployment income do you receive every two weeks?</label>
              <div class="col-xs-3">
                <div class="input-group disabled" id="self-unemployment-income-bi-weekly">
                  <span class="input-group-addon" id="self-unemployment-income-bi-weekly-currency">$</span>
                  <input type="number" step="0.01" name="self_unemployment_income_bi_weekly" value="<%= model.unemploymentIncomeBiWeekly() %>" class="form-control" aria-describedby="self-unemployment-income-bi-weekly-currency">
                </div>
              </div>
            </div>
          </fieldset>
          <hr>
          <fieldset id="spouse-unemployment-income-box" disabled>
            <div class="form-group radio-group">
              <label class="col-xs-4 control-label">Is <%= spouse.fullName() %> currently receiving unemployment income?</label>
              <div class="col-xs-4">
                <div class="radio">
                  <label><input type="radio" name="spouse_is_receiving_unemployment_income" value="1" <%= spouse.isReceivingUnemploymentIncome() == true ? 'checked ' : '' %>required>Yes</label>
                  <label><input type="radio" name="spouse_is_receiving_unemployment_income" value="0" <%= spouse.isReceivingUnemploymentIncome() != true ? 'checked ' : '' %>required>No</label>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="col-xs-4 control-label">Date <%= spouse.fullName() %> last received payment</label>
              <div class="col-xs-3">
                <input type="text" name="spouse_unemployment_income_received_date" value="<%= spouse.unemploymentIncomeReceivedDateFormatted() %>" class="form-control dp">
              </div>
            </div>
            <div class="form-group">
              <label class="col-xs-4 control-label">How much unemployment income has <%= spouse.fullName() %> you received to date?</label>
              <div class="col-xs-3">
                <div class="input-group disabled">
                  <span class="input-group-addon" id="spouse-unemployment-income-currency">$</span>
                  <input type="number" step="0.01" name="spouse_unemployment_income" value="<%= spouse.unemploymentIncome() %>" class="form-control" aria-describedby="spouse-unemployment-income-currency">
                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="col-xs-4 control-label">How much unemployment income does <%= spouse.fullName() %> receive every two weeks?</label>
              <div class="col-xs-3">
                <div class="input-group disabled" id="spouse-unemployment-income-bi-weekly">
                  <span class="input-group-addon" id="spouse-unemployment-income-bi-weekly-currency">$</span>
                  <input type="number" step="0.01" name="spouse_unemployment_income_bi_weekly" value="<%= spouse.unemploymentIncomeBiWeekly() %>" class="form-control" aria-describedby="spouse-unemployment-income-bi-weekly-currency">
                </div>
              </div>
            </div>
          </fieldset>
        </div>
      </div>
    </div>

    <div class='content-row clearfix'>
      <div class='form-buttons-container'>
        <input type='hidden' id='step' value='5'/>
        <input type='button' class='btn btn-default cancel-button' value='Cancel'/>
        <input type='button' class='btn btn-primary save-button' value='Save and Continue'/>
      </div>
    </div>
  </form>
</div>
