<div class='results-step step-container'>
  <div class='title-container'>
    <span class='ttle'>Tax Projections</span>
  </div>
  <hr class='divider'/>
  <div class='row'>
    <div class='col-xs-12 text-center'>
      Your <strong><%= model.dateText() %></strong> Tax Projections
    </div>
  </div>
  <div class='row result-details'>
    <div class='col-xs-6 tax-result-container federal-container'>
    </div>
    <div class='col-xs-6 tax-result-container state-container'>
    </div>
  </div>
  <div class='row result-details'>
    <div class='col-xs-12'>
      <table class='table table-striped table-curved table-responsive table-panel' id='federal-tax-credits-table'>
        <thead>
          <tr>
            <th colspan='2'>Available Federal Tax Credits</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row result-details">
  	<div class='col-xs-12'>
      <table class='table table-striped table-curved table-responsive table-panel' id='state-tax-credits-table'>
        <thead>
          <tr>
            <th colspan='2'>Available California Tax Credits</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
  </div>

  <div class='row result-details'>
  	<div class="col-xs-12">
  		<div class='form-buttons-container'>
	      <a href="#dashboard" class='btn btn-info'>Go to Dashboard</a>
	      <a href="#archive" class='btn btn-info'>Download your Results</a>
	      <a href="#options" class='btn btn-primary'>View your Tax Options</a>
	    </div>
  	</div>
  </div>
</div>
