<form class='spouse-form'>
  <div class='content-row'>
    <div class='left-content text-right'>Name</div>
    <div class='right-content'>
      <div>
        <input class='form-control input-field' name='first_name' placeholder='First Name' value='<%= model.firstName() %>' required></input>
        <input class='form-control input-field' name='last_name' placeholder='Last Name' value='<%= model.lastName() %>' required></input>
        <input class='form-control input-field' name='mi' placeholder='MI' value='<%= model.mi() %>' required></input>
      </div>
    </div>
  </div>
  <div class='content-row'>
    <div class='left-content text-right'>Date of Birth</div>
    <div class='right-content'>
      <div>
        <input class='birth_month' name='birth_month' placeholder='Month' value='<%= model.birthMonth() %>' required></input>
        <input class='birth_day' name='birth_day' placeholder='Day' value='<%= model.birthDay() %>' required></input>
        <input class='birth_year' name='birth_year' placeholder='Year' value='<%= model.birthYear() %>' required></input>
      </div>
    </div>
  </div>

  <div class='content-row'>
    <div class='left-content text-right'>Address</div>
    <div class='right-content'>
      <div>
        <input class='form-control input-field' name='address_1' placeholder='Address 1' value='<%= model.address1() %>' required></input>
      </div>
      <div>
        <input class='form-control input-field' name='address_2' placeholder='Address 2' value='<%= model.address2() %>'></input>
      </div>
      <div>
        <input class='form-control input-field' name='city' placeholder='City' value='<%= model.city() %>' required></input>
        <input class='state' name='state' placeholder='State' value='<%= model.state() %>' required></input>
        <input class='form-control input-field' name='zip' placeholder='Zip' value='<%= model.zip() %>' required></input>
      </div>
    </div>
  </div>

  <div class='content-row'>
    <div class='left-content text-right'>Social Security Number<div class="field-note">(optional)</div></div>
    <div class='right-content'>
      <input class='form-control input-field' name='social_security_number' placeholder='XXX-XX-XXXX' value='<%= model.sss() %>'></input>
      <span class='action-link' data-container='body' data-toggle='popover' data-placement='top' data-content='Providing your SSN is optional during the on-boarding process, but is required for providing you with a W-4 and filing your tax return.'><u>Why do we need this?</u></span>
    </div>
  </div>

  <hr class='divider'/>

  <div class='content-row'>
    <div class='left-content'>Will someone claim your spouse as a dependent?<span class='glyphicon glyphicon-question-sign' data-container='body' data-toggle='popover' data-placement='top' data-content='If someone is going to claim you as a dependent on their return you can still file your return for a refund. However, you will not be allowed to claim yourself and take the personal exemption when filing.'></span></div>
    <div class='right-content'>
      <div class="radio">
        <label><input type="radio" name="claim_as_dependent" value="1" <%= model.claimAsDependent() == true ? 'checked ' : '' %>required>Yes</label>
        <label><input type="radio" name="claim_as_dependent" value="0" <%= model.claimAsDependent() != true ? 'checked ' : '' %>required>No</label>
      </div>
    </div>
  </div>

  <div class='content-row'>
    <div class='left-content'>Did your spouse have health insurance all year?</div>
    <div class='right-content'>
      <div class="radio">
        <label><input type="radio" name="has_health_insurance" value="1" <%= model.hasHealthInsurance() == true ? 'checked ' : '' %>required>Yes</label>
        <label><input type="radio" name="has_health_insurance" value="0" <%= model.hasHealthInsurance() != true ? 'checked ' : '' %>required>No</label>
      </div>
    </div>
  </div>

  <div class='content-row'>
    <div class='left-content'>Number of consecutive months without health insurance</div>
    <div class='right-content'>
      <input type="number" class='form-control input-field' id="months-without-health-insurance" name='months_without_health_insurance' placeholder='1-12' value='<%= model.monthsWithoutHealthInsurance() %>' min="1" max="12" step="1" required></input>
    </div>
  </div>

</form>
