.row
	.col-xs-12
		%table.table.table-striped.table-hover.table-panel.sortable
			%thead
				%tr
					%th
						= sortable "last_name", "Name"
					%th
						= sortable "email"
					%th State
					%th
			%tbody
				- if @users.length > 0
					- @users.each do |u|
						%tr
							%td #{u.last_name + ', ' + u.first_name}
							%td #{u.email}
							%td #{if u.computations.last.to_a[0].present? then u.computations.last.to_a[0]['state'] else '-' end}
							%td.options
								- if u.deactivated_at.present?
									%a.toggle-row.activate{:href => '#', 'data-form-method' => 'PUT', 'data-form-action' => 're-activate', 'data-type' => 'user', 'data-id' => u.id} Re-activate
								- elsif u.id != current_user.id
									%a.toggle-row.deactivate{:href => '#', 'data-form-method' => 'PUT', 'data-form-action' => 'deactivate', 'data-type' => 'user', 'data-id' => u.id} Deactivate
				- else
					%tr.placeholder
						%td.text-center{:colspan => 4}
							No users yet.
	.row.table-options
	.col-xs-3
		%ul.list-inline
			%li Items per page
			%li
				= per_page_link 20
			%li
				= per_page_link 50
			%li
				= per_page_link 100
			%li
				= per_page_link 250
	.col-xs-8.col-xs-offset-1.text-right
		Page #{ @users.current_page }
		%em of
		= @users.total_pages
		= will_paginate @users, { :previous_label => "", :next_label => "" }