.dashboard-content
	.container.dashboard-text-container
		%form.form-inline{:method => 'get', :action => admin_users_path}
			.row
				.col-xs-6.form-group
					%label{:for => 'search-query'} Search by
					= text_field_tag :search, params[:search], {:class => "form-control", :id => "search-query", :placeholder => "Name or email address"}
				.col-xs-6.text-right
					%a#btn-download.btn.btn-primary{:href => admin_users_path + ".csv"} Download User List (CSV)
	.container#users-table.dashboard-data
		- if flash[:notice]
			.alert{:class => "alert-" + flash[:type]}
				= flash[:notice]
		= render 'table'
#message-box.modal{"aria-hidden" => "true", :role => "dialog", :tabindex => "-1"}
	.modal-dialog.modal-prompt
		.modal-content
			.modal-body
				%button.close{"aria-label" => "close", "data-dismiss" => "modal", :type => "button"}
					%img{:alt => "&amp;times;", :aria => "{:hidden=&gt;&quot;true&quot;}", :src => asset_path("common/modal-close.png")}
				%span.message
			.modal-footer
				%button#btn-confirm.btn.btn-primary{"data-dismiss" => "modal", :type => "button"} Yes
				%button#btn-deny.btn.btn-default{"data-dismiss" => "modal", :type => "button"} No
:javascript
	var toggle_path = "#{ admin_users_toggle_path }";