class App.Views.Tax.StepIncomeInfo extends Backbone.View
  templates:
    container: JST['templates/tax/steps/income_info']
    jobForm: JST['templates/tax/steps/job_form']

  render: (model) ->
    @model = model
    @closeBtn = '<%= asset_path("common/modal-close.png") %>'
    @setElement(@templates.container(model: @model, closeBtn: @closeBtn))

    @renderJobs()
    @$("#job-template").html(@templates.jobForm())

    @

  afterShow: ->
    currentJob = null
    forSpouse = null
    model = @model
    view = @
    @setDropdowns()

    # toggle job blocks
    $('.panel-heading').unbind('click').on 'click', '.btn-toggle-job', (e) ->
      panel = $(this).closest('.panel-income-info')

      if panel.hasClass('open')
        view.hideJob(panel, true)
      else
        view.showJob(panel, true)

    # delete job confirmation
    .on 'click', '.btn-delete-job', (e) ->
      blocks = $("#income-info-blocks, #spouse-income-info-blocks").find(".panel-income-info")

      if blocks.length > 1
        currentJob = $(this).closest('.panel-income-info')
        $('#confirm-delete-job').modal('show')
      else
        msgBox(if model.isFilingJoint() then 'Either you or your spouse must have at least one job.' else 'You must have at least one job.')

    # delete job
    @$('#btn-delete-job-confirm').click (e) ->
      outerBox = currentJob.closest('.income-info-blocks')

      currentJob.fadeOut('normal', () ->
        $(@).remove()
        view.setAddJobText(outerBox)
      )

      currentJob = null

    # add job confirmation
    @$('.add-job').click (e) ->
      forSpouse = parseInt($(this).data('for-spouse'))
      $('#confirm-add-job').modal('show')
      false

    # add job
    @$('.btn-add-job-confirm').click (e) ->
      isNew = parseInt($(this).data('is-new'))
      container = if forSpouse then $('#spouse-income-info-blocks') else $('#income-info-blocks')
      outerBox = container.closest('.income-info-blocks')
      block = $.parseHTML($("#job-template").html())

      view.hideJob(container.find('.panel-income-info'), true)

      container.append(block)
      lastPanel = container.find('.panel-income-info').last()

      lastPanel.find("[name=date_of_pay_stub]").select2(data: tz.utils.monthsDropdownData)
      lastPanel.find("[name=paycheck_frequency]").select2(data: tz.utils.select2data(model.PAYCHECK_FREQUENCIES), minimumResultsForSearch: Infinity)
      lastPanel.find("[name=is_currently_employed]").val(isNew).select2(data: tz.utils.select2data(model.CURRENTLY_EMPLOYED), minimumResultsForSearch: Infinity)

      $('html, body').stop().animate({
          scrollTop: lastPanel.offset().top
      }, 1000, 'easeOutExpo')
      
      setTimeout () ->
        lastPanel.find('[name=company_name]').focus()
      , 1

      view.setAddJobText(outerBox)

    # copy company name to title box
    $('.income-info-step').unbind('keyup').on 'keyup', '.company_name', () ->
      view.setJobTitle(@)

    # toggle paycheck date based on employment status
    $('.income-info-step').unbind('change').on 'change', '.is_currently_employed', () ->
      form = $(@).closest('form')
      toDisable = form.find('input.date_of_pay_stub, input.paycheck_frequency')
      fieldBoxes = form.find('.for-current-job')
      
      if parseInt($(@).select2('val')) == 1
        fieldBoxes.stop().fadeIn('fast')
        toDisable.prop('disabled', false)
      else
        fieldBoxes.stop().fadeOut('fast')
        toDisable.prop('disabled', true).select2('val', '')

    # all paycheck dates must match
    $('.income-info-step').on 'change', '.date_of_pay_stub', () ->
      $('.date_of_pay_stub:enabled').select2('val', $(@).val())

    # show message box
    msgBox = (message) ->
      box = $("#message-box")
      box.find(".message").html(message)
      box.modal('show')

  showJob: (panel, animate) ->
    body = panel.find('.panel-body')

    panel.addClass('open')
    panel.css('padding-bottom', '28px')

    if animate
      body.stop().slideDown('fast')
    else
      body.show()

  hideJob: (panel, animate) ->
    body = panel.find('.panel-body')

    panel.removeClass('open')

    if animate
      body.stop().slideUp('fast', () ->
        panel.css('padding-bottom', '2px')
      )
    else
      body.hide()
      panel.css('padding-bottom', '2px')

  setJobTitle: (el) ->
    $(el).closest('.panel-income-info').find('.job-title').html($(el).val())

  setAddJobText: (outerBox) ->
    addJobLink = outerBox.find('.add-job').find('u')

    if outerBox.find('.panel-income-info').length > 0
      addJobLink.html('Add another job')
    else
      addJobLink.html('Add a job')

  renderJobs: ->
    if @model.jobs.length > 0
      @renderLoadedJobs()
    else
      if @model.isFilingJoint()
        if @model.spouse.jobs.length == 0
          @renderNewJobs()
      else
        @renderNewJobs()

    @setAddJobText(@$("#income-info-blocks").closest('.income-info-blocks'))

    if @model.spouse and @model.isFilingJoint()
      @$('.spouse-income-info-box').removeClass('hidden').find('.person-name').html(@model.spouse.fullName())

      if @model.spouse.jobs.length > 0
        @renderSpouseLoadedJobs()
      else
        @renderSpouseNewJobs()

      @setAddJobText(@$("#spouse-income-info-blocks").closest('.income-info-blocks'))
    else
      @$('.spouse-income-info-box').addClass('hidden').find('.person-name').html("")

  renderLoadedJobs: ->
    @model.jobs.each (job) =>
      @renderJob(job, false)

  renderNewJobs: ->
    #job = new App.Models.Job()
    @renderJob(null, false)

  renderSpouseLoadedJobs: ->
    @model.spouse.jobs.each (job) =>
      @renderJob(job, true)

  renderSpouseNewJobs: ->
    #job = new App.Models.Job()
    #@renderJob(null, true)

  renderJob: (job, for_spouse) ->
    block = $.parseHTML(@templates.jobForm(job: job))
    @setJobTitle($(block).find('.company_name'))

    $container =
      if for_spouse
        @$('#spouse-income-info-blocks')
      else
        @$('#income-info-blocks')

    $container.append(block)

  setDropdowns: ->
    model = @model

    containers = @$("#income-info-blocks, #spouse-income-info-blocks")

    containers.find("[name=date_of_pay_stub]").select2(data: tz.utils.monthsDropdownData)
    containers.find("[name=paycheck_frequency]").select2(data: tz.utils.select2data(model.PAYCHECK_FREQUENCIES), minimumResultsForSearch: Infinity)

    containers.find("[name=is_currently_employed]").each () ->
      if not $(@).val()
        $(@).val(1)

      $(@).select2(data: tz.utils.select2data(model.CURRENTLY_EMPLOYED), minimumResultsForSearch: Infinity)

    allowances = _.map(_.range(0, 15), (num) ->
      {id: num.toString(), text: num.toString()}
    )
    @$("input[name=number_of_allowances]").select2(data: allowances)

  save: ->
    # Set jobs
    @model.jobs.reset()

    _.each @$('#income-info-blocks form.job-form'), (form) =>
      @model.jobs.add($(form).serializeObject())

    if @model.spouse and @model.isFilingJoint()
      @model.spouse.jobs.reset()

      _.each @$('#spouse-income-info-blocks form.job-form'), (form) =>
        @model.spouse.jobs.add($(form).serializeObject())
