= content_for :title, "Sign In"
.container
  .row
    .col-md-6.col-md-offset-3
      .row
        .col-md-8.col-md-offset-2
          .form-panel
            .panel
              .panel-heading
                .panel-title
                  Sign In
              .panel-body
                = form_for(resource, class: 'form center-block' , as: resource_name, url: session_path(resource_name)) do |f|
                  = devise_error_messages!
                  = raw display_messages
                  .form-group
                    %label{:for => "email"} Email Address
                    = f.email_field :email, class: 'form-control', id: 'email', tabindex: 1, autofocus: true
                  .form-group
                    %label{:for => "password"} Password
                    .pull-right
                      %a{:href => "/forgot-password"} Forgot password?
                    = f.password_field :password, class: 'form-control', id: 'password', tabindex: 2, autocomplete: "off"
                  .form-group
                    .checkbox
                      %label
                        = f.check_box :remember_me, tabindex: 3
                        Remember me
                  .form-group
                    %button{:type => 'submit', class: 'btn btn-primary btn-lg btn-block', tabindex: 4} Sign in to your Account
                    /= f.submit "Sign in to your Account", class: 'btn btn-primary btn-lg btn-block', tabindex: 4
            %p.text-center
              Don't have an account? 
              %a{:href => "/register"} Create an account
= javascript_include_tag :login
