

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
    font-family: 'latolight',Helvetica,Arial,sans-serif;
    font-size: 16px;
    color: #5a5a5a;
}

a, a:hover, a img, a:focus, button.btn, .btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn.focus:active, .btn.active.focus {
    outline: 0;
    transition: all 0.5s ease;
}

a {
    color: #90b733;
}

a:hover {
    color: #9fc93b;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {

}

h1 {
    font-family: 'latoregular',Helvetica,Arial,sans-serif;
}

a img {
    opacity: .85;
}

a:hover img {
    opacity: 1.0;
}

/** inner **/

.navbar {
    background: fff !important;
    height: 112px;
    color: #8a8a8a;
    margin-bottom: 0px;
}

a.navbar-brand {
    float: left;
    font-size: 18px;
    height: 46px;
    line-height: 20px;
    padding: 32px 0 32px 15px;
}

a.navbar-brand img {
    opacity: 1.0;
}

h1 {
    margin-top: 50px;
    font-size: 48px;
    text-align: center;
    letter-spacing: -1px;
}

.navbar-inverse {
    background: #fff;
}

.navbar-inverse .navbar-nav > li > a {
    color: #8a8a8a;
    font-family: 'latoregular',Helvetica,Arial,sans-serif;
    letter-spacing: 0.5px;
    margin-right: 35px;
    margin-top: 45px;
    padding: 0;
    text-shadow: none;
    text-transform: uppercase;
}

.navbar-inverse .navbar-nav > li > a:hover {
    color: #5a5a5a;
}

.navbar-inverse .navbar-nav > li > a.signin {
    background: #a0c742;
    text-transform: none;
    color: #fff;
    padding: 10px 20px;
    margin-right: 0px;
    margin-top: 35px;
    border-radius: 5px;
    cursor: pointer;
}

.navbar-inverse .navbar-nav > li > a.signin:hover {
    background: #abd83f;
}

.navbar-inverse .navbar-nav > li > a.logout {
    background: #cb3846 !important;
}

.navbar-inverse .navbar-nav > li > a.logout:hover {
    background: #da4453;
}

.navbar-fixed-top, .navbar-inverse {
    border: 0px;
}

.innercont {
    color: #fff;
    padding-top: 80px;
    padding-bottom: 80px;
}

.addtop {
    margin-top: 25px;
}

.home .navbar {
    background: transparent !important;
    height: 112px;
    color: #fff;
    margin-bottom: 0px;
}

.home a.navbar-brand {
    float: left;
    font-size: 18px;
    height: 46px;
    line-height: 20px;
    padding: 32px 0 32px 15px;
}

.home a.navbar-brand img {
    opacity: 1.0;
}

.home h1 {
    margin-top: 40px !important;
    font-size: 48px;
    text-align: center;
    letter-spacing: -1px;
}

.home .navbar-inverse .navbar-nav > li > a {
    color: #ddd;
    font-family: 'latoregular',Helvetica,Arial,sans-serif;
    letter-spacing: 0.5px;
    margin-right: 35px;
    margin-top: 45px;
    padding: 0;
    text-shadow: none;
    text-transform: uppercase;
}

.home .navbar-inverse .navbar-nav > li > a:hover {
    color: #fff;
}

.home .navbar-inverse .navbar-nav > li > a.signin {
    background: #a0c742;
    text-transform: none;
    color: #fff;
    padding: 10px 20px;
    margin-right: 0px;
    margin-top: 35px;
    border-radius: 5px;
    cursor: pointer;
}

.home .navbar-inverse .navbar-nav > li > a.signin:hover {
    background: #abd83f;
}

.home .navbar-fixed-top, .home .navbar-inverse {
    border: 0px;
}

.homecont {
    text-align: center;
}

.cscontm h2, .cscontm .h2 {
    color: #B9E24B;
    font-family: latoregular;
    font-size: 27px;
    letter-spacing: 1px;
    margin: 0px 0 20px;
    text-transform: uppercase;
}

.abt {
    position: absolute;
    bottom: 0;
    text-align: left;
    width: 1170px;
    font-size: 14px;
    padding-bottom: 20px;
}

.row.moreinfo {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin-top: 30px;
}

.btn {
   font-family: 'latobold',Helvetica,Arial,sans-serif;
}

.btn-primary {
    background: none repeat scroll 0 0 #1c93bf;
    border: 5px none;
    box-shadow: none;
    text-shadow: none;
}

.btn-primary:hover, .btn-primary:focus {
    background: #2aa7d6;
}

.home .jumbotron .btn-primary {
    font-size: 22px;
    letter-spacing: 1px;
    line-height: 22px;
    padding: 20px 50px;
    text-transform: uppercase;
}

.cs {
    background: #161f29 image-url("funnel/bgcsxa.jpg") no-repeat top center;
    background-size: cover;
    color: #fff;
    text-align: center;
}

.homecont .col-md-4 > p {
    margin-bottom: 70px;
}

.form-control {
    border: 1px solid #dfe0e3;
}

::-webkit-input-placeholder {
   color: #aaa;
}

::-moz-placeholder {
   color: #aaa;
}

:-ms-input-placeholder {
   color: #aaa;
}

.modal-footer {
    border: none;
}

button.btngrn {
    background: #a0c742;
}

button.btngrn:hover, button.btngrn:focus {
    background: #abd83f;
}

/* cs */

.cs h1 {
    font-size: 54px;
    letter-spacing: 0;
    line-height: 60px;
    margin-top: 0;
    text-align: center;
}

.csheadl {
    margin-bottom: 20px;
    text-align: left;
}

.csheadr {
    text-align: right;
    margin-top: 12px;
}

.cshead {
    margin-top: 35px;
}

.cshead .fb-like {
    display: inline-block;
    margin-right: 25px;
}

.cshead .fb-like > span {
    vertical-align: top !important;
}

.cshead .tw {
    display: inline-block;
    float: right;
}

input.emailcs {
    display: inline-block;
    /* width: 420px;
     padding-right: 26px; */
}

.cshead .form-group {
    text-align: center;
}

.csbtn.caps {
    border-radius: 5px;
   /* -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px; */
    display: inline-block;
    letter-spacing: 1px;
    padding: 11px;
    text-transform: uppercase;
    vertical-align: top;
/*    width: 220px;
    margin-left: -10px; */
    line-height: 24px;
    margin-top: 10px;
    margin-bottom: 50px;
}

.cscontm h3, .cscontm .h3 {
    font-family: "latoregular",Helvetica,Arial,sans-serif;
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 30px;
    margin-top: 40px;
}

.mailerx {
    padding-bottom: 0px;
}

.cscontm {
/*    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    top: 17%;
    width: 1170px; */
}


/* end cs */

.clear {
    clear: both;
    height: 0;
}

.steps img {
    display: block;
    margin: 10px auto 15px;
}

/*
.container {
    width: 1170px !important;
} */

.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

.col-xs-15 {
    width: 20%;
    float: left;
}

.alert {
    text-align: left;
    background: none;
    border: 0;
    padding-top: 12px !important;
    font-size: 18px !important;
    text-shadow: none;
    font-family: latoregular;
    box-shadow: none;
    &.alert-danger {
    color: #F44336;
    }
    &.alert-success {
    color:  #93c117;
    }
}

@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
    .cshead .col-md-6 {
      width: 100%;
      float: left;
      text-align: center;
      display: block;
      margin-bottom: 20px;
    }
    .cshead .tw {
    float: none;
    }
    .steps div {
/*    clear: left;
    margin: 0 auto;
    padding-top: 15px;
    text-align: left;
    width: 100%;
    float: left;
    display: inline-block; */
    }
    .cs h1 {
    font-size: 34px;
    letter-spacing: 0;
    line-height: 40px;
    margin-top: 0;
    text-align: center;
    }
    .cscontm h2, .cscontm .h2 {
    color: #b9e24b;
    font-family: latoregular;
    font-size: 20px;
    letter-spacing: 1px;
    margin: 30px 0 20px;
    text-transform: uppercase;
    }
    .cshead .fb-like {
    vertical-align: top !important;
    padding-left: 35px;
    }
    .home h1 {
    margin-top: 0px !important;
    margin-bottom: 20px;
    }
    .cshead.col-md-6 .csheadl {
    margin-bottom: 0px !important;
    }
    .cscontm h3, .cscontm .h3 {
    margin-bottom: 20px;
    margin-top: 10px;
    }
    .csbtn.caps {
    margin-bottom: 20px;
    }
    .cscontm {
    padding-bottom:  30px;
    }
    .alert {
    text-align: left;
    background: none;
    border: 0;
    padding-top: 12px !important;
    font-size: 18px !important;
    text-shadow: none;
    font-family: latoregular;
    box-shadow: none;
    &.alert-danger {
    // color: cornflowerblue;
    color: #f24d60;
    }
    &.alert-success {
    color:  #93c117;
    }
}
}

@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {
    .cshead .col-md-6 {
    width: 50%;
    display: inline-block;
    float: left;
    }
    .cs h1 {
    font-size: 45px;
    letter-spacing: 0;
    line-height: 50px;
    margin-top: 20px;
    text-align: center;
    }
    .cscontm h2, .cscontm .h2 {
    margin: 40px 0 20px;
    font-size: 25px;
    }
    /* .steps div {
    clear: left;
    margin: 0 auto;
    padding-top: 15px;
    text-align: left;
    width: 75%;
    }
   .steps div img {
    float: left;
    margin-bottom: 5px;
    margin-right: 25px;
    margin-top: -5px;
    margin-left: 25px;
    }  */
    .cscontm h3, .cscontm .h3 {
    font-family: "latoregular",Helvetica,Arial,sans-serif;
    font-size: 15px;
    line-height: 26px;
    margin-bottom: 20px;
    margin-top: 30px;
    }
    .form-group {
    width: 50%;
    }
}

@media only screen
and (min-width : 1224px) {
    .cscontm {
    margin-top: 0px;
    }

    .steps {
    margin: 50px auto;
    }

    .cscontm .form-group input, .cscontm .form-group a, .cscontm .form-group .alert-container {
        width: 50%;
    }

}

// ALERT FUNNEL
.form-group {
  .alert-container.alert {
    margin: 0 auto;
    padding: 5px;
    margin-bottom: 10px;
    display: none;
  }
}

/* responsive fixes */

.steps div {
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 10px;
}

