@font-face {
    font-family: 'Glyphicons Halflings';
    src: asset-url('glyphicons-halflings-regular.woff') format('woff'),
         asset-url('glyphicons-halflings-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
