

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
    font-family: 'latolight',Helvetica,Arial,sans-serif;
    font-size: 16px;
    color: #5a5a5a;
}

a, a:hover, a img, a:focus, button.btn, .btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn.focus:active, .btn.active.focus {
    outline: 0 !important;
    transition: all 0.5s ease !important;
}

a {
    color: #90b733;
}

a:hover {
    color: #9fc93b;
    text-decoration: none;
}

a img {
    opacity: .85;
}

a:hover img {
    opacity: 1.0;
}

/** inner **/

.navbar {
    background: fff !important;
    height: 112px;
    color: #8a8a8a;
    margin-bottom: 0px;
}

a.navbar-brand {
    float: left;
    font-size: 18px;
    height: 46px;
    line-height: 20px;
    padding: 32px 0 32px 15px;
}

a.navbar-brand img {
    opacity: 1.0;
}

h1 {
    margin-top: 70px;
    font-size: 48px;
    text-align: center;
    letter-spacing: -1px;
}

.navbar-inverse {
    background: #fff;
}

.navbar-inverse .navbar-nav > li > a {
    color: #8a8a8a;
    font-family: 'latoregular',Helvetica,Arial,sans-serif;
    letter-spacing: 0.5px;
    margin-right: 35px;
    margin-top: 45px;
    padding: 0;
    text-shadow: none;
    text-transform: uppercase;
}

.navbar-inverse .navbar-nav > li > a:hover {
    color: #5a5a5a;
}

.navbar-inverse .navbar-nav > li > a.signin {
    background: #a0c742;
    text-transform: none;
    color: #fff;
    padding: 10px 20px;
    margin-right: 0px;
    margin-top: 35px;
    border-radius: 5px;
    cursor: pointer;
}

.navbar-inverse .navbar-nav > li > a.signin:hover {
    background: #abd83f;
}

.navbar-inverse .navbar-nav > li > a.logout {
    background: #cb3846 !important;
}

.navbar-inverse .navbar-nav > li > a.logout:hover {
    background: #da4453;
}

.navbar-fixed-top, .navbar-inverse {
    border: 0px;
}

.innercont {
    color: #fff;
    padding-top: 80px;
    padding-bottom: 80px;
}

.regi, .gene {
    background: image-url("static_pages/bg-register.jpg") no-repeat top center;
    background-size: cover;
    padding-bottom: 40px;
}

.gene {
    padding-bottom: 70px;
    color: #fff;
}

.gene h2, .gene .h2 {
    color: #fff;
    font-size: 34px;
    margin: 0 0 25px;
    padding: 0;
}

.gene p {
    margin-bottom: 20px;
}

.dash {
    background: image-url("static_pages/bg-dash.jpg") no-repeat top center;
    background-size: cover;
}

.dash h3 {
    margin-top: 0px;
}

.reg-form {
    background: rgba(45,49,63,.5);
    border-radius: 10px;
    padding: 30px 35px;
    margin-bottom: 60px;
}

.mydash {
    background: #fff;
    border-radius: 10px;
    padding: 0;
    margin-top: 30px;
    color: #3a3a3a;
}

.nopadding {
    padding: 0;
}

.addpad {
    padding: 0 15px;
}

.steps {
    padding: 35px 30px;
    background: image-url("static_pages/line.png") no-repeat center 40px;
}

.steps div {
    display: inline-block;
    text-align: center;
    width: 33%;
    font-size: 16px;
    color: #b0b8c2;
    font-family: 'latobold';
    text-transform: uppercase;
    padding-top: 30px;
    background: image-url("static_pages/default.png") no-repeat top center;
}

.steps div.current {
    background: image-url("static_pages/current.png") no-repeat top center;
    color: #5a5a5a;
}

.steps div.done {
    background: image-url("static_pages/done.png") no-repeat top center;
    color: #5a5a5a;
}

.taxform {
    padding: 50px 60px;
    background: #fafafa;
    border-top: 1px solid #f0f0f0;
    font-size: 18px;
    color: #3a3a3a;
    -webkit-border-bottom-right-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-bottomright: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.taxform .form-group {
    display: inline-block;
    margin-bottom: 10px;
}

.taxform .addtop {
    margin-top: 15px;
}

select.form-control {
    border-radius: 6px;
    font-size: 18px;
    height: 46px;
    line-height: 1.33;
    padding: 10px 12px;
}

.taxform label {
    font-family: 'latolight',Helvetica,Arial,sans-serif;
    font-size: 18px;
    color: #5a5a5a;
    width: 185px;
    text-align: right;
    font-weight: normal;
    padding-top: 10px;
}

.clear {
    clear: both;
    height: 0;
}

.fleft, .fright {
    float: left;
}

.fright {
    margin-left: 50px;
    width: 360px;
}

h6 {
    font-size: 15px;
    font-family: 'latoregular',Helvetica,Arial,sans-serif;
    margin: 0 0 10px 0;
    padding: 0px;
}

p.privtext {
    font-size: 14px;
    line-height: 18px;
    color: #ddd;
}

h3.secttit {
    margin: 0 0 30px;
    padding: 0;
    font-size: 28px;
    font-family: 'latoregular',Helvetica,Arial,sans-serif;

}

.btnreg {
    margin-bottom: 30px;
    letter-spacing: 0.5px;
}

.curlink {
    cursor: pointer;
}

/** end of inner **/

.addtop {
    margin-top: 25px;
}

.home .navbar {
    background: transparent !important;
    height: 112px;
    color: #fff;
    margin-bottom: 0px;
}

.home a.navbar-brand {
    float: left;
    font-size: 18px;
    height: 46px;
    line-height: 20px;
    padding: 32px 0 32px 15px;
}

.home a.navbar-brand img {
    opacity: 1.0;
}

.home h1 {
    margin-top: 70px;
    font-size: 48px;
    text-align: center;
    letter-spacing: -1px;
}

.home .navbar-inverse .navbar-nav > li > a {
    color: #ddd;
    font-family: 'latoregular',Helvetica,Arial,sans-serif;
    letter-spacing: 0.5px;
    margin-right: 35px;
    margin-top: 45px;
    padding: 0;
    text-shadow: none;
    text-transform: uppercase;
}

.home .navbar-inverse .navbar-nav > li > a:hover {
    color: #fff;
}

.home .navbar-inverse .navbar-nav > li > a.signin {
    background: #a0c742;
    text-transform: none;
    color: #fff;
    padding: 10px 20px;
    margin-right: 0px;
    margin-top: 35px;
    border-radius: 5px;
    cursor: pointer;
}

.home .navbar-inverse .navbar-nav > li > a.signin:hover {
    background: #abd83f;
}

.home .navbar-fixed-top, .home .navbar-inverse {
    border: 0px;
}

.homecont {
    text-align: center;
}

h2, .h2 {
    font-size: 23px;
    color: #3a3a3a;
}

.btn {
   font-family: 'latobold',Helvetica,Arial,sans-serif;
}

.btn-primary {
    background: none repeat scroll 0 0 #1c93bf;
    border: 5px none;
    box-shadow: none;
    text-shadow: none;
}

.btn-primary:hover, .btn-primary:focus {
    background: #2aa7d6;
}

.home .jumbotron .btn-primary {
    font-size: 22px;
    letter-spacing: 1px;
    line-height: 22px;
    padding: 20px 50px;
    text-transform: uppercase;
}

.home .jumbotron {
    background: image-url("static_pages/bg-home.jpg") no-repeat top center;
    background-size: cover;
    color: #fff;
    margin-top: -112px;
    padding-top: 112px;
    text-align: center;
    margin-bottom: 70px;
    padding-bottom: 110px;
}

.home .playvid {
    opacity: .9;
    margin: 80px auto;
    display: inline-block;
}

.home .playvid:hover {
    opacity: 1.0;
}

.homecont .col-md-4 > p {
    margin-bottom: 70px;
}

.footer {
    background: #253444;
    color: #a5aeba;
    font-size: 14px;
    line-height: 20px;
    padding: 50px 0 30px;
    font-family: 'latoregular',Helvetica,Arial,sans-serif;
}

.footer .col-md-8 {
    padding-bottom: 20px;
}

.footer .col-md-8 a {
    margin: 0 10px;
    color: #a5aeba;
}

.footer .col-md-8 a:hover {
    color: #bfc5ce;
}

.footer .col-md-4 {
    text-align: right;
}

.footer .fb-like {
    margin-right: 20px;
    display: inline-block;
}

.footer .tw {
    display: inline-block;
    float: right;
}

#loginmodal .modal-dialog {
    margin: 130px auto 0;
    max-width: 380px;
}

#loginmodal .modal-content {
    background: none repeat scroll 0 0 #fafafa;
    border: 0px;
    border-top: 7px solid #a0c742;
}

.modal-header .close {
    background: image-url("static_pages/closelogin.png") no-repeat center center;
    height: 11px;
    width: 11px;
    display: inline-block;
    opacity: .7;
    margin-top: 0px;
}

.modal-header .close:hover {
    opacity: 1.0;
}

#loginmodal .modal-header {
    border-bottom: 0 none;
    padding: 10px 10px 0px 30px;
}

#loginmodal .modal-footer {
    padding: 0px 30px 35px;
}

#loginmodal .modal-footer p {
    margin: 20px 0 0 0;
}

.btnsign {
    margin-bottom: 25px;
}

.loginmodal h2 {
    font-family: 'latoregular',Helvetica,Arial,sans-serif;
}

.caps {
    text-transform: uppercase;
}

.form-control {
    border: 1px solid #dfe0e3;
}

::-webkit-input-placeholder {
   color: #aaa;
}

::-moz-placeholder {
   color: #aaa;
}

:-ms-input-placeholder {
   color: #aaa;
}

.modal-footer {
    border: none;
}

button.btngrn {
    background: #a0c742;
}

button.btngrn:hover, button.btngrn:focus {
    background: #abd83f;
}

.taxform .radio > label, .taxresults p {
    color: #3a3a3a;
    font-family: "latoregular";
    font-size: 20px;
    padding-top: 0;
    text-align: left;
    vertical-align: text-top;
    width: 100%;
}

.taxresults p {
    text-align: center;
    margin-bottom: 40px;
}

.fed, .sta {
    width: 50%;
    float: left;
    padding-left: 50px;
}

.fed p, .sta p {
    margin-bottom: 0px;
    margin-left: 0;
    padding-left: 0px;
    text-align: left;
}

span.myrefund {
    color: #84c044;
    font-size: 43px;
}

h3, .h3 {
    font-size: 23px;
}

.refund-container {
  position: relative;
  font-size: 43px;
  font-family: "latoregular";

  .green {
    color: #84c044;
  }

  .red {
    color: #da4453;
  }

  .loading-animation {
    display: block;
  }
}

.taxform .semicap {
    display: block;
}

.taxform .semicap label {
    color: #e0aa34;
    font-family: "latoregular";
    font-size: 18px;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
}

label.payprov {
    margin-top: 20px;
}

.taxform .radio label input[type="radio"] {
  margin-top: 7px;
  vertical-align: middle;
}

.taxform .radio {
    margin-bottom: 20px;
    margin-top: 0;
}

/** mobile **/

.navbar-inverse .navbar-toggle {
    border-color: #aaa;
}
.navbar-toggle {
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    float: right;
    margin-bottom: 8px;
    margin-right: 20px;
    margin-top: 38px;
    padding: 9px 10px;
    position: relative;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border: none;
}

.navbar-collapse {
    box-shadow: none;
    overflow-x: visible;
    padding: 0 40px;
}














