@import "custom/mixins.scss";

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html {
  position: relative;
  height: 100%;
}

body {
  font-family: "Proxima Nova W01", Helvetica, Arial, sans-serif;
  font-size: $fs-body;
  background-color: $bg-body;
  color: $fg-body;
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  >.container {
    flex: 1;
  }
}

// Header Nav
// --------------------

.navbar {
  border-radius: 0px;
  margin: 0;
  border: 0;
}

.main-navbar {
  background: $bg1-navbar;
  background: -moz-linear-gradient(left, $bg1-navbar 0%, $bg2-navbar 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, $bg1-navbar), color-stop(100%, $bg2-navbar));
  background: -webkit-linear-gradient(left, $bg1-navbar 0%, $bg2-navbar 100%);
  background: -o-linear-gradient(left, $bg1-navbar 0%, $bg2-navbar 100%);
  background: -ms-linear-gradient(left, $bg1-navbar 0%, $bg2-navbar 100%);
  background: linear-gradient(to right, $bg1-navbar 0%, $bg2-navbar 100%);
  height: 74px;
  position: relative;
}

.navbar-center-logo {
  height: 46px;
  width: 218px;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

// Footer
// --------------------

footer {
  background: $bg1-footer;
  background: -moz-linear-gradient(left, $bg1-footer 0%, $bg2-footer 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, $bg1-footer), color-stop(100%, $bg2-footer));
  background: -webkit-linear-gradient(left, $bg1-footer 0%, $bg2-footer 100%);
  background: -o-linear-gradient(left, $bg1-footer 0%, $bg2-footer 100%);
  background: -ms-linear-gradient(left, $bg1-footer 0%, $bg2-footer 100%);
  background: linear-gradient(to right, $bg1-footer 0%, $bg2-footer 100%);
  color: $fg-footer;
  font-size: $fs-footer;
  height: 80px;

  .container {
    height: 100%;
  }

  .row {
    height: 100%;
    width: 100%;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    align-items: center;
  }

  .fb-like {
    margin: 0 10px 5px 0;
  }

  a {
    color: $fg-footer-link;
    margin: 0 10px;

    &:hover {
      color: $fg-footer-link;
    }
  }
}

// Forms
// --------------------

.form-panel {
  margin: 120px 0;

  .panel {
    box-shadow: 0 0 8px rgba(0, 0, 0, .1);
    border: 1px solid $border-panel;
    border-radius: 4px;
    font-size: $fs-panel;
    padding: 10px 20px;

    .panel-title {
      font-size: $fs-title;
    }

    input + input {
      margin-top: 5px;
    }

    .note {
      font-size: $fs-panel-note;
    }
  }
}

input[type] {
  border-radius: 3px;

  &:focus {
    border-color: $border-focus;
  }

  &.error {
    border-color: #a94442;
  }
}

.btn {
  border-radius: 3px;
  font-size: $fs-btn;
  font-weight: 700;
  text-transform: uppercase;
  border: 0;
  background-image: none;
  padding: 12px 16px;
  text-shadow: none;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}

.btn-sm {
  padding: 4px 5px;
}

.btn-default {
  background-color: $bg1-btn-default;

  &:hover,
  &:focus {
    background-color: $bg2-btn-default;
  }
}

.btn-primary {
  background-color: $bg1-btn-primary;

  &:hover,
  &:focus {
    background-color: $bg2-btn-primary;
  }
}

.btn-loading {
  background: image-url("common/button-loading.gif") no-repeat scroll center center $bg-btn-disabled !important;
}

label {
  font-weight: 400;
}

// Typography
// --------------------

a {
  color: $fg-link;
}

a,
a:hover,
a:focus {
  outline: none;
}

a:hover {
  color: $fg-link;
  text-decoration: underline;
  cursor: pointer;
}

.icon {
  color: $fg-icon;
  font-size: $fs-icon;
  margin: 0;

  &:hover {
    color: $fg-icon-hover;
    text-decoration: none;
  }

  + .icon {
    margin-left: 5px;
  }
}

.footnote {
  font-weight: 700;
}

ul {
  margin-bottom: 0;
  padding-left: 20px;
}

#error_explanation {
  h2 {
    display: none;
  }
}

.flash {
  color: #ffffff;
  text-align: center;
  // BOOTSTRAP .alert

  &.warning {
    background-color: #FCfC50;
  }

  &.error{
    background-color: #EE4400;
  }

  &.notice {
    background-color: #44CCFF;
  }
}

input {
  &.error {
    border-color: #a94442;
  }
}

.loading-animation {
  @include loading-animation;
}