.banner
  .container
%nav.navbar.main-navbar.navbar-inverse{:role => "navigation"}
  .container
    .navbar-header
      %button.navbar-toggle.collapsed{"aria-controls" => "navbar", "aria-expanded" => "false", "data-target" => "#navbar", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{:href => "/"}
        =image_tag "common/logo-user.png"
    #navbar.navbar-collapse.collapse
      %ul.nav.navbar-nav.navbar-right
        - if user_signed_in?
          %li{:class => request.env['PATH_INFO'] == resources_path ? "active" : ''}
            %a{:href => resources_path} Resource Center
          %li.dropdown
            %a.dropdown-toggle{:href => "#", "data-toggle" => "dropdown", "aria-haspopup" => "true", "aria-expanded" => "false", :id => "user-menu"}
              - if @user.avatar.exists?
                =image_tag @user.avatar.url(:thumb), class: 'user-photo'
              - else
                =image_tag "user/no-photo.png", class: 'user-photo'
              %span.name#header-full-name #{current_user.full_name}
              =image_tag "user/arrow-down.png"
            %ul.dropdown-menu.top{"aria-labelledby" => "user-menu"}
              %li
                %a{:href => "#", "data-toggle" => "modal", "data-target" => "#edit-account-form"} Edit Account
              %li
                %a{:href => "mailto:info@taxbestimates.com"} Contact Us
              %li
                %a{:href => "logout"} Logout
        - else
          %li
            = link_to "Home", root_path
          %li
            = link_to "About", about_path
          %li
            = link_to "Contact Us", contact_path
          %li
            %a.signin{"data-target" => "#loginmodal", "data-toggle" => "modal"} Sign In
= render partial: "devise/registrations/edit"
