%footer.footer
  .container
    .row
      .col-xs-8
        %span
          \© #{ Time.now.year } TaxBestimates Inc. All rights reserved.
          = succeed "|" do
            %a{:href => "terms-and-conditions"} Terms and Conditions
          %a{:href => "privacy-policy"} Privacy Policy
      .col-xs-4.text-right
        .fb-like{"data-action" => "recommend", "data-href" => "https://www.facebook.com/TaxBestimatesInc", "data-share" => "true", "data-layout" => "button_count", "data-show-faces" => "false"}
        %a.icon{href: "https://www.facebook.com/TaxBestimatesInc", target: "_blank", title: "Facebook"}
          %span.tz-facebook
        %a.icon{"data-hashtags" => "taxbestimates", "data-url" => "http://www.taxbestimates.com", :href => "https://twitter.com/share"}
          %span.tz-twitter

:javascript
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-69529108-1', 'auto');
  ga('send', 'pageview');