.sub-nav-container
  .sub-nav
    %nav.navbar.sub-navbar{:role => "navigation"}
      .container
        .navbar-header
          %button.navbar-toggle.collapsed{"aria-controls" => "navbar", "aria-expanded" => "false", "data-target" => "#sub-navbar", "data-toggle" => "collapse", :type => "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
        #sub-navbar.navbar-collapse.collapse
          %ul.nav.navbar-nav
            %li#sub-dashboard
              %a{:href => "/tax#dashboard"}
                %span.icon.icon-dashboard>
                Dashboard
            %li#sub-personal-information
              %a{:href => "/tax#personal_information/1"}
                %span.icon.icon-info>
                Personal Information
            %li#sub-recommendations
              %a{:href => "/tax#options"}
                %span.icon.icon-recommendations>
                Tax Options
            %li#sub-archive
              %a{:href => "/tax#archive"}
                %span.icon.icon-archive>
                Computation Archive
            %li#sub-annual-filing
              %a{:href => "/tax#annual_filing"}
                %span.icon.icon-filing>
                Annual Filing
          - if current_user.admin == true
            %ul.nav.navbar-nav.navbar-right
              %li#sub-admin.pull-right
                %a{:href => "/admin"}
                  %span.icon.icon-admin>
                  Switch to Admin