@import url("http://fast.fonts.net/t/1.css?apiType=css&projectid=a6a8c53b-f30f-4e89-bca1-78a8fe069b3f");

@font-face {
  font-family: "Proxima Nova W01_n2";
  src: asset-url("93cc6d34_798e_42c8_87d2_fd6391801b63.eot?#iefix") format("eot");
}


@font-face {
  font-family: "Proxima Nova W01";
  src: asset-url("93cc6d34_798e_42c8_87d2_fd6391801b63.eot?#iefix");
  src: asset-url("93cc6d34_798e_42c8_87d2_fd6391801b63.eot?#iefix") format("eot"), asset-url("d9fe41ee_4904_4a11_ba11_b61cd3be767f.woff2") format("woff2"), asset-url("2fa30669_9bbd_4ced_912f_db94a367ed6c.woff") format("woff"), asset-url("c12b3ebb_3771_483f_a84a_ac63d615c28e.ttf") format("truetype"), asset-url("2a961063_ea56_4a4b_8cea_bdae32edb0e2.svg#2a961063_ea56_4a4b_8cea_bdae32edb0e2") format("svg");
  font-weight: 200;
  font-style: normal;
}


@font-face {
  font-family: "Proxima Nova W01_i2";
  src: asset-url("ee3e7ba6_7c22_4ff7_ad76_656505595a8a.eot?#iefix") format("eot");
}


@font-face {
  font-family: "Proxima Nova W01";
  src: asset-url("ee3e7ba6_7c22_4ff7_ad76_656505595a8a.eot?#iefix");
  src: asset-url("ee3e7ba6_7c22_4ff7_ad76_656505595a8a.eot?#iefix") format("eot"), asset-url("b47d2733_d2e6_452a_9134_77bcf65f9e7e.woff2") format("woff2"), asset-url("0c4be1a2_8e16_48b4_a384_165fa5baffe3.woff") format("woff"), asset-url("a7e6cc5b_7ba3_44be_9063_2cc1b3c05155.ttf") format("truetype"), asset-url("a1adf259_df55_4d1c_a2ab_dd790daf22f8.svg#a1adf259_df55_4d1c_a2ab_dd790daf22f8") format("svg");
  font-weight: 200;
  font-style: italic;
}


@font-face {
  font-family: "Proxima Nova W01_n3";
  src: asset-url("7e90123f_e4a7_4689_b41f_6bcfe331c00a.eot?#iefix") format("eot");
}


@font-face {
  font-family: "Proxima Nova W01";
  src: asset-url("7e90123f_e4a7_4689_b41f_6bcfe331c00a.eot?#iefix");
  src: asset-url("7e90123f_e4a7_4689_b41f_6bcfe331c00a.eot?#iefix") format("eot"), asset-url("64017d81_9430_4cba_8219_8f5cc28b923e.woff2") format("woff2"), asset-url("e56ecb6d_da41_4bd9_982d_2d295bec9ab0.woff") format("woff"), asset-url("2aff4f81_3e97_4a83_9e6c_45e33c024796.ttf") format("truetype"), asset-url("ab9cd062_380f_4b53_b1a7_c0bec7402235.svg#ab9cd062_380f_4b53_b1a7_c0bec7402235") format("svg");
  font-weight: 300;
  font-style: normal;
}


@font-face {
  font-family: "Proxima Nova W01_i3";
  src: asset-url("bc15a635_a09b_40d1_a5c4_70310166177d.eot?#iefix") format("eot");
}


@font-face {
  font-family: "Proxima Nova W01";
  src: asset-url("bc15a635_a09b_40d1_a5c4_70310166177d.eot?#iefix");
  src: asset-url("bc15a635_a09b_40d1_a5c4_70310166177d.eot?#iefix") format("eot"), asset-url("129d49d6_5492_4ed1_96f7_0528c6d53abc.woff2") format("woff2"), asset-url("9c69c878_2255_4027_8632_ed3635cddf45.woff") format("woff"), asset-url("b7eb3871_e910_4522_9982_effb425a2714.ttf") format("truetype"), asset-url("a0d89860_20e5_4bc0_b6c5_eae8ae0ebbbf.svg#a0d89860_20e5_4bc0_b6c5_eae8ae0ebbbf") format("svg");
  font-weight: 300;
  font-style: italic;
}


@font-face {
  font-family: "Proxima Nova W01_n4";
  src: asset-url("87e4b4fc_cdf1_450a_8bed_dd818cba908d.eot?#iefix") format("eot");
}


@font-face {
  font-family: "Proxima Nova W01";
  src: asset-url("87e4b4fc_cdf1_450a_8bed_dd818cba908d.eot?#iefix");
  src: asset-url("87e4b4fc_cdf1_450a_8bed_dd818cba908d.eot?#iefix") format("eot"), asset-url("ae47a7f5_89da_4879_b934_29722c3dd451.woff2") format("woff2"), asset-url("70ae52ec_d89b_4c6a_9402_854ebe423c54.woff") format("woff"), asset-url("6a35571c_ea14_4dac_9ae1_0e7af0abeec8.ttf") format("truetype"), asset-url("ac2bdafc_d4a8_49d0_8a10_4e2f16bf7e3c.svg#ac2bdafc_d4a8_49d0_8a10_4e2f16bf7e3c") format("svg");
  font-weight: 400;
  font-style: normal;
}


@font-face {
  font-family: "Proxima Nova W01_i4";
  src: asset-url("06ebb3e2_5f11_4e26_8736_0f7acb3c7743.eot?#iefix") format("eot");
}


@font-face {
  font-family: "Proxima Nova W01";
  src: asset-url("06ebb3e2_5f11_4e26_8736_0f7acb3c7743.eot?#iefix");
  src: asset-url("06ebb3e2_5f11_4e26_8736_0f7acb3c7743.eot?#iefix") format("eot"), asset-url("df119bf8_cb81_4373_9682_6054d9dd0770.woff2") format("woff2"), asset-url("d2a02f92_9826_4117_ae36_8fcfd72ad46e.woff") format("woff"), asset-url("d786d7d1_696a_47f9_9d03_7608fcb29cc4.ttf") format("truetype"), asset-url("e7fe23f1_b364_4a20_905a_86ed7e89efae.svg#e7fe23f1_b364_4a20_905a_86ed7e89efae") format("svg");
  font-weight: 400;
  font-style: italic;
}


@font-face {
  font-family: "Proxima Nova W01_n5";
  src: asset-url("fbc6b03a_b3a1_427c_a884_053deca3a53c.eot?#iefix") format("eot");
}


@font-face {
  font-family: "Proxima Nova W01";
  src: asset-url("fbc6b03a_b3a1_427c_a884_053deca3a53c.eot?#iefix");
  src: asset-url("fbc6b03a_b3a1_427c_a884_053deca3a53c.eot?#iefix") format("eot"), asset-url("0d416408_95c6_4ad7_b08d_e60573d3b37d.woff2") format("woff2"), asset-url("d999c07b_a049_4eb5_b8a6_4f36ae25e67e.woff") format("woff"), asset-url("4d4a75f5_d32a_4a09_8665_133afd39cc37.ttf") format("truetype"), asset-url("8152bc4e_d700_4c78_b6be_326893e6f53f.svg#8152bc4e_d700_4c78_b6be_326893e6f53f") format("svg");
  font-weight: 500;
  font-style: normal;
}


@font-face {
  font-family: "Proxima Nova W01_i5";
  src: asset-url("cb0c3396_af1a_4c16_95aa_8085e21044c7.eot?#iefix") format("eot");
}


@font-face {
  font-family: "Proxima Nova W01";
  src: asset-url("cb0c3396_af1a_4c16_95aa_8085e21044c7.eot?#iefix");
  src: asset-url("cb0c3396_af1a_4c16_95aa_8085e21044c7.eot?#iefix") format("eot"), asset-url("a6315c03_b55d_42b0_8ed6_79060867137d.woff2") format("woff2"), asset-url("46d5674a_f287_4240_b87a_f207aeb83064.woff") format("woff"), asset-url("9bd640b2_9a56_4391_b213_767ae9c30ef4.ttf") format("truetype"), asset-url("1500822b_1abc_4461_81dd_b48cfcf99020.svg#1500822b_1abc_4461_81dd_b48cfcf99020") format("svg");
  font-weight: 500;
  font-style: italic;
}

@font-face {
    font-family: 'Glyphicons Halflings';
    src: asset-url('glyphicons-halflings-regular.woff') format('woff'),
         asset-url('glyphicons-halflings-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: "taxzestimates";
  src:asset-url("taxzestimates.eot");
  src:asset-url("taxzestimates.eot?#iefix") format("embedded-opentype"),
    asset-url("taxzestimates.woff") format("woff"),
    asset-url("taxzestimates.ttf") format("truetype"),
    asset-url("taxzestimates.svg#taxzestimates") format("svg");
  font-weight: normal;
  font-style: normal;
}

[data-icon]:before {
  font-family: "taxzestimates" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="tz-"],
[class*=" tz-"] {
  vertical-align: middle;
}

[class^="tz-"]:before,
[class*=" tz-"]:before {
  font-family: "taxzestimates" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  vertical-align: middle;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.tz-facebook:before {
  content: "\e000";
}
.tz-twitter:before {
  content: "\e001";
}
