.row
	.col-xs-12
		%table.table.table-striped.table-hover.table-panel.sortable
			%thead
				%tr
					%th
					%th
						= sortable "title"
					%th
						= sortable "url", "URL"
					%th
			%tbody
				- if @videos.length > 0
					- @videos.each do |u|
						%tr
							%td
								- if u.primary == true
									%span.glyphicon.glyphicon-star.text-info{:title => "Primary"}
							%td #{u.title}
							%td
								%a{:href => u.url, :target => "_blank"}
									= u.url
							%td.options
								%a.edit-row{:href => '#', 'data-type' => 'video', 'data-id' => u.id} Edit
								- if u.primary == false
									%a.set-primary{:href => '#', 'data-form-method' => 'PUT', 'data-form-action' => 'primary', 'data-type' => 'video', 'data-id' => u.id} Set as Primary
								- if u.active == true
									- if u.primary == false
										%a.toggle-row.deactivate{:href => '#', 'data-form-method' => 'PUT', 'data-form-action' => 'deactivate', 'data-type' => 'video', 'data-id' => u.id} Deactivate
								- else
									%a.toggle-row.activate{:href => '#', 'data-form-method' => 'PUT', 'data-form-action' => 're-activate', 'data-type' => 'video', 'data-id' => u.id} Re-activate
								- if u.primary == false
									%a.delete-row{:href => '#', 'data-form-method' => 'DELETE', 'data-type' => 'video', 'data-id' => u.id} Delete
				- else
					%tr.placeholder
						%td.text-center{:colspan => 4}
							No videos yet.
	.row.table-options
	.col-xs-3
		%ul.list-inline
			%li Items per page
			%li
				= per_page_link 20
			%li
				= per_page_link 50
			%li
				= per_page_link 100
			%li
				= per_page_link 250
	.col-xs-8.col-xs-offset-1.text-right
		Page #{ @videos.current_page }
		%em of
		= @videos.total_pages
		= will_paginate @videos, { :previous_label => "", :next_label => "" }
