.dashboard-content
	.container.dashboard-text-container
		%form.form-inline{:method => 'get', :action => admin_video_index_path }
			.row
				.col-xs-6.form-group
					%label{:for => 'search-query'} Search by
					= text_field_tag :search, params[:search], {:class => "form-control", :id => "search-query", :placeholder => "Title, description, or URL"}
				.col-xs-6.text-right
					%button#add-item.btn.btn-primary{:type => "button"}
						Add Video
	.container#users-table.dashboard-data
		- if flash[:notice]
			.alert{:class => "alert-" + flash[:type]}
				= flash[:notice]
		= render 'table'
#message-box.modal{"aria-hidden" => "true", :role => "dialog", :tabindex => "-1"}
	.modal-dialog.modal-prompt
		.modal-content
			.modal-body
				%button.close{"aria-label" => "close", "data-dismiss" => "modal", :type => "button"}
					%img{:alt => "&amp;times;", :aria => "{:hidden=&gt;&quot;true&quot;}", :src => asset_path("common/modal-close.png")}
				%span.message
			.modal-footer
				%button#btn-confirm.btn.btn-primary{"data-dismiss" => "modal", :type => "button"} Yes
				%button#btn-deny.btn.btn-default{"data-dismiss" => "modal", :type => "button"} No
#data-form.modal.fade{"aria-hidden" => "true", :role => "dialog", :tabindex => "-1"}
	.modal-dialog
		%form{:method => "post", :action => admin_video_index_path}
			.modal-content
				.modal-header
					%button.close{"aria-label" => "close", "data-dismiss" => "modal", :type => "button"}
						=image_tag "common/modal-close.png", alt: "&times;", aria: { hidden: "true" }
					.modal-title
				.modal-body
					.form-group
						%label{:for => 'video-title'} Video Title
						%input#video-title.form-control{:name => "title", :type => "text", :placeholder => "Title", :required => true}
					.form-group
						%label{:for => 'video-url'} Embed URL
						%input#video-title.form-control{:name => "url", :type => "url", :placeholder => "URL", :required => true}
					.form-group
						%label{:for => 'video-description'} Description
						%textarea#video-description.form-control{:name => "description", :rows => 4, :placeholder => "Short description"}
				.modal-footer
					%input#item-id{:type => "hidden"}
					= hidden_field_tag :authenticity_token, form_authenticity_token
					.pull-right
						%button.btn.btn-default{:type => "button", "data-dismiss" => "modal"} Close
						%button.btn.btn-primary{:type => "submit"} Save

:javascript
	var data_path = "#{ admin_video_index_path }";
	var set_primary_path = "#{ admin_video_primary_path }";
	var toggle_path = "#{ admin_video_toggle_path }";