html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote {
  &:before,
  &:after {
    content: '';
    content: none;
  }
}

q {
  &:before,
  &:after {
    content: '';
    content: none;
  }
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}


body {
  font-family: "Proxima Nova W01", Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 22px;
  color: #888;
}

a {
  outline: 0;
  transition: all 0.5s ease;
  text-decoration: none;
  &:hover,
  img,
  &:focus {
    outline: 0;
    transition: all 0.5s ease;
    text-decoration: none;
  }
}

ol {
  list-style: decimal;
  margin: 20px 0 0 50px;

  li {
    + li {
      margin-top: 20px;
    }

    ol {
      list-style: decimal;
    }
  }
}

.btn {
  &:focus,
  &:active:focus,
  &.active:focus {
    outline: 0;
    transition: all 0.5s ease;
    text-decoration: none;
  }
  &.focus {
    outline: 0;
    transition: all 0.5s ease;
    text-decoration: none;
    &:active {
      outline: 0;
      transition: all 0.5s ease;
      text-decoration: none;
    }
  }
  &.active.focus {
    outline: 0;
    transition: all 0.5s ease;
    text-decoration: none;
  }
}

a {
  color: #40a14c;
  &:hover,
  &:focus,
  &:active {
    color: #2f8c3b;
    text-decoration: none;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Proxima Nova W01",Helvetica, Arial, sans-serif;
  font-weight: 400;
}

a {
  img {
    opacity: .85;
  }
  &:hover img {
    opacity: 1.0;
  }
}

.home {
  .navbar {
    background: #364251;
    padding-top: 17px;
    padding-bottom: 17px;
    color: #fff;
    margin-bottom: 0px;
    border-radius: 0px;
  }
  a.navbar-brand {
    float: left;
    padding: 0px;
    height: auto;
    img {
      opacity: 1.0;
    }
  }
  h1 {
    font-family: "Proxima Nova W01",Helvetica,Arial,sans-serif;
    font-size: 54px;
    font-weight: 400;
    line-height: 60px;
    margin: 0 auto;
    max-width: 730px;
    padding-bottom: 0px;
    text-align: center;
  }
  .lead {
    font-size: 24px;
    font-weight: 200;
    padding-bottom: 90px;
  }
  .navbar-inverse .navbar-nav > li > a {
    color: #d4d9e1;
    font-family: "Proxima Nova W01",Helvetica,Arial,sans-serif;
    font-weight: 500;
    letter-spacing: 0;
    margin-left: 35px;
    padding: 12px 0 0;
    text-shadow: none;
    font-size: 15px;
  }
}

.medwgt {
  font-family: "Proxima Nova W01", Helvetica, Arial, sans-serif;
  font-weight: 400;
}

.cntrme {
  text-align: center;
}

.home {
  .navbar-inverse .navbar-nav > li > a {
    &:hover {
      color: #fff;
    }
    &.signin {
      background: #237dbd;
      border-radius: 3px;
      color: #fff;
      font-size: 15px;
      margin-right: 0;
      margin-top: 5px;
      padding: 6px 20px 8px;
      text-transform: none;
      &:hover {
        background: #2f90d3;
      }
    }
  }
  .navbar-fixed-top,
  .navbar-inverse {
    border: 0px;
  }
}

.homecont {
  text-align: center;
}

.btn {
  font-family: "Proxima Nova W01",Helvetica,Arial,sans-serif;
}

.btn-primary {
  background: none repeat scroll 0 0 #77b526;
  border: none;
  box-shadow: none;
  text-shadow: none;
  &:hover,
  &:focus {
    background: #4fa51b;
  }
}

.home .jumbotron .btn-primary,
#beta .btn-primary {
  border-radius: 50px;
  font-size: 25px;
  letter-spacing: 0.5px;
  line-height: 25px;
  margin-top: 15px;
  padding: 20px 50px;
}

.home .jumbotron {
  background: #2b3543 image-url("website/tzdashb.jpg") no-repeat center center;
  background-size: cover;
  color: #fff;
  margin-top: 15px;
  padding-bottom: 150px;
  padding-top: 190px;
  margin-bottom: -75px;
  p {
    margin-bottom: 0px;
    margin-top: 15px;
  }
}

#partsec {
  background: #f4f6f7 none repeat scroll 0 0;
  margin-top: 75px;
  padding: 30px 0;
}

.mycap {
  display: inline-block;
  font-weight: 300;
  letter-spacing: 0.5px;
  margin-right: 15px;
  color: #8c8c8c;
  font-size: 16px;
}

#partsec {
  img {
    height: 38px;
    width: auto;
    vertical-align: middle;
  }
  a img {
    opacity: 1;
  }
}

.security {
  span {
    display: inline-block;
    font-size: 15px;
    line-height: 19px;
  }
  strong {
    font-weight: 500;
  }
}

.ssl {
  img {
    height: 50px;
    margin-top: -3px;
  }
}

.document {
  font-size: 16px;
  font-weight: 300;
  margin: 100px 0 60px;

  u,
  strong {
    color: #404851;
  }
}

.section-title {
  font-weight: 500;
  margin: 40px 0;
  text-align: center;
}

.section-header {
  font-weight: 500;
  margin: 40px 0;
  text-decoration: underline;
}

.ss-title {
  font-weight: 500;
  margin: 40px 0 20px;
}

p + p {
  margin-top: 30px;
}

h2,
.h2 {
  font-size: 34px;
  letter-spacing: 0.3px;
  line-height: 40px;
  color: #404851;
  font-family: "Proxima Nova W01", Helvetica, Arial, sans-serif;
  font-weight: 300;
}

#beta h2 {
  color: #fff;
  text-align: center;
  margin-bottom: 40px;
}

#about {
  text-align: center;
  font-size: 17px;
  line-height: 26px;
  padding-bottom: 60px;
  padding-top: 70px;
  p {
    font-size: 18px;
    font-weight: 300;
    line-height: 27px;
    margin: 20px 0 0;
  }
}

#beta p,
#enterprise p {
  font-size: 18px;
  font-weight: 300;
  line-height: 27px;
  margin: 20px 0 0;
}

h4,
.h4 {
  color: #404851;
  font-size: 20px;
  font-weight: 300;
  line-height: 27px;
  margin-bottom: 15px;
}

#howto {
  background: transparent image-url("website/abt-scene.jpg") no-repeat scroll center bottom;
  padding-bottom: 430px;
  .steps {
    h4 {
      height: 60px;
      padding: 3px 0 5px 75px;
    }
    &:nth-child(1) h4 {
      background: rgba(0, 0, 0, 0) image-url("website/pinfo.png") no-repeat scroll left top;
      padding: 3px 0 5px 75px;
    }
    &:nth-child(2) h4 {
      background: rgba(0, 0, 0, 0) image-url("website/dash.png") no-repeat scroll left top;
    }
    &:nth-child(3) h4 {
      background: rgba(0, 0, 0, 0) image-url("website/rec.png") no-repeat scroll left top;
    }
    &:nth-child(4) h4 {
      background: rgba(0, 0, 0, 0) image-url("website/ref.png") no-repeat scroll left top;
    }
  }
  p {
    color: #888;
    font-size: 17px;
    font-weight: 300;
    line-height: 23px;
  }
}

.mydash {
  text-align: center;
  margin-top: 50px;
}

#enterprise p {
  font-size: 18px;
  line-height: 26px;
  width: 85%;
  margin: 20px auto 35px;
}

.lnkvid {
  background: image-url("website/playvid.png") no-repeat right center;
  color: #d4d9e1;
  display: inline-block;
  font-size: 15px;
  letter-spacing: 0.5px;
  line-height: 28px;
  padding-right: 30px;
  font-weight: 500;
  &:hover,
  &:focus {
    color: #fff;
  }
}

.underl {
  text-decoration: underline;
  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

#beta {
  background: #40a14c image-url("website/bgent.png") repeat-x scroll center (bottom / 35%) auto;
  color: #daefdd;
  padding: 60px 0;
  text-align: center;
  .ldet {
    text-align: left;
    p:first-child {
      margin-top: 0px;
      padding-top: 0px;
    }
  }
  .btn-primary {
    background: #30893b;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 60px;
    &:hover,
    &:focus {
      background: #fff;
      color: #30893b;
    }
  }
  ul {
    margin-bottom: 60px;
    li {
      background: rgba(0, 0, 0, 0) image-url("website/checklix.png") no-repeat scroll left 5px;
      color: #fff;
      font-size: 17px;
      font-weight: 300;
      line-height: 26px;
      margin-bottom: 20px;
      margin-left: 10px;
      padding-left: 30px;
    }
  }
  strong {
    font-weight: 400;
    color: #fff;
  }
}

#ctafoot {
  background: #32893d;
  padding: 30px 0;
  text-align: center;
}

.ldet p,
.pshot img {
  width: 95%;
}

#enterprise {
  background: #40a14c image-url("website/bgent.png") repeat-x scroll center (bottom / 35%) auto;
  color: #fff;
  padding: 130px 0 130px;
  h2 {
    color: #fff;
  }
  .btn-primary {
    background: none repeat scroll 0 0 #348c40;
    border: none;
    box-shadow: none;
    text-shadow: none;
    color: #fff;
    border-radius: 50px;
    font-size: 20px;
    letter-spacing: 0.5px;
    line-height: 25px;
    margin-top: 15px;
    padding: 15px 50px;
    &:hover,
    &:focus {
      background: #fff;
      color: #40a14c;
    }
  }
}

#diffe {
  padding: 50px 0;
}

.vbox-overlay {
  z-index: 2000;
}

.navbar-fixed-top,
.navbar-fixed-bottom {
  z-index: 1;
}

.datagrid {
  table {
    border-collapse: collapse;
    text-align: left;
    width: 100%;
    td,
    th {
      line-height: 22px;
      padding: 15px 20px;
    }
    thead th {
      background: #3D629E;
      color: #FFFFFF;
      font-size: 16px;
      font-weight: normal;
      &:nth-child(2),
      &:nth-child(3),
      &:nth-child(4),
      &:nth-child(5) {
        width: 10%;
        text-align: center;
      }
      &:first-child {
        border: none;
      }
    }
    tbody {
      td {
        color: #3A3A3A;
        font-size: 15px;
        border-bottom: 1px solid #F3F3F3;
        font-weight: normal;
        text-align: center;
        &:first-child {
          text-align: left;
        }
      }
      .alt td {
        background: #fbfbfb;
        color: #3A3A3A;
      }
      td:first-child {
        border-left: none;
      }
      tr:last-child td {
        border-bottom: none;
      }
    }
  }
  background: #fff;
  overflow: hidden;
  margin: 40px 0 20px;
}

.tw {
  margin-left: 20px;
}

.home .playvid {
  opacity: .9;
  margin: 80px auto;
  display: inline-block;
  &:hover {
    opacity: 1.0;
  }
}

.homecont .col-md-4 > p {
  margin-bottom: 70px;
}

.footer {
  background: #253444 none repeat scroll 0 0;
  color: #a5aeba;
  font-family: "Proxima Nova W01",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 20px;
  margin-top: -7px;
  padding: 25px 0;
  z-index: 100;
  a {
    color: #d4d9e1;
    &:hover {
      color: #fff;
    }
  }
  .col-md-8 a {
    margin: 0 10px;
  }
  .col-md-4 {
    text-align: right;
  }
  .tw {
    display: inline-block;
    float: right;
  }
}

.fb_iframe_widget {
  display: inline-block;
  position: relative;
  float: right;
  margin-left: 15px;
}

.socmed {
  align-items: center;
  display: flex;
  flex-flow: row;
}

.visible-xxs {
  display: none;
}

/** tablet fixes **/

@media only screen and (max-width: 1199px) {
  #howto .steps:nth-child(3),
  #howto .steps:nth-child(4) {
    margin-top: 50px;
  }
}

@media only screen and (max-width: 991px) {
  .partners {
    margin-bottom: 40px;
    text-align: center;
  }

  .copyright {
    margin-bottom: 20px;
    text-align: center;
  }

  .socmed {
    justify-content: center;
  }

  #beta .btn-primary {
    margin-top: 60px;
  }
}

@media only screen and (max-width: 767px) {
  #howto .steps {
    margin-top: 50px;
    text-align: center;

    h4 {
      background-position: center top !important;
      padding: 75px 0 15px !important;
    }
  }

  .navbar-brand {
    margin-left: 20px;
  }

  .home .navbar-inverse .navbar-nav > li > a.signin {
    margin-right: 35px;
  }
}

@media only screen and (max-width: 600px) {
  .copyright {
    .static-links {
      display: block;
    }
  }
}

@media only screen and (max-width: 420px) {
  .home .jumbotron .btn-primary,
  #beta .btn-primary {
    font-size: 20px;
    padding: 15px 20px;
  }
}


/** mobile fixes **/

@media only screen and (min-device-width: 320px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
  
  .home .navbar-inverse .navbar-nav > li > a {
    margin-left: 20px;
  }
  .navbar-toggle {
    margin-top: 10px !important;
  }
  .home .jumbotron {
    margin-top: 15px !important;
    padding-bottom: 80px !important;
    padding-top: 120px !important;
  }
}

.navbar-inverse .navbar-toggle {
  border-color: #455466;
}

.navbar-toggle {
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  float: right;
  margin-bottom: 8px;
  margin-right: 20px;
  padding: 9px 10px;
  position: relative;
  &:hover,
  &:focus {
    background: #455466 !important;
  }
}

.navbar-inverse {
  .navbar-collapse, .navbar-form {
    border: 0px;
  }
}

// temp
.venobox_lnkvid {
  display: none;
}