@import "custom/mixins.scss";

// Foreground colors
$fg-activate:				#809f2a;
$fg-deactivate:			#cf3b3b;
$fg-table-options:	#888;

// Background colors
$bg-filters:        #efefef;

.graph-box {
	border: 1px solid $table-border-color;
	border-radius: 4px;

	.graph-filters {
		background-color: $bg-filters;
		border-radius: 4px;
		font-size: 15px;
		font-weight: 300;
		line-height: 33px;
		margin: 1px;
		padding: 8px 20px;

		&:after {
			clear: both;
			content: " ";
			display: block;
		}

		.filter {
			float: left;

			+ .filter {
				margin-left: 30px;
			}
		}

		.filter-input {
			margin-left: 14px;
			width: 175px;
		}

		label {
			font-size: 15px;
			font-weight: 300;
			margin-bottom: 0;
		}
	}

	.graph-container {
		padding: 30px;
	}

	#graph {
		height: 350px;
		width: 100%;
	}
}

.sortable {
	border: 1px solid $table-border-color;
	margin-bottom: 25px !important;

	td {
		border-top: 0 !important;

		&.options {
			text-align: right;
			
			a + a {
				margin-left: 10px;
			}
		}
	}

	th {
		border-bottom: 0 !important;

		.current {
			padding-right: 15px;
		  background-repeat: no-repeat;
		  background-position: right center;
		}

		.asc {
			background-image: image-url('user/sort-up.png');
		}

		.desc {
			background-image: image-url('user/sort-down.png');
		}
	}
}

.table-options {
	color: $fg-table-options;
	font-size: 15px;
	font-weight: 300;

	a {
		font-weight: 500;

		&.active {
			color: $dark-black;
		}
	}
}

.pagination {
	float: right;
	margin: 0;

	em {
		color: $dark-black;
		font-style: normal;
		font-weight: 500;
	}

	a + em,
	em + a, 
	a + a {
		margin-left: 12px;
	}
}

.activate,
.activate:hover,
.activate:active {
	color: $fg-activate;
}

.delete-row,
.delete-row:hover,
.delete-row:active,
.deactivate,
.deactivate:hover,
.deactivate:active {
	color: $fg-deactivate;
}

.form-inline {
	.form-group {
		align-items: center;
		display: flex;
		flex-flow: row;

		>label {
			font-size: 15px;
			font-weight: 300;
			margin: 0 15px 0 0;
		}

		>input {
			flex: 1;
		}
	}
}