= content_for :title, "Individual Tax Management Software"
.jumbotron
  .container
    .row
      .col-md-12.cntrme
        %h1 Increase your take home pay with each paycheck
        %p.lead The simplest way to understand your personal tax position.
        %a.btn.btn-primary.btn-lg{:href => "/register", :role => "button"}
          Get Started -
          %span.medwgt It's Free
        %p
          %a.venobox_lnkvid.lnkvid{"data-type" => "iframe", :href => "http://www.powtoon.com/embed/fRjHGMOTMXs/"} Watch our Video
%section#partsec
  .container
    .row
      .col-md-3.col-md-offset-1.partners
        %span.mycap Our Partner
        %a{:href => "#", :target => "_blank"}
          =image_tag "website/sofi.png", alt: "SoFi"
      .col-md-1.col-sm-2.col-xs-2.ssl
        =image_tag "website/comodo-secure.png", alt: "Comodo Secure"
      .col-md-6.col-sm-10.col-xs-10.security
        %span
          %strong Can I trust TaxBestimates with my information?
          TaxBestimates uses high level encryption and security to protect access to your personal and income information.
%section#about
  .container
    %h2 About TaxBestimates
    %p
      TaxBestimates is focused on helping individual taxpayers optimize their tax position and increase their take home pay with each paycheck. Our web app has built in tax management and tax filing tools to help better manage and file your taxes with the click of a button.
      %a.underl{:href => "/register"} Sign up for free
      and increase your take home pay today!
%section#howto
  .container
    .row
      .col-lg-3.col-sm-6.steps
        %h4 Provide Information
        %p Provide us with your background and earnings information.
      .col-lg-3.col-sm-6.steps
        %h4 Tax Dashboard
        %p View your Federal and State tax position in real-time.
      .col-lg-3.col-sm-6.steps
        %h4 Implement Tax-Saving Options
        %p We provide tax-saving options that are specific to your tax position.
      .col-lg-3.col-sm-6.steps
        %h4 Increase your Take Home Pay
        %p Implement a tax-saving option and increase your take home pay.
%section#beta
  .container
    %h2 Beta Launch
    .row
      .col-md-5.ldet
        %p
          The Beta Launch of TaxBestimates will focus on the
          %strong 1040EZ filer
          and strive to rapidly expand our offering to cater to individuals with more complex tax scenarios.
        %p View the criteria below to see if TaxBestimates is right for you.
        %p.mylist
          %ul
            %li Single or Married Filing Joint filing status
            %li No dependents (Children or Relatives)
            %li Under the age of 65 years and were not blind
            %li Taxable Income is less than $100,000 (we''ll help you compute this figure)
            %li The standard deduction will be taken
            %li Income sources include W-2 salary, tips, unemployment income, and taxable interest income less than $1,500.
      .col-md-7.pshot
        =image_tag "website/dashboardx.png", alt: ""
    %a.btn.btn-primary.btn-lg{:href => "/register", :role => "button"}
      Get started today!
:javascript
  var is_home = true;