!!!
/[if lt IE 7] <html class="no-js lt-ie9 lt-ie8 lt-ie7">
/[if IE 7] <html class="no-js lt-ie9 lt-ie8">
/[if IE 8] <html class="no-js lt-ie9">
/ [if gt IE 8]><!
%html.no-js{'xmlns' => "http://www.w3.org/1999/xhtml", 'xmlns:og' => "http://ogp.me/ns#"}
  / <![endif]
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}
    %meta{:content => "noindex, nofollow", :name => "robots"}
    %title
      = 'TaxBestimates | ' + yield(:title) || 'TaxBestimates'
    %meta{:content => "TaxBestimates is a web application that can increase your take home pay by providing users with tax tools that allow for full transparency into their tax position in real time. The software equips tax options that can save them an average of $400 a month. Users can also file their 1040ez tax return with the click of a button.", :name => "description"}
    %meta{:content => "tax management, tax filings, 1040ez, W-4, tax withholdings, simple tax filings, tax software, 1040a, 1040, tax projections, tax planning, tax projections, tax tool, taxbestimates, 540, tax options, tax recommendations,  tax automation", :name => "keywords"}
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
    %meta{:content => "Increase your take home pay with each paycheck.", :name => "description"}/
    %meta{:content => "Join TaxBestimates!", :property => "og:title"}/
    %meta{:content => request.protocol + request.host + asset_path('common/fbgraph.jpg'), :property => "og:image"}/
    %meta{:content => "TaxBestimates", :property => "og:site_name"}/
    %meta{:content => "product", :property => "og:type"}/
    %meta{:content => "Increase your take home pay with each paycheck.", :property => "og:description"}/
    %meta{:content => "https://www.taxbestimates.com", :property => "og:url"}/
    = favicon_link_tag 'favicon.ico'
    = csrf_meta_tag
    = stylesheet_link_tag :website
    = javascript_include_tag :website_header

  %body.home
    #fb-root
    :javascript
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=519024581485885&version=v2.0";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));</script>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    %section#home
      %nav.navbar.navbar-inverse.navbar-fixed-top{:role => "navigation"}
        .container
          .navbar-header
            %button.navbar-toggle.collapsed{"aria-controls" => "navbar", "aria-expanded" => "false", "data-target" => "#navbar", "data-toggle" => "collapse", :type => "button"}
              %span.sr-only Toggle navigation
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar
            %a.navbar-brand{:href => "#"}
              =image_tag "common/logo.png", alt: "TaxBestimates"
          #navbar.navbar-collapse.collapse
            %ul.nav.navbar-nav.navbar-right
              %li
                %a{:href => "/#home"} Home
              %li
                %a{:href => "/#about"} About Us
              %li
                %a{:href => "/#beta"} Beta Launch
              %li
                %a.external{:href => "mailto:info@taxbestimates.com"} Contact Us
              %li
                = link_to("Sign In", login_path, class: 'signin external')
    = yield
    %footer.footer
      .container
        .row
          .col-md-8.col-sm-12.copyright
            \&copy; 2015 TaxBestimates Inc. All rights reserved.
            %span.static-links
              = succeed "|" do
                %a{:href => "terms-and-conditions"} Terms and Conditions
              %a{:href => "privacy-policy"} Privacy Policy
          .col-md-4.col-sm-12.socmed
            .fb-like{"data-action" => "recommend", "data-href" => "https://www.facebook.com/TaxBestimatesInc", "data-layout" => "button_count", "data-share" => "true", "data-show-faces" => "false"}
            .tw
              %a.twitter-share-button{"data-hashtags" => "taxbestimates", "data-url" => "http://www.taxbestimates.com", :href => "https://twitter.com/share"} Tweet
              :javascript
                !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
    = javascript_include_tag :website_footer
    :javascript
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-69529108-1', 'auto');
      ga('send', 'pageview');