@import "custom/mixins.scss";

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
html {
  position: relative;
  height: 100%;
}

body {
  font-family: "Proxima Nova W01", Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: #5a5a5a;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: -moz-scrollbars-vertical;
  overflow-y: scroll;
}

.main-container {
  display: flex;
  flex-flow: column;
  flex: 1;

  >div {
    display: flex;
    flex-flow: column;
    flex: 1;
  }
}

.content-container {
  display: flex;
  flex-flow: column;
  flex: 1;

  >div {
    display: flex;
    flex-flow: column;
    flex: 1;

    >.container {
      display: flex;
      flex-flow: column;
      flex: 1;

      >.row {
        display: flex;
        flex-flow: row;
        flex: 1;

        >.div {
          height: 100%;
        }
      }
    }
  }
}

.user-photo-full {
  width: 100%;
}

.btn {
  border-radius: 3px;
  font-size: $fs-btn;
  font-weight: 700;
  border: 0;
  background-image: none;
  padding: 12px 16px;
  text-shadow: none;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;

  &:not(.btn-block) {
    padding: 12px 26px;
  }
}

.btn-upload-pic {
  text-transform: none !important;
}

.btn-default {
  background-color: $bg1-btn-default;
  color: $fg-btn-default;

  &:hover,
  &:focus {
    background-color: $bg2-btn-default;
    color: $fg-btn-default;
  }
}

.btn-primary {
  background-color: $bg1-btn-primary;
  color: $fg-btn-primary;

  &:hover,
  &:focus {
    background-color: $bg2-btn-primary;
    color: $fg-btn-primary;
  }
}

.btn-danger {
  background-color: $bg1-btn-danger;

  &:hover,
  &:focus {
    background-color: $bg2-btn-danger;
  }
}

.btn-info {
  background-color: $bg1-btn-info;
  color: $fg-btn-info;

  &:hover,
  &:focus {
    background-color: $bg2-btn-info;
    color: $fg-btn-info;
  }
}

.btn-block {
  margin: 5px 0;
}

.btn-sm {
  padding: 9px 15px;
}

.close {
  margin-right: -15px;
  margin-top: -15px !important;
  opacity: .9;
  outline: 0;

  &:hover {
    opacity: 1;
  }

  &:active,
  &:focus {
    outline: 0;
  }
}

.alert-dismissible {
  .close {
    top: 5px;
    right: -11px;
  }
}

.hide-alert {
  background: 0 0;
  border: 0;
  padding: 0;
  cursor: pointer;
  float: right;
  font-size: 21px;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  filter: alpha(opacity=20);
  opacity: .2;
}

.form-horizontal {
  font-size: $fs-panel; 

  .form-group {
    + .form-group {
      margin-top: 20px;
    }

    &.radio-group {
      .radio {
        padding-top: 0;
      }
    }

    .form-control + .form-control {
      margin-top: 10px;
    }
  }

  .control-label {
    font-size: $fs-panel; 
    font-weight: 400;
    padding-top: 0 !important;
    text-align: left;
  }
}

.radio {
  label + label {
    margin-left: 30px;
  }
}

.fuse-inputs {
  >[class^="col-"]:first-child,
  >[class*=" col-"]:first-child {
    padding-right: 5px;
  }

  >[class^="col-"]:last-child,
  >[class*=" col-"]:last-child {
    padding-left: 5px;
  }
}

.input-group {
  .input-group-addon {
    -webkit-transition: border ease-in-out .15s;
    -o-transition: border ease-in-out .15s;
    transition: border ease-in-out .15s;

     &.focus {
      border: 1px solid $border-focus;
      border-right: none;
      color: $fg-focus;
    }
  }

  &.disabled {
    .input-group-addon {
      background-color: $bg-form-disabled;
    }
  }

  .input-group-addon {
    background-color: $bg-form-addon;
    color: $fg-form-ph;

    + input {
      border-left: 0;
      box-shadow: none;
      padding-left: 0;
    }
  }
}

[type='number'] {
  -moz-appearance: textfield;
}

[type='number']::-webkit-outer-spin-button,
[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.nav-tabs {
  border-bottom-color: $bg-tab-active;

  li {
    a,
    a:hover {
      background-color: $bg-tab;
      border-bottom-color: $bg-tab-active;
      color: $fg-tab;
      margin-right: 10px;
      padding: 10px 30px;
    }

    &:first-child {
      a {
        margin-left: 8px;
      }
    }
  }

  li.active a,
  li a:active,
  li a:focus {
    background-color: $bg-tab-active !important;
    border-color: $bg-tab-active !important;
    color: $fg-tab-active !important;
  }
}

.tab-common-sub-title {
  margin-top: 25px;
}

.modal-content {
  border-radius: 4px;
  padding: 25px;
  pointer-events: auto;

  .container-fluid {
    padding-left: 0;
    padding-right: 0;
  }

  .form-intro {
    color: $fg-form-intro;
    font-size: $fs-panel;
    font-weight: 300;
    margin-bottom: 20px;
  }

  label {
    font-size: $fs-panel;
    font-weight: 400;
  }

  textarea {
    resize: none;
  }
}

.modal {
  text-align: center;
  padding: 0!important;

  &:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px;
  }
}


.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
  width: 490px;
}

.modal-header {
  border-bottom: none;
  padding: 0 0 20px;
}

.modal-body {
  padding: 0;
}

.modal-title {
  color: $fg-gusto-title;
  font-size: 17px;
}

.modal-footer {
  padding: 28px 0 6px;
}

.modal-lg {
  width: 680px;

  .form-horizontal {
     .control-label {
      text-align: right;
      white-space: nowrap;
    }
  }
}

.modal-prompt {
  width: 288px;

  .modal-body {
    text-align: center;
  }

  .modal-footer {
    border: none;
    text-align: center;
  }
}

.person-name {
  color: $dark-black;
  font-weight: 700;
  margin: 33px 0 15px;
}

.action-link {
  color: $fg-side-link;
  cursor: pointer;
  font-size: $fs-action-link;

  u {
    border-bottom: 1px solid $border-underline;
    text-decoration: none;
  }
}

.panel-income-info {
  background: $bg-job image-url('user/bg-job.png') no-repeat left bottom;
  border: 1px solid $border-job-outer;
  border-radius: 0;
  box-shadow: none;
  font-weight: 300;
  margin-bottom: 10px;
  padding: 2px 2px 28px;
  -webkit-box-shadow: none;

  &.open {
    .btn-toggle-job {
      background: image-url('user/job-arrow-down.png') no-repeat;
    }
  }

  .job-title {
    color: $fg-job-head;
    float: left;
    font-size: 16px;
    line-height: 90%;
    margin-left: 15px;
  }

  h5 {
    color: $fg-job-sub-head;
    font-size: 16px;
    font-weight: 400;
    position: relative;
    text-align: center;

    &:before {
      background-color: $border-job-line;
      content: "";
      display: block;
      height: 1px;
      position: absolute;
      top: 50%;
      width: 100%;
    }

    span {
      background-color: $bg-job;
      padding: 0 15px;
      position: relative;
      z-index: 1;
    }
  }

  .panel-heading {
    background-color: $bg-job-heading;
    border-radius: 0;
    padding: 13px 15px;

    &:after {
      clear: both;
      content: " ";
      display: block;
    }
  }

  .panel-body {
    border-radius: 0;
    border: 2px solid $border-job-inner;
    border-top: none;
    color: $fg-job;
    font-size: 14px;
    padding: 20px 15px;

    .inline-label {
      font-weight: 300;
      margin-right: 10px;
    }

    .row + .row {
      margin-top: 5px;
    }

    .input-group-addon {
      border: 0;
      border-bottom: 1px solid $border-job-input;
      padding: 0;
    }

    [type="text"],
    [type="number"] {
      border: none;
      border-bottom: 1px solid $border-job-input;
      color: $dark-black;

      &:focus {
        outline: none;
      }
    }

    // custom field widths
    .company_name {
      width: 295px;
    }

    .date_of_pay_stub,
    .paycheck_frequency {
      width: 140px;
    }

    .is_currently_employed {
      width: 53px;
    }

    .currency-fields {
      >.row {
        padding-left: 10px;
        padding-right: 10px;

        >* {
          padding-left: 5px;
          padding-right: 5px;
        }
      }

      input {
        text-align: right;
        width: 100%;
      }
    }

    // custom select styling
    .select2-container {
      text-align: left;
    }

    .select2-container-active {
      -webkit-box-shadow: none;
      box-shadow: none;
    }

    .select2-choice {
      background: none;
      border-radius: 0;
      border: none;
      border-bottom: 1px solid $border-job-input;
      height: auto;
      line-height: inherit;
      padding: 0;

      .select2-chosen {
        padding: 0;
      }
    }

    .select2-arrow {
      background: none;
      border-left: none;
      border-radius: 0;
      width: 14px;

      b {
        background: image-url('user/job-select-arrow.png') no-repeat center center;
      }
    }
  }

  .btn-toggle-job {
    background: image-url('user/job-arrow-right.png') no-repeat;
    display: inline-block;
    float: left;
    height: 14px;
    width: 14px;
  }

  .btn-delete-job {
    background: image-url('user/job-delete.png') no-repeat;
    display: inline-block;
    float: right;
    height: 14px;
    width: 14px;
  }
}

.select2-search {
  padding-top: 5px;
}

.select2-drop-active {
  border: 1px solid $border-job-input;
  border-radius: 0;
}

.gusto-modal {
  .modal-sub-title {
    font-size: 15px;
  }

  ol {
    margin-left: 0;
    padding-left: 0;
    padding-right: 0;
    list-style-type: none;

    >li {
      counter-increment: step-counter;
      font-size: 15px;
      line-height: 25px;
      padding-left: 32px;
      position: relative;

      &::before {
        content: counter(step-counter);
        font-size: 14px;
        background-color: $bg-ol-numbers;
        color: $fg-ol-numbers;
        font-weight: bold;
        border-radius: 12px;
        position: absolute;
        top: 0;
        left: 0;
        line-height: 25px;
        height: 25px;
        text-align: center;
        width: 25px;
      }

      + li {
        margin-top: 8px;
      }
    }
  }

  .panel {
    background-color: $bg-panel;
    border-color: $border-panel;
    margin: 25px 0 0 40px;
  }

  .panel-body {
    padding: 10px 15px 15px;
  }

  .panel-title {
    color: $blue-text;
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 10px;
  }

  .checklist-item {
    align-items: center;
    display: flex;
    flex-flow: row;
    font-size: 14px;

    + .checklist-item {
      margin-top: 5px;
    }
  }

  .check-box {
    margin-right: 5px;
  }
}

small {
  color: $fg-small;
  font-size: $fs-small;
  display: block;
}

h4 {
  font-size: 20px;
}

.clearfix {
  clear: both;
  overflow: auto;
}

.navbar-brand, .navbar-nav > li > a {
  text-shadow: none !important;
}

.progress {
  margin-bottom: 5px;
}

a {
    color: $link;
}

a, a:hover, a:focus {
   outline: medium none;
}

a:hover {
    color: $link;
    text-decoration: none;
    cursor: pointer;
}

table.table-panel {
  font-weight: 300;

  &.table-hover {
    tbody > tr:not(.placeholder) {
      &:hover {
        background: #e7ecd8;
      }
    }
  }

  &:not(.sortable) {
    td:nth-child(2) {
      font-weight: 500;
    }
  }

  th, td {
    padding: 10px 20px !important;
    font-size: 15px;
  }

  th {
    background: $thead-bg;
    color: $thead-text;
  }

  tbody > tr {
    background: #fff;
    &:nth-child(even) {
      background: #f7f7f7;
    }
  }

  // custom class
  td.amount { text-align: right; }
}

table.tax-summary {
  border: 0;
  font-weight: 300;

  tr + tr {
    td {
      border-top: 1px solid #f7f7f7;
    }
  }

  th {
    background-color: #e9edde;
    color: #779621;
    padding: 13px 0;
    text-align: center;
    text-transform: uppercase;
  }

  td {
    font-size: 15px;
    padding: 14px 0;

    &:nth-child(2) {
      font-weight: 500;
    }
  }

  .total {
    td {
      background-color: #f7f7f7;
      font-size: 16px;
      font-weight: 500;
    }
  }
}

.alert ul {
  margin-bottom: 0;
  padding-left: 40px;
}


ul {
  line-height: 25px;
  padding-left: 0;

  &.indented {
    margin-left: 10px;
  }

  li.bullet {
    background: image-url("user/bullet.png") no-repeat 0 12px;
    padding: 3px 0px 3px 15px;
    list-style: none;
    margin: 0;
  }
}

// chart stuff

#income-chart {
  display: block;
  margin: 0 auto;
  height: 210px;
  width: 100%;
}

#income-chart-legend {
  font-size: 14px;
  margin-top: 20px;

  .color-box,
  .label-box {
    padding-left: 5px;
    padding-right: 5px;
  }

  .color-swatch {
    border-radius: 3px;
    display: inline-block;
    height: 12px;
    margin-top: 4px;
    width: 12px;
  }
}

/** inner **/

.select2-container {
  margin-bottom: 0;
  vertical-align: top;

  .select2-choice {
    height: 34px;

    .select2-chosen {
      padding: 4px 0px;
    }
  }

  &.error {
    border: 1px solid #a94442;
    border-radius: 5px;
  }
}



#error_explanation {
  h2 {
    display: none;
  }
}

.flash {
  text-align: center;
  // BOOTSTRAP .alert

  &.warning {
    background-color: #FCfC50;
  }

  &.error{
    background-color: #EE4400;
  }

  &.notice {
    background-color: #44CCFF;
  }
}

input {
  &.error {
    border-color: #a94442;
  }
}

.loading-animation {
  @include loading-animation;
}


// DATEPICKER
.ui-datepicker {
  background-color: #fff;
  border: 1px solid #66AFE9;
  border-radius: 4px;
  box-shadow: 0 0 8px rgba(102,175,233,.6);
  display: none;
  margin-top: 4px;
  padding: 10px;
  width: 240px;
  z-index: 10 !important;
}
.ui-datepicker a,
.ui-datepicker a:hover {
  text-decoration: none;
}
.ui-datepicker a:hover,
.ui-datepicker td:hover a {
  color: #2A6496;
  -webkit-transition: color 0.1s ease-in-out;
     -moz-transition: color 0.1s ease-in-out;
       -o-transition: color 0.1s ease-in-out;
          transition: color 0.1s ease-in-out;
}
.ui-datepicker .ui-datepicker-header {
  margin-bottom: 4px;
  text-align: center;
}
.ui-datepicker .ui-datepicker-title {
  font-weight: 700;
}
.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
  cursor: default;
  font-family: 'Glyphicons Halflings';
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-weight: normal;
  height: 20px;
  line-height: 1;
  margin-top: 2px;
  width: 30px;
}
.ui-datepicker .ui-datepicker-prev {
  float: left;
  text-align: left;
}
.ui-datepicker .ui-datepicker-next {
  float: right;
  text-align: right;
}
.ui-datepicker .ui-datepicker-prev:before {
  content: "\e079";
}
.ui-datepicker .ui-datepicker-next:before {
  content: "\e080";
}
.ui-datepicker .ui-icon {
  display: none;
}
.ui-datepicker .ui-datepicker-calendar {
  table-layout: fixed;
  width: 100%;
}
.ui-datepicker .ui-datepicker-calendar th,
.ui-datepicker .ui-datepicker-calendar td {
  text-align: center;
  padding: 4px 0;
}
.ui-datepicker .ui-datepicker-calendar td {
  border-radius: 4px;
  -webkit-transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
     -moz-transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
       -o-transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
          transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
}
.ui-datepicker .ui-datepicker-calendar td:hover {
  background-color: #eee;
  cursor: pointer;
}
.ui-datepicker .ui-datepicker-calendar td a {
  text-decoration: none;
}
.ui-datepicker .ui-datepicker-current-day {
  background-color: #4289cc;
}
.ui-datepicker .ui-datepicker-current-day a {
  color: #fff
}
.ui-datepicker .ui-datepicker-calendar .ui-datepicker-unselectable:hover {
  background-color: #fff;
  cursor: default;
}

// BANNER
.banner {
  color: $fg-banner;
  display: none;
  font-size: 15px;
  line-height: 19px;
  padding: 9px 0;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 1000;

  &.warning {
    background-color: $bg-banner-warning;
  }

  &.notice {
    background-color: $bg-banner-notice;
  }
}


// HEADER NAVIGATION
nav.navbar {
  border-radius: 0px;
  margin: 0;
  border: 0;
}

nav.main-navbar {
  background: $bg1-navbar;
  background: -moz-linear-gradient(left, $bg1-navbar 0%, $bg2-navbar 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, $bg1-navbar), color-stop(100%, $bg2-navbar));
  background: -webkit-linear-gradient(left, $bg1-navbar 0%, $bg2-navbar 100%);
  background: -o-linear-gradient(left, $bg1-navbar 0%, $bg2-navbar 100%);
  background: -ms-linear-gradient(left, $bg1-navbar 0%, $bg2-navbar 100%);
  background: linear-gradient(to right, $bg1-navbar 0%, $bg2-navbar 100%);
  height: 65px;
  z-index: 2;
  .navbar-right {
    align-items: center;
    display: flex;
    flex-flow: row;

    >li {
      &:not(.dropdown) {
        margin-right: 25px;
        padding-right: 25px;
        border-right: 1px solid #58677c;
      }
    }

    .user-photo {
      @include circle(45px);
      max-height: 45px;
      max-width: 45px;
    }

    a {
      background-color: transparent !important;
      background-image: none !important;
      padding: 10px 0;
      -webkit-box-shadow: none !important;
      box-shadow: none !important;

      &:active,
      &:focus,
      &:hover {
        background-color: transparent !important;
        background-image: none !important;
        -webkit-box-shadow: none;
        box-shadow: none;
      }
    }

    .name {
      font-size: 15px;
      margin-right: 10px;
      margin-left: 10px;
      color: $header-grey;
    }

    .dropdown-menu {
      background-color: $bg-dropdown;
      border: 1px solid $border-dropdown;
      border-radius: 4px !important;
      margin-right: -9px;
      margin-top: -16px;
      min-width: 185px;

      &.top:before {
        position: absolute;
        top: -7px;
        right: 9px;
        display: inline-block;
        border-right: 7px solid transparent;
        border-bottom: 7px solid #fff;
        border-left: 7px solid transparent;
        content: '';
        z-index: 9999;
      }

      li + li {
        border-top: 1px solid $border-dropdown-a;
      }

      a {
        color: $fg-dash-link;
        height: 34px;
        line-height: 34px;
        padding: 0 16px;

        &:hover {
          color: $fg-dash-link !important;
          background-color: $bg-dropdown-hover !important;
        }
      }
    }
  }
}

// .navbar-collapse {
//   background: #394557;
//   border-color: #394557 !important;
// }


// SUBNAV
nav.sub-navbar {
  // height: 60px;
  background: $blue;

  #sub-navbar {
    padding: 0;
  }

  li {
    + li {
      a {
        margin-left: 40px;
      }
    }

    a {
      padding: 20px 0;

      .icon {
        height: 20px;
        width: 20px;
        margin-right: 8px;
        display: inline-block;
        vertical-align: bottom;
        background: image-url("user/sub-nav-icons.png") no-repeat;
      }

      .icon-dashboard {
        background-position: 0 -20px;
      }

      .icon-info {
        background-position: -20px -20px;
      }

      .icon-recommendations {
        background-position: -40px -20px;
      }

      .icon-archive {
        background-position: -60px -20px;
      }

      .icon-filing {
        background-position: -80px -20px;
      }

      .icon-users {
        background-position: -100px -20px;
      }

      .icon-platform {
        background-position: -120px -20px;
      }

      .icon-admin {
        background-position: -140px -20px;
      }

      &:hover, &:focus {
        background-color: transparent;
        color: $white-text !important;

        .icon-dashboard {
          background-position: 0 0;
        }

        .icon-info {
          background-position: -20px 0;
        }

        .icon-recommendations {
          background-position: -40px 0;
        }

        .icon-archive {
          background-position: -60px 0;
        }

        .icon-filing {
          background-position: -80px 0;
        }

        .icon-users {
          background-position: -100px 0;
        }

        .icon-platform {
          background-position: -120px 0;
        }

        .icon-admin {
          background-position: -140px 0;
        }

      }
    }

    &:not(.active) {
      a {
        color: $disabled-text;
      }
    }

    &.active {
      a {
        color: $white-text;

        .icon-dashboard {
          background-position: 0 0;
        }

        .icon-info {
          background-position: -20px 0;
        }

        .icon-recommendations {
          background-position: -40px 0;
        }

        .icon-archive {
          background-position: -60px 0;
        }

        .icon-filing {
          background-position: -80px 0;
        }
      }
    }
  }
}

// CONTENTS
.content-container {
  background: $white-grey;
}


// DASHBOARD
.dashboard-content {
  margin-bottom: 30px;

  .dashboard-text-container {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .tax-result-container {
    margin-bottom: 35px;
  }

  .message-board-container {
    background: $white-grey image-url("user/board-arrow.png") no-repeat right center;
    background-size: 156px;
    padding: 20px;
    text-align: left;
    border: 1px solid $table-border-color;
    border-radius: 5px;
    height: 145px;

    .title {
      display: block;
      color: $dark-black;
      font-size: 17px;
      margin-bottom: 10px;
    }
  }

  .table-panel {
    margin-bottom: 40px;
  }
}

// PERSONAL INFORMATION
.personal-information {
  background: linear-gradient(90deg, white 50%, $grey-bg 50%);

  .field-note {
    color: $fg-small;
  }

  .personal-info-filter-container {
    padding-top: 30px;
    padding-right: 0;
    .options {
      padding: 15px;

      color: $fg-side-link;
      cursor: pointer;
      border-bottom: 1px solid $grey-border;

      &.sub-option {
        padding-left: 30px;
      }

      &.active {
        border-radius: 6px 0 0 6px;
        background: #dce2eb;
        font-weight: 500;
      }

      &.disabled,
      &.null {
        color: #bbbbbb;
        cursor: default;
      }

      &.beforeActive {
        border-bottom: 1px solid white;
      }
    }
  }

  .personal-info-content-container {
    background: $grey-bg;
    padding-top: 30px;
    min-height: 500px;
    box-shadow: 10px 0 6px -4px $bg-drop-shadow inset;

    .step-container {
      font-size: 15px;
      min-height: 600px;
      margin-bottom: 40px;
      padding-left: 10px;

      .title-container {
        text-transform: uppercase;
        .step {
          color: #a0a0a0;
          margin-right: 10px;
        }

        .title {
          color: #3a3a3a;
        }
      }

      hr.divider {
        margin-top: 15px;
        margin-bottom: 30px;
      }

      .content-row {
        margin-bottom: 15px;

        .left-content {
          width: 200px;
          padding-right: 25px;
          display: inline-block;
          vertical-align: top;

          &.filing-status-left {
            width: 250px;
          }
        }

        .right-content {
          width: calc(100% - 205px);
          display: inline-block;

          >div:not(.info-box) {
            white-space: nowrap;
          }

          &.filing-status-right {
            width: calc(100% - 278px);
          }

          .input-field {
            width: 100%;
            display: inline-block;
            margin-right: 10px;
            margin-bottom: 10px;

            &:last-child {
              margin-right: 0;
            }

            // 20%
            &[name=social_security_number]
              { width: 20%; }

            // 40%
            &[name=first_name],
            &[name=last_name],
              { width: 40%; }

            // 39%
            &[name=city] { width: 39%; }

            // 10%
            &[name=job_count] { width: 10%; }


            // CUSTOM
            &[name=mi] { width: 98px }
            &[name=jobs_count] { width: 82px }
            &[name=zip] { width: 112px }
            &[name=months_without_health_insurance] { width: 123px; }
          }

          // select2 width
          .select2-container {
            margin-right: 10px;

            &.birth_month {
              width: 20%;
            }

            &.birth_day {
              width: 10%;
            }

            &.birth_year {
              width: 15%;
            }

            &.filing_status, &.income_type {
              width: 50%;
            }

            &.state {
              width: 39%;
            }

          }
        }

        .info-box {
          margin-top: 20px;
          width: 100%;
          padding: 20px 15px;
          display: block;
          background: linear-gradient(0, #f2f5fa, #f9fbff);
          border: 1px solid #e0e5eb;
          border-radius: 3px;
          font-size: 14px;
          line-height: 22px;

          .info-icon {
            height: 28px;
            width: 29px;
            display: inline-block;
            background: image-url("user/info.png") no-repeat;
            margin-right: 10px;
          }

          .info-content {
            vertical-align: top;
            display: inline-block;
            width: calc(100% - 45px);
          }

          .info-title {
            margin-bottom: 15px;
            color: #4c5a7d;
          }

          .info-subtitle {
            color: #7884a4;
          }
        }
      }

      .form-buttons-container {
        float: right;
        text-align: right;

        * + * {
          margin-left: 10px;
        }
      }
    }
  }
}

// table checks and crosses
td.check-icon,
td.cross-icon {
  width: 45px;
}

.check-icon-photo,
.cross-icon-photo {
  height: 20px;
  width: 20px;
  display: inline-block;
  margin: 0 auto !important;
}

.check-icon-photo {
  background: image-url("user/check-icon.png") no-repeat;
}

.cross-icon-photo {
  background: image-url("user/cross-icon.png") no-repeat;
}

// RECOMMENDATIONS
.recommendations-content  {
  padding-top: 35px;
  padding-bottom: 40px;

  div + .tax-options {
    margin-top: 25px;
  }

  // TABS
  .nav-tabs {
    border-bottom: 2px solid $bg-rec-tab-active;

    li {
      margin-bottom: -2px;

      a,
      a:hover {
        background-color: $bg-rec-tab;
        border: 0;
        border-bottom: 2px solid $bg-rec-tab-active;
        color: $fg-rec-tab;
        margin-right: 10px;
        padding: 10px 30px;
      }

      &:first-child {
        a {
          margin-left: 8px;
        }
      }
    }

    li.active a,
    li a:active,
    li a:focus {
      border: 0;
      background-color: $bg-rec-tab-active !important;
      border-bottom: 2px solid $bg-rec-tab-active !important;
      color: $fg-rec-tab !important;
    }
  }

  // PILLS
  .nav-pills {
    margin-top: 10px;

    li {
      a,
      a:hover {
        background-color: $bg-pill;
        border-radius: 33px;
        color: $fg-pill;
        font-size: 15px;
        font-weight: 400;
        padding: 10px 23px;
      }

      &:first-child {
        a {
          margin-left: 8px;
        }
      }
    }

    li.active a,
    li a:active,
    li a:focus {
      background-color: $bg-pill-active !important;
      color: $blue-text !important;
    }
  }

  // TABLE
  .recommendations-table,
  .financial-impact-table {
    border: 1px solid #e0e5eb;
    border-radius: 5px;
    background: #fff;

    th {
      text-align: center;
      padding: 20px;

      .title {
        font-size: 19px;
        color: $blue-text;
      }

      .computation-date {
        font-size: 16px;
      }
    }

    td.recommendation-text {
      font-size: 15px;
    }

    td.recommendation-form {
      width: 130px;
      text-align: center;

      .download-btn {
        width: 100%;
      }
    }

    tr {
      td {
        border-top: 0;
        padding-bottom: 20px;
        padding-top: 20px;

        &:first-child {
          padding-left: 20px;
        }
        
        &:last-child {
          padding-right: 20px;
        }
      }
    }
  }

  .gusto-table {
    background-color: $bg-gusto;
    border-color: $border-gusto;

    tr {
      background-color: inherit !important;
    }

    td {
      font-size: 15px;
      padding: 20px;

      &:first-child {
        padding-right: 0;
      }
    }

    a {
      color: $fg-gusto-link;
      text-decoration: underline;
      text-decoration-color: $fg-gusto-link-ul;
    }
  }

  .zp-info-container {
    .zp-info {
      font-size: 20px;
      text-align: center;
      display: block;
      margin-top: 25px;
    }

    .zp-img {
      height: 85px;
      width: 200px;
      display: inline-block;

      background: image-url("user/zp-logo.png") no-repeat;
      background-size: 200px;
    }
  }

  .latest-results-text {
    font-size: 17px;
  }

  .latest-results-container {
    .result-box {
      margin-bottom: 25px;

      &:first-child {
        margin-top: 25px;
      }
    }
  }
}

.glyphicon-question-sign {
  color: $blue;
  cursor: pointer;
  margin-left: 8px;
  font-size: 0.8em;
}

.popover {
  background-color: $bg-popover !important;
  font-size: 0.8em;

  &.bottom .arrow:after {
    border-bottom-color: $bg-popover !important;
  }

  >.popover-content {
    background-color: $bg-popover !important;
  }
}

.alert-danger {
  margin-bottom: 30px;

  .glyphicon {
    margin-right: 8px;
  }

  ul {
    margin-top: 10px;
  }
}

.result-details {
  margin-top: 20px;

  table {
    margin-bottom: 0;
  }

  .form-buttons-container {
    align-items: center;
    display: flex;
    flex-flow: row;
    float: none !important;
    justify-content: center;
  }
}

// ARCHIVE
.archive-content {
  padding-top: 35px;
  padding-bottom: 40px;

  .table {
    margin-bottom: 0;

    th {
      text-transform: uppercase;
      font-size: 14px;

      &.download-btn-header {
        width: 140px;
      }
    }

    .align-right { text-align: right }
    .align-center { text-align: center }

    .archive-row {
      font-size: 15px;

      td {
        vertical-align: middle;
      }

      .month-text {
        text-align: center;
      }

      .form-buttons {
        width: 360px;
      }

      .pdf-td {
        .pdf-icon {
          height: 20px;
          width: 20px;
          display: block;
          margin: 0 auto;
          background: image-url("user/pdf-icon.png") no-repeat;
        }
      }
    }

    tfoot td {
      padding: 30px 0;
    }
  }
}

.download-btn {
  font-size: 12px;
  padding: 3px 12px !important;
  text-transform: uppercase;
  background-color: #748db6;
  color: white;

  &:hover,
  &:focus {
    background-color: #33598F;
  }
}

//ANNUAL FILING
.annual-filing-content {
  font-size: 20px;
  .file-taxes-container {
    margin: 100px auto;
    min-height: 500px;
    text-align: center;
    width: 700px;

    .icon-1040ez {
      height: 114px;
      width: 100px;
      display: block;
      margin: 0 auto 30px;
      background: image-url("user/1040ez.png") no-repeat;
    }

    .sub-title {
      color: #395f99;
    }
  }
}

// Footer
// --------------------

footer {
  background: $bg1-footer;
  background: -moz-linear-gradient(left, $bg1-footer 0%, $bg2-footer 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, $bg1-footer), color-stop(100%, $bg2-footer));
  background: -webkit-linear-gradient(left, $bg1-footer 0%, $bg2-footer 100%);
  background: -o-linear-gradient(left, $bg1-footer 0%, $bg2-footer 100%);
  background: -ms-linear-gradient(left, $bg1-footer 0%, $bg2-footer 100%);
  background: linear-gradient(to right, $bg1-footer 0%, $bg2-footer 100%);
  color: $fg-footer;
  font-size: $fs-footer;
  height: 80px;

  .container {
    height: 100%;
  }

  .row {
    height: 100%;
    width: 100%;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    align-items: center;
  }

  .fb-like {
    margin: 0 10px 5px 0;
  }

  a {
    color: $fg-footer-link;
    margin: 0 10px;

    &:hover {
      color: $fg-footer-link;
    }
  }
}



// COMMON
.text {
  @include text;
}

.green { color: $green; }
.red { color: $red; }
.blue { color: $thead-text; }

.result-box {
  background: white;
  padding: 20px !important;
  text-align: center;
  border: 1px solid $table-border-color !important;
  border-radius: 4px;

  .title {
    display: block;
    color: $dark-black;
    font-size: 17px;
    text-transform: uppercase;
  }

  .sub-text {
    color: $light-black;
    font-size: 15px;
  }

  .value {
    font-size: 40px;
    font-weight: bold;
  }

  &.aca {
    margin: 30px 0;
    padding: 20px 0;

    .title {
      color: $blue-text;
      font-weight: 700;
      text-transform: none;
    }

    .table {
      margin-top: 30px;

      td {
        border-top: none !important;
        padding: 15px;
      }
    }

    .scenario {
      text-align: left;
    }
  }
}

.table-curved {
    border-collapse: separate;
}
.table-curved {
    border: solid $table-border-color 1px;
    border-radius: 5px;
}
.table-curved th {
    border-top: none !important;
    border-bottom: none !important;
}
.table-curved td {
    border-top: none;
    border-bottom: none;
}
.table-curved th:first-child {
    border-radius: 5px 0 0 0;
}
.table-curved th:last-child {
    border-radius: 0 5px 0 0;
}
.table-curved th:only-child{
    border-radius: 5px 5px 0 0;
}
.table-curved tr:last-child td:first-child {
    border-radius: 0 0 0 5px;
}
.table-curved tr:last-child td:last-child {
    border-radius: 0 0 5px 0;
}

// Override color for striped table
.table-striped > tbody > tr:nth-child(odd) {
  background-color: $odd-color;
}


// MEDIA QUERIES
@media (max-width: 991px) {
  .recommendations-content {
    .col-xs-4 { text-align: center; }
  }

  footer {
    text-align: center;
    .col-xs-8 { margin-bottom: 10px; }
    .social-btns { text-align: center; }
  }
}



// PERSONAL INFO STEPS

.exemptions-step {
  .total-dependents-container {
    float: left;

    .total-dependents-count {
      font-weight: bold;
    }
  }

}


.income-info-step {
  font-size: 15px;

  .income-forms-container {
    padding: 25px 50px;
  }

  .form-row {
    height: 35px;
    margin-bottom: 15px;

    &.sub-section {
      font-size: 16px;
      color: #395f99;
    }

    // dropdowns
    .date_of_pay_stub, .paycheck_frequency { width: 100%; }
    // .number_of_allowances { width: 75px; }
  }


  .align-center {
    text-align: center;

    .form-row {
      line-height: 35px; // Fixes vertical align issue
    }
  }
  // &.income-info-joint {

  // }
}
