!!! Strict
%html
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %title= @title
    :css
      p, h1 { -webkit-text-size-adjust: none; } /* ipad and iphone fix. Somtimes makes text bigger by default and we do not want this. */
      .yshortcuts { border-bottom: none !important; color: #666666 !important; } /* yahoo! shortcuts fix. Resets automatic search results link insertion. Change color to body text color. */
      .red { color: #ff3300; }
      .green { color: #00cc33; }
      .section-content { margin-left: 20px; }
  %body{:bgcolor => "#e9f3fc", :style => "margin: 0; padding: 0;"}
    / 100% body table
    %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
      %tr
        %td{:bgcolor => "#e9f3fc"}
          / top
          %table{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "600"}
            %tr
              %td{:align => "center", :height => "45"}
                /
                  <p style="font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #8dafd3; margin-top: 0px; margin-bottom: 0px; padding: 0px;">
                  Having trouble with images? No worries, <a style="text-decoration: underline; color: #446692;" href="#">open this mail in your browser.</a></p>
          / / top
          %table{bgcolor: "#e9f3fc", border: "0", cellpadding: "0", cellspacing: "0", width: "100%"}
            %tr
              %td
                %table{align: "center", bgcolor: "#fff", boder: "0", cellpadding: "0", cellspacing: "0", width: "630px", style: "border-collapse: collapse; color: #3a3a3a; font-family: Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif; font-size: 15px" }
                  %tr
                    %td
                      %div{style: "padding: 10px 30px 30px 30px"}
                        = yield :layout
          / / bottom
          %table{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "630"}
            %tr{style: "background: #446692; color: #c7d2e0; font-size: 14px; font-family: Helvetica, Arial, sans-serif; margin: 30px 0 0 0; text-align: center;"}
              %td{style: "padding: 25px 0 20px 0; width: 630px;"}
                Follow the TaxBestimates story:
                %a{href: "https://twitter.com/taxzestimates", style: "color: #fff;"} @taxzestimates
          / / footer
    / / 100% body table
