<div class='annual-filing-content'>
  <div class='container'>
    <div class='row'>
      <div class='col-xs-12'>
        <div class='file-taxes-container'>
          <div>
            <i class='icon-1040ez'></i>
          </div>
          <p class='sub-title'>
            TaxBestimates Annual Tax Filing Center
          </p>
          <p>
            Starting in Q1 of <%= tz.YEAR + 1 %>, users will be able to e-file their Federal and State tax returns for the <%= tz.YEAR %> tax year.
            <br><br>
            Preview your tax return draft now.
            <br><br>
          </p>

          <p>
            <div class="row">
              <div class="col-xs-4 col-xs-offset-2">
                <a href="<%= model.form1040ezLink() %>" class='btn btn-primary btn-lg btn-block' target='_blank'>Federal Return</a>
              </div>
              <div class="col-xs-4">
                <a href="<%= model.form540ezLink() %>" class='btn btn-primary btn-lg btn-block' target='_blank'>State Return</a>
              </div>
            </div>
          </p>

        </div>
      </div>
    </div>
  </div>
</div>
