<tr class='archive-row'<%= hidden ? ' style="display: none"' : '' %>>
  <td class='month-text'><%= monthText %></td>
  <td class='pdf-td'><span class='pdf-icon'></span></td>
  <td><%= model.createdAtAmericanFormat() %></td>
  <td><%= model.dateText() %></td>
  <td><%= model.filingStatusText() %></td>
  <!-- <td class='align-center'><%= model.dependentsCount() %></td> -->
  <td class="align-right <%= model.amountColorClass('federal_result') %>"><%= model.federalResult() %></td>
  <td class="align-right <%= model.amountColorClass('state_result') %>"><%= model.stateResult() %></td>
  <td class='form-buttons align-center'>
    <a href="<%= model.form1040ezLink() %>" target='_blank'><button class='btn download-btn'>1040 EZ</button></a>
    <a href="<%= model.form540ezLink() %>" target='_blank'><button class='btn download-btn'>540 EZ</button></a>
  </td>
</tr>
