<div class='archive-content'>
  <div class='container'>
    <div class='row'><div class='col-xs-12'>
      <table id="archive-table" class="table table-striped table-curved table-responsive">
        <thead>
          <tr>
            <th></th>
            <th></th>
            <th>Created</th>
            <th>Last Paycheck</th>
            <th>Filing Status</th>
            <!-- <th class='align-center'>Dependents</th> -->
            <th class='align-right'>Federal Refund</th>
            <th class='align-right'>State Refund</th>
            <th class='download-btn-header'></th>
          </tr>
        </thead>
        <tbody>
        </tbody>
        <tfoot class="hide">
          <tr>
            <td colspan="8" class="text-center">
              <button class="btn btn-primary" id="btn-show-all">Show All</button>
            </td>
          </tr>
        </tfoot>
      </table>
    </div></div>
  </div>
</div>
