<div class='dashboard-content'>
  <div class='container dashboard-text-container'>
    <div class='row'>
      <div class='col-xs-12 dashboard-text text'>
        <%= model.dashboardText() %>
      </div>
    </div>
  </div>
  <div class='container'>
    <div class='row'>
      <div class='col-xs-4 tax-result-container federal-container'>
      </div>
      <div class='col-xs-4 tax-result-container state-container'>
      </div>
      <div class='col-xs-4 tax-result-container'>
        <div class='message-board-container'>
          <span class='title'>Message Board</span>
          <ul>
            <li class='bullet'><a href='#personal_information/1'>Update personal information</a></li>
            <li class='bullet'><a href='#options'>View your tax options</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class='container'>
    <div class='row'>
      <div class="col-xs-8">
        <div class="row">
          <div class='col-xs-6'>
            <table class='table table-striped table-curved table-responsive table-panel' id='federal-tax-credits-table'>
              <thead>
                <tr>
                  <th colspan='2'>Available Federal Tax Credits</th>
                </tr>
              </thead>
              <tbody>
              </tbody>
            </table>
          </div>
          <div class='col-xs-6'>
            <table class='table table-striped table-curved table-responsive table-panel' id='state-tax-credits-table'>
              <thead>
                <tr>
                  <th colspan='2'>Available California Tax Credits</th>
                </tr>
              </thead>
              <tbody>
              </tbody>
            </table>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <table class='table table-curved table-responsive tax-summary' id='tax-summary-table'>
              <thead>
                <tr>
                  <th colspan='2'>Tax Summary</th>
                </tr>
              </thead>
            <tbody>
              <tr>
                <td>Federal Effective Tax Rate</td>
                <td class='text-right' id='federal-tax-rate'></td>
              </tr>
              <tr>
                <td>State Effective Tax Rate</td>
                <td class='text-right' id='state-tax-rate'></td>
              </tr>
              <tr class='total'>
                <td>Combined Effective Tax Rate</td>
                <td class='text-right' id='effective-tax-rate'></td>
              </tr>
            </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="col-xs-4">
        <canvas id="income-chart"></canvas>
        <div id="income-chart-legend" class="row"></div>
      </div> 
    </div>
  </div>
</div>
