<table class="table table-striped table-curved table-responsive financial-impact-table">
  <thead>
    <tr>
      <th colspan='2'>
        <div class='recommendations-table-title'>
          <div class='title'>
            Financial Impact of your Tax Options
          </div>
        </div>
      </th>
    </tr>
  </thead>
  <tbody>
  </tbody>

</table>
