<div class='personal-information'>
  <div class='container'>
    <div class='row'>
      <div class='personal-info-filter-container col-xs-3'></div>
      <div class='personal-info-content-container col-xs-9'></div>
    </div>
  </div>
</div>
