<a class="step-link" href='#personal_information/1'><div id='filter-personal-info' class='options active' data-step='1' data-view='personalInfo'>Personal Information</div></a>

<a class="step-link" href='#personal_information/2'><div id='filter-filing-status' class='options' data-step='2' data-view='filingStatus'>Filing Status</div></a>

<!-- <a href='#personal_information/3'><div id='filter-exemptions' class='options' data-step='3' data-view='exemptions'>Number of Exemptions</div></a> -->

<a class="step-link" href='#personal_information/3'><div id='filter-dependents' class='options' data-step='3' data-view='dependents'>Spouse Information</div></a>

<a class="step-link" href='#personal_information/4'><div id='filter-income-info' class='options' data-step='4' data-view='incomeInfo'>Income Information</div></a>

<a class="step-link" href='#personal_information/5'><div id='filter-other-income' class='options sub-option' data-step='5' data-view='otherIncome'>Other Income</div></a>

<a class="step-link" href='#personal_information/6'><div id='filter-aca' class='options' data-step='6' data-view='aca'>Affordable Care Act</div></a>

<a class="step-link" href='#personal_information/7'><div id='filter-results' class='options results' data-step='7' data-view='results'>Tax Projections</div></a>

<!-- <a href='#options'><div id='filter-recommendations' class='options recommendations' data-step='x' data-view='results'>Tax Options</div></a> -->
