<table class="table table-striped table-curved table-responsive recommendations-table">
  <thead>
    <tr>
      <th colspan='3'>
        <div class='recommendations-table-title'>
          <div class='title'>
            Your Tax Options
          </div>
          <div class='computation-date'>
            for your <%= job.dateText() %> computation
          </div>
        </div>
      </th>
    </tr>
  </thead>
  <tbody>
  </tbody>

</table>
