<div class='recommendations-content'>
  <div class="container">
    <ul class="nav nav-tabs" role="tablist">
      <% if(model.jobs.length > 0) { %>
      <li role="presentation" class="active"><a id="tab-primary-user" href="#primary-user" aria-controls="primary-user" role="tab" data-toggle="tab"><%= model.fullName() %></a></li>
      <% } %>
      <% if(model.isFilingJoint()) { %>
        <% if(model.spouse.jobs.length > 0) { %>
        <li role="presentation"<% if(model.jobs.length == 0) { %> class="active"<% } %>><a id="tab-secondary-user" href="#secondary-user" aria-controls="secondary-user" role="tab" data-toggle="tab"><%= model.spouse.fullName() %></a></li>
        <% } %>
      <% } %>
    </ul>
  </div>
  <div class="tab-content">
    <div class="container">
      <% if(model.jobs.length > 0) { %>
      <div role="tabpanel" class="tab-pane fade in active" id="primary-user">
        <ul class="nav nav-pills<% if(!showPills) { %> hide <% } %>"></ul>
      </div>
      <% } %>
    <% if(model.isFilingJoint()) { %>
      <% if(model.spouse.jobs.length > 0) { %>
      <div role="tabpanel" class="tab-pane fade<% if(model.jobs.length == 0) { %> in active<% } %>" id="secondary-user"<% if(model.jobs.length > 0) { %> style="display: none;"<% } %>>
        <ul class="nav nav-pills<% if(!showPills) { %> hide <% } %>"></ul>
      </div>
      <% } %>
    <% } %>
    </div>
  </div>
  <div class='container tax-options'>
    <div class='row'>
      <div class="tab-content col-xs-8" id="job-content"></div>

      <div class='col-xs-4'>
        <span class='latest-results-text'>Your Latest Tax Projections</span>
        <div class='latest-results-container'>

        </div>

        <a href="#archive" class='btn btn-primary btn-block'>Download Your Tax Projections</a>
      </div>
    </div>
  </div>
</div>
