<div role="tabpanel" class="tab-pane fade<%= for_spouse ? ' spouse-job' : '' %><%= first ? ' in active' : '' %>" id="job-<%= job.getID() %>">
  <div class='recommendations-box'></div>
  <div class='financial-impact-box'></div>
  <div class='gusto-box'></div>
</div>