<tr>
  <td class='check-icon'>
    <span class="check-icon-photo"></span>
  </td>
  <td class='recommendation-text'><%= recommendation.text %></td>
  <td class='recommendation-form'><a class='btn download-btn' href='<%= recommendation.link.url %>' target='_blank'><%= recommendation.link.text %></a></td>
</tr>
