<li role="presentation"<%= first ? ' class="active"' : '' %>><a href="#job-<%= job.getID() %>" aria-controls="job-<%= job.getID() %>" role="tab" data-toggle="tab">Job <%= index %>: <strong><%= job.companyName() %></strong></a></li>