<div class='sub-nav'>
  <nav class="navbar sub-navbar" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button aria-controls="navbar" aria-expanded="false" class="navbar-toggle collapsed" data-target="#sub-navbar" data-toggle="collapse" type="button">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="navbar-collapse collapse" id="sub-navbar">
        <ul class="nav navbar-nav">
          <li id='sub-dashboard'><a href='/tax#dashboard'><span class='icon icon-dashboard'></span>Dashboard</a></li>
          <li id='sub-personal-information'><a href='/tax#personal_information/1'><span class='icon icon-info'></span>Personal Information</a></li>
          <li id='sub-recommendations'><a href='/tax#options'><span class='icon icon-recommendations'></span>Tax Options</a></li>
          <li id='sub-archive'><a href='/tax#archive'><span class='icon icon-archive'></span>Computation Archive</a></li>
          <li id='sub-annual-filing'><a href='/tax#annual_filing'><span class='icon icon-filing'></span>Annual Filing</a></li>
        </ul>
        <% if (admin == true) { %>
        <ul class="nav navbar-nav navbar-right">
          <li id='sub-admin' class='pull-right'><a href='/admin'><span class='icon icon-admin'></span>Switch to Admin</a></li>
        </ul>
        <% } %>
      </div>
    </div>
  </nav>
</div>
