<div class='result-box'>
  <span class='title'><%= title %></span>
  <span class='sub-text'>
    <% if (amount < 0) { %>
      Your refund will be
    <% } else { %>
      You will owe
    <% } %>
  </span>
  <div>
    <% color = amount < 0 ? 'green' : 'red' %>
    <div class='value <%= color %>'>
      <span class='dollar'>$</span>
      <span class='amount'>
        <%= tz.utils.formatNumber(Math.abs(amount).toFixed(2)) %>
      </span>
    </div>
  </div>
</div>
