<table class="table table-striped table-curved table-responsive gusto-table">
  <tbody>
    <tr>
      <td class="col-xs-11">
      	Using Gusto (ZenPayroll)? Sign into your account and update your tax withholdings without using a W-4. <a href="#" data-toggle="modal" data-target="#gusto-instructions-<%%= job.getID() %>">View Instructions</a>
      </td>	
      <td class="col-xs-1">
      	<img src="<%= asset_path "user/gusto-logo.png" %>" alt="Gusto">
      </td>
    </tr>
  </tbody>
</table>

<div class="modal fade gusto-modal" id="gusto-instructions-<%%= job.getID() %>" tabindex="-1" role="dialog" aria-labelledby="gusto-modal-title">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><img src="<%= asset_path "common/modal-close.png" %>" alt="&times;"></button>
				<div class="modal-title" id="gusto-modal-title">Updating your withholdings in Gusto (ZenPayroll)</div>
				<div class="modal-sub-title">For the period ending on <span id="gusto-period-<%%= job.getID() %>"></span></div>
			</div>
			<div class="modal-body">
				<ol>
					<li>Sign into your account</li>
					<li>Select "Details" on the left side bar</li>
					<li>Scroll to the bottom of the page</li>
					<li>Update your withholdings
						<div id="gusto-fed-box-<%%= job.getID() %>" class="panel panel-default">
							<div class="panel-body">
								<div class="panel-title">Federal Taxes</div>
								<div class="checklist-item">
									<img class="check-box" src="<%= asset_path "user/check-box.png" %>" alt=""><strong>Filing Status</strong>&nbsp;-&nbsp;<span id="gusto-fed-filing-status-<%%= job.getID() %>"></span>
								</div>
								<div class="checklist-item non-exempt hide">
									<img class="check-box" src="<%= asset_path "user/check-box.png" %>" alt=""><strong>Total Allowances</strong>&nbsp;-&nbsp;<span id="gusto-fed-allowances-<%%= job.getID() %>"></span>
								</div>
								<div class="checklist-item non-exempt hide">
									<img class="check-box" src="<%= asset_path "user/check-box.png" %>" alt=""><strong>Additional Withholding</strong>&nbsp;-&nbsp;<span id="gusto-fed-withholding-<%%= job.getID() %>"></span>
								</div>
							</div>
						</div>
						<div id="gusto-state-box" class="panel panel-default">
							<div class="panel-body">
								<div class="panel-title">State Taxes</div>
								<div class="checklist-item">
									<img class="check-box" src="<%= asset_path "user/check-box.png" %>" alt=""><strong>Filing Status</strong>&nbsp;-&nbsp;<span id="gusto-state-filing-status-<%%= job.getID() %>"></span>
								</div>
								<div class="checklist-item">
									<img class="check-box" src="<%= asset_path "user/check-box.png" %>" alt=""><strong>Total Allowances</strong>&nbsp;-&nbsp;<span id="gusto-state-allowances-<%%= job.getID() %>"></span>
								</div>
								<div class="checklist-item">
									<img class="check-box" src="<%= asset_path "user/check-box.png" %>" alt=""><strong>Additional Withholding</strong>&nbsp;-&nbsp;<span id="gusto-state-withholding-<%%= job.getID() %>"></span>
								</div>
							</div>
						</div>
					</li>
				</ol>
			</div>
		</div>
	</div>
</div>